[2018-10-04 10:58] jbothma opened #1396 "suggestion: Help user represent the data correctly."
For certain datasets it's crucial that the user disaggregates or filters by Financial Year and Budget Phase.

I tried to add the following description to [this dataset](https://openspending.org/viewer/b9d2af843f3a7ca223eea07fb608e62a:estimates-of-provincial-expenditure-south-africa-2018-19-ec-social-dev?measure=%22value.sum%22&rows%5B%5D=%22economic_classification_2.economic_classification_2%22&ro

[2018-10-08 15:40] jbothma opened #1397 "Duplicate key error when try to create a datapackage using apparently fine dataset"
![packager-epre-subprogrammes](https://user-images.githubusercontent.com/235801/46619154-ad7fe700-cb21-11e8-937a-afaf817e3bb1.png)

[code]
https://gist.githubusercontent.com/jbothma/9316ae05b96e10c50751c45c2187c4bd/raw/bae9b395028f7614f4a995170bf129049a043d0d/epre-subprogrammes-2018-19-from-jonathan.csv

[2018-10-08 16:16] jbothma commented on #1397
I actually did have duplicate rows, forgot to ignore amount column when checking dupes locally.

[2018-10-08 16:16] #1397 closed

[2018-10-08 17:01] jbothma opened #1398 "suggestion: Better feedback on duplicate key errors"
When our national treasury data owners will be uploading datasets, the python stack trace of a duplicate key error probably won't help them much to resolve the error.

I suggest catching the error, and presenting a simpler message message like "More than one row with the exact same classification dimensions", and an option to show a detailed/advanced message containing the stack trace.

If that's

[2018-10-08 17:01] jbothma commented on #1398
here's an example of a stack trace as shown in Packager at the moment https://github.com/openspending/openspending/issues/1397

[2018-10-09 06:36] brew commented on #1398
Thanks - I agree. It's a common issue, and there should be a clearer message.

[2018-10-09 12:03] jbothma opened #1399 "Packager Fiscal and Unknown custom date format not picked up"
[code]

fiscal year date
![openspending-packager-fiscal-date-format](https://user-images.githubusercontent.com/235801/46667945-61897c80-cbcb-11e8-9443-4581fac31fd6.png)
![openspending-packager-fiscal-date-format-error](https://user-images.githubusercontent.com/235801/46668064-bb8a4200-cbcb-11e8-98f0-60cae0012c54.png)

unknown mapping date
![openspending-packager-unknown-mapping-date-format](https:

[2018-10-09 12:15] jbothma opened #1400 "When the data is loading into the DB, it looks like nothing is happening"
There is a progress bar but it isn't moving.

Perhaps it could show an infinite progress bar for that status.

Even better would be to show a "Progress last checked: 2018-01-01 14:..." or something to show there is life even if we can't tell the progress in detail?

I know that it's progressing now and can check the browser's network log, but non-tech users might think it's broken and not know to

[2018-10-09 12:18] jbothma commented on #1399
A workaround for now is adding the data with the type `unknown dimension #1 code (unknown ❯ string-1 ❯ code)`

[2018-10-10 13:38] brew commented on #1400
Agreed - we did fix the issue where progress simply didn't complete, but this is a separate problem. I'm thinking we perhaps remove the progress bar completely, and have a series of checks for each step that illuminate to show they are complete.

[2018-10-12 13:51] brew opened #1401 "Edit datapackage not working"
User report of datapackage edit from admin not working. Example dataset: https://openspending.org/packager/describe-data?package=https:%2F%2Fdatastore.openspending.org%2F930d78e87629bfd287940d4249f5a1c3%2Fpr_2018_compare_expenditures_al_final_csv%2Fdatapackage.json

[2018-10-18 09:15] brew commented on #1401
There are a couple of problems preventing users editing. Not all relevant for the datapackage linked above.

1) If a package is uploaded/updated via os-data-importers, then no `package.owner` is set. This means the package won't be available in a user's `/admin` list. This has been fixed by the commits above.

2) Being able to edit requires that a package is available in the datastore at `<package

[2018-10-19 06:24] jbothma opened #1402 "OS Viewer says "No data to display" when there was an error"
I suggest you show a message like "Something went wrong" and if possible what they can do to rectify or investigate.

I tend to think a non-scary notice that something went wrong is more useful to users than making it appear like everything's ok but for some puzzling reason you don't get the expected outcome.

In this case there was a server error because of another issue which I'll raise in a sep

[2018-10-19 06:32] jbothma opened #1403 "Replacing a datapackage where column names change doesn't correctly update model in Elasticsearch item"
I sometimes need to upload a datapackage again because I named the measure column something which my app doesn't expect.

## Expected outcome

It looks like I can replace the datapackage by giving it the same ID in OS Viewer. I expect by selecting a new file, mapping columns to types and uploading to the old OD, it will completely replace the old datapackage and the measure field name will be fixe

[2018-10-22 14:40] brew commented on #1401
Datapackages created with datapackage-pipelines-fiscal (e.g. with os-data-importers), will now create an Openspending compatible datapackage.json, suitable for editing within os-packager, as an artefact. Note, editing a package created by os-data-importers may be overridden the next time the importers pipeline is run.

[2018-10-22 14:40] #1401 closed

[2018-10-23 07:58] #1257 closed

[2018-10-23 07:58] #1260 closed

[2018-10-23 08:08] brew commented on #1387
@sandervdwaal The community site is very out of date. I suggest we remove the broken link, rather than fix it.

[2018-10-23 14:48] #1363 closed

[2018-10-23 14:49] brew commented on #1363
@florent-andre @jbothma Thank you both. This should now be fixed.

[2018-10-30 09:08] jbothma opened #1404 "Bar chart embed URL doesn't update upon each change"
Not sure if this is just for bar chart or for any views.

Expected behaviour
-------------------------

If I add a bar chart and set some filters to get the view I want, then open the short URL on the embed code popup, I expect to see the view I just generated

Actual behaviour
---------------------

I actually get the default view (what I saw when I just opened the dataset in OS viewer, before se

[2018-10-30 10:11] jbothma commented on #1393
@brew said everything can be based off the datapackage.json which is already linked to from OS Viewer:
- [datapackage.json](http://datastore.openspending.org/b9d2af843f3a7ca223eea07fb608e62a/amount-kind-test/final/datapackage.json)
- `"name": "amount-kind-test"`
- full CSV file is `resources[0]` and has `"path": "data/aene-fdp-amount-kind-test.csv"` relative to the datapackage.json resulting in da

[2018-10-30 10:11] #1393 closed

[2018-10-30 10:12] jbothma commented on #1394
see https://github.com/openspending/openspending/issues/1393#issuecomment-434242799

[2018-10-30 10:12] #1394 closed

[2018-11-01 12:17] jbothma opened #1405 "CSV download provides invalid CSV when values contain commas"
If this is using the babbage built-in CSV output, it's probably caused by babbage building its own CSV https://github.com/openspending/babbage/issues/5#issuecomment-435022733

[2018-11-02 14:14] jbothma opened #1406 "Support for non-integer fiscal year"
In South Africa, financial year is generally written 2018/19 or 2018-19 but OpenSpending currently requires financial year to be an integer.

Apparently financial year rarely is a perfect calendar year - so I imagine a lot of regions needing this change.

As a workaround, I'm using the staring year, which is convention among some, but it might be confusing to non-experts and is frowned upon by som

[2018-11-02 14:51] akariv commented on #1406
I think that 'rarely' is probably an exaggeration -
https://en.wikipedia.org/wiki/Fiscal_year
Still, I understand the need. We could add another type for 'string based'
fiscal years - as far as OpenSpending goes, it doesn't care if the year
dimension is an integer or a string (in theory, at least).

On Fri, Nov 2, 2018 at 4:14 PM JD Bothma <notifications@github.com> wrote:

[2018-11-02 16:32] jbothma commented on #1406
Sounds like a sensible way of approaching it. Thanks for the response.

[2018-11-12 13:15] jbothma opened #1407 "Packager upload broken - template request error"
nothing happens when I click Continue after setting column types.

The JS console shows this error:

[code]

![openspending-upload-error](https://user-images.githubusercontent.com/235801/48349739-c08c5680-e68d-11e8-910c-0334005a0860.png)

[2018-11-12 13:30] jbothma commented on #1407
Thanks for the quick response - will try again and provide a dataset to
test with.

JD

On Mon, 12 Nov 2018 at 15:27, Brook Elgie <notifications@github.com> wrote:

[2018-11-12 13:42] jbothma commented on #1407
Works now - must have been a network error or something. Thanks again for checking so quick.

[2018-11-12 13:42] #1407 closed

[2018-11-14 14:24] brew opened #1408 "Remove os-data-importers from OpenSpending nginx config"
As part of #1381, we're moving the os-data-importers pipeline dashboard from `/pipelines`, to is own subdomain, `https://pipelines.openspending.org`. Once this is done, we need to remove `/pipelines` from [os-nginx-frontend](https://github.com/openspending/openspending/blob/f11269dde6377a4f71d2b3ae2f9e3bc2812649be/Dockerfiles/os-nginx-frontend/server-rules.conf#L117-L126) and https://github.com/op

[2018-11-15 15:47] brew opened #1409 "Update apps to use datapackage-pipelines v2"
Several apps in OpenSpending use [datapackage-pipelines](https://github.com/frictionlessdata/datapackage-pipelines) and [datapackage-pipelines-fiscal](https://github.com/openspending/datapackage-pipelines-fiscal); [os-api](https://github.com/openspending/os-api/blob/master/.travis.yml#L39) (in tests), [os-conductor](https://github.com/openspending/os-conductor/blob/master/conductor/blueprints/pack

[2018-11-20 11:56] brew commented on #1389
I've added the translations for os-viewer, they can be seen here as an example: https://openspending.org/viewer/667df60aa07c34260eae9b55b2778712:presupuesto_mexico?lang=hr

There are a few strings we missed, for the new Viewer Defaults feature. These would be good to also have translated, namely:

[code]

@sandervdwaal Can you request these additional strings from Croatia?
@tlacoyodefrijol It woul

[2018-11-20 14:23] sandervdwaal commented on #1389
@brew Updated file has been received by email, including the new text labels. Can you please ensure to use this new file as Boris indicated there were updates to other strings as well.

[2018-11-20 15:58] brew commented on #1389
This is done. I'll close this and create a new one for the Spanish updates.

[2018-11-20 15:58] #1389 closed

[2018-11-20 16:00] brew opened #1410 "Additional os-viewer translations for es"
Since we added the Viewer Defaults feature, we need to update translations to include strings in the new UI elements:

[code]

[2018-11-21 16:03] tlacoyodefrijol commented on #1410
Spanish translation @brew
`{
  "Save View as Default": "Guardar Como Vista Predeterminada",
  "Reset View": "Reiniciar Vista",
  "Reset to Defaults": "Volver a Predeterminado",
  "This will save the current view as the<br>default for all users of this dataset.<br>Are you sure?": "Esto guardará la vista actual como<br>predeterminada para todos los usuarios de este conjunto de datos<br>¿Estás seguro

[2018-11-21 16:08] brew commented on #1410
Thanks @tlacoyodefrijol !

[2018-11-22 09:13] brew commented on #1410
Closed by https://github.com/openspending/os-viewer/commit/292464200bd5f5e8e299fe5a13b5aceef636f326.

[2018-11-22 09:13] #1410 closed

[2018-11-22 10:11] brew commented on #1387
Closed by https://github.com/openspending/os-packager/commit/3942b4b6d7d95a41c71f7305c8d6ae0dcfcc5916.

[2018-11-22 10:11] #1387 closed

[2018-11-22 10:14] brew commented on #1409
These apps have been updated to use dpp V2 in the basic way of just updating the library dependency with no fundamental changes to datapackage-pipelines-fiscal.

I'll create a separate issue for updating the processors within dpp-fiscal to use Dataflow flows.

[2018-11-22 10:14] #1409 closed

[2018-11-22 13:42] brew opened #1411 "Clean up temp files after pipelines have run"
os-data-importers writes several temporary files during a pipelines run. These take up a lot of storage space, and aren't currently removed once the pipeline has finished.

Add a step to the datapackage-pipelines-fiscal pipeline generator to remove these temporary files after all pipelines have completed.

[2018-11-22 14:02] brew opened #1412 "Document how Redis is used by Openspending"
Redis is used by several apps in Openspending. We also make use of Redis's numbered databases to segregate data depending on its use. This isn't documented anywhere, and I can be confusing which db does what in the main Redis instance.

Use this issue to document how Redis is used, and which numbered db does what, in Openspending.

[2018-11-23 16:06] jbothma opened #1413 "Failed to load data from https://openspending.org/package/status?datapackage=https%3A...datapackage.json"
Sometimes when uploading data using Packager, I get the following error:

[code]

![openspending-failed-to-load-datapackage-status](https://user-images.githubusercontent.com/235801/48952303-65d6e280-ef4a-11e8-8486-fc2ebf729d61.png)

Last time this happened I managed to upload it a couple of days later so I thought the issue was fixed, but it happened again this afternoon.

[2018-11-27 10:45] jbothma commented on #1413
Getting "failed" even though the response at that URL is
[code]

![openspending-packager-failed-loading](https://user-images.githubusercontent.com/235801/49076703-4ab5ec80-f242-11e8-8d2c-86fee95777e8.png)

[2018-11-27 10:58] jbothma commented on #1413
Looks like the dataset was created after all on friday https://openspending.org/viewer/b9d2af843f3a7ca223eea07fb608e62a:adjusted-estimates-of-national-expenditure-2016-17?measure=%22value.sum%22&rows%5B%5D=%22voteno.voteno%22&columns%5B%5D=%22finyear.finyear%22&columns%5B%5D=%22budget_phase.budget_phase%22&columns%5B%5D=%22fy_descript.fy_descript%22&order=%22value.sum%7Cdesc%22&visualizations%5B%5

[2018-12-02 13:08] ballcjl opened #1414 "Map"
Data

[2018-12-02 14:28] ballcjl opened #1415 "Map"
Working

[2018-12-03 08:43] #1415 closed

[2018-12-03 08:43] #1414 closed

[2018-12-03 12:02] #1408 closed

[2018-12-03 16:55] #1382 closed

[2018-12-03 17:45] brew opened #1416 "Allow upload of predefined fiscal mapping within os-packager"
Currently, data publishers map fiscal types against columns in their data with a series of dropdowns, as a step in os-packager. For some users, who are regularly updating data formatted in the same way, this can be repetitive and potentially error-prone. It would be useful to provide a way for users to provide a predefined mapping against their data, as an alternative to manually selecting types w

[2018-12-06 09:50] otterbotter commented on #1413
Experiencing the same issue now - unable to upload any datasets at the moment.
Tried with 2 different datasets - always get the same error back.

Any idea what might be causing this / how to work around it?

[2018-12-06 10:38] otterbotter commented on #1413
Hi Brew - sure, here's the CSV I'm trying to upload:
https://s3-eu-west-1.amazonaws.com/manual-uploads.vulekamali.gov.za/are/processed/are201718.csv

[2018-12-06 11:39] brew commented on #1413
@otterbotter (cc @jbothma) Thanks. I can see from the logs that this dataset is still being processed. So, although you get this error saying it's failed, eventually, this dataset should finish processing, and appear in your /admin list. If there is a queue of jobs to process, sometimes uploading can take a while. I've increased resources for the processor, so hopefully it should clear sooner.

No

[2018-12-06 14:00] otterbotter commented on #1413
I can see that they have appeared in our admin panel as you suggested.

Thank you for looking into this and getting back to me so quickly @brew

[2018-12-10 15:10] brew commented on #1381
Captured in issues above.

[2018-12-10 15:10] #1381 closed

[2018-12-13 14:19] jbothma commented on #1413
I think I got the same error for `adjusted-estimates-of-national-expenditure-2015-16`. I assumed it's the same error, but the dataset never showed up. trying to upload again.

[2018-12-14 09:11] jbothma commented on #1413
Reliably being able to upload data is really important for us to move quickly and keep to the schedule we have of releasing fiscal data.

I imagine it's difficult to ensure that all the parts of the system that need to work together don't get broken accidentally by an update, and it's probably frustrating to discover that something was broken several days after that work and having to come back to

[2018-12-14 09:58] jbothma opened #1417 "Automated OS Packager upload monitoring (production testing)"
It would be great to identify problems with the OS Packager upload service early.

it's difficult to ensure that all the parts of a microservice architecture that need to work together don't get broken accidentally by an update to one part, and it's probably frustrating to discover that something was broken several days after that work and having to come back to it.

## Suggestion

Daily automated

[2018-12-14 09:59] jbothma commented on #1417
I've recently done a bit of UI testing run by Travis-CI using Python, so I can help most-easily with that.

[2018-12-14 10:02] jbothma commented on #1413
Done https://github.com/openspending/openspending/issues/1417

[2018-12-14 10:08] jbothma commented on #1417
These tests should be "loose"-enough that they don't break every time small changes are made to the user interface - just check that things work at a high level.

e.g.

- Dont check the content of every single label
- Do check the main indication of success given by the UI
- Do check that the data really is uploaded and visible in some form in Viewer
- Do check that the API endpoint is set up and

[2018-12-16 15:56] brew commented on #1417
Thanks @jbothma. I'm off now until the New Year, but would like to get a response to you as soon as I get back. I'm happy in principle to have a suite of production tests for the packager UI though, so feel free to explore this in the mean time.

[2018-12-18 09:16] #1362 closed

[2019-01-02 09:52] brew opened #1418 "Address type mapping issues for Argentina dataset"
This is a placeholder issue to discuss this dataset at next sprint planning.

There's an ongoing issue related to custom fiscal type mapping blocking progress with adding the Argentina dataset to os-data-importers.

[2019-01-14 23:27] tlacoyodefrijol opened #1419 "Error loading data on OS"
Mexico City Government uploaded a new budget data file and mapped it through the Packager. The upload worked but now they're getting different errors, although the data package json is actually uploaded, as well as the CSVs.

- First, when they tried to create the data package they got an error similar to what they used to get with the Federal files. This error was usually fixed by closing the app

[2019-01-15 07:18] brew commented on #1419
Thanks @tlacoyodefrijol .

The first error looks like the problem we have where the upload status is being misreported as broken. This is a known issue: https://github.com/openspending/openspending/issues/1413

The second issue with 'No data to display': It would be useful to have the exact url used that returns this page.

[2019-01-15 23:34] tlacoyodefrijol commented on #1419
This is the URL with the "No data to display" error. The dataset is private for now, will you still be able to see the content?

https://openspending.org/viewer/4bf66b4263cfb77579f8a4d9dc6c892a:presupuesto_cdmx_2018?lang=en

[2019-01-17 09:50] hanecak commented on #1416
+1 from me. I'm now able to download consolidated and quite detailed budget data as JSON for several Slovak municipalities, thus I can automate following:

1. convert the data into CSV, possibly split into several files (say one per year, to avoid performance bottlenecks for both Open Spending platform and users who would like to get and open the CSVs)
2. I can generate Fiscal Data Package (i.e. d

[2019-01-21 12:10] jobarratt opened #1420 "OK Internet Explorer bug"
Is there something we can do so that Internet Explorer opens the visualizations? The MoF of Croatia only uses Internet Explorer and the visualizer does not finish loading:

[2019-01-21 15:16] jobarratt commented on #1385
@sandervdwaal do you have any info on the unticked Bullet? 'To change header of report for uploading – this is probably most difficult part as pipeline has to be modified'? Otherwise we think this ticket can be closed.

[2019-01-21 15:26] brew commented on #1392
Current status: WIP fiscal.source-spec files created for Croatia, split across to datasets (2016-2018, 2018-2020). Croatian titles given for each column. Uploaded to staging server awaiting approval before being added to https://github.com/openspending/os-source-specs master branch and production.

[2019-01-29 17:26] brew commented on #1413
I've pushed some changes which should resolve the two factors that make up the 'progress status error'.

- no progress being shown by the progress bar for 'loading into the database'
- an error when loading large datasets caused by too-short redis key expiration time

See the commits for details:
- https://github.com/openspending/os-conductor/commit/036701d448adb24bbef5c2c6a0f96b26ca662cd6
- https

[2019-01-29 17:26] #1413 closed

[2019-01-29 17:32] brew commented on #1419
@tlacoyodefrijol The first point here should now be fixed. See https://github.com/openspending/openspending/issues/1413#issuecomment-458630079 for details.

[2019-01-29 17:40] #1400 closed

[2019-01-31 15:18] brew commented on #1383
Improved pipeline status badges added as a Pull Request to datapackage-pipelines here: https://github.com/frictionlessdata/datapackage-pipelines/pull/158

[2019-01-31 21:20] tlacoyodefrijol commented on #1419
@brew Luis shared the complete URL https://openspending.org/viewer/4bf66b4263cfb77579f8a4d9dc6c892a:presupuesto_cdmx_2018?measure=%22monto_aprobado.sum%22&groups%5B%5D=%22programa_presupuestario.programa_presupuestario%22&order=%22monto_aprobado.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en

[2019-02-01 05:20] jbothma commented on #1413
Awesome - thanks @brew!

[2019-02-01 10:58] otterbotter commented on #1413
Thanks @brew

I've noticed that the progress seems to go over 100%, up to 200%

Screenshots for reference:
![200](https://user-images.githubusercontent.com/7869992/52119202-0a4b6400-2621-11e9-9424-057273172f7c.PNG)
![177](https://user-images.githubusercontent.com/7869992/52119203-0a4b6400-2621-11e9-8b63-b6e0763edba3.PNG)
![133](https://user-images.githubusercontent.com/7869992/52119204-0ae3fa80-26

[2019-02-01 11:09] brew commented on #1413
@otterbotter Extra Super progress! Is that the same dataset you posted as an example [in December](https://github.com/openspending/openspending/issues/1413#issuecomment-444827588)?

[2019-02-01 11:16] otterbotter commented on #1413
@brew This is a different dataset - though it did succeed in uploading, and the progress bar did eventually tell me that it was successful - which is nice!

Here's the dataset for reference: http://datastore.openspending.org/b9d2af843f3a7ca223eea07fb608e62a/nat-are-2014-15/final/data/are-2014-15.csv

[2019-02-01 12:01] brew opened #1421 "os-packager database progress mis-reporting"
As part of #1413, we fixed up the database loading progress bar to use a different strategy. Instead of reading progress of processed resource rows, it now reports progress of successful pipeline steps against total steps. Total steps is currently a [hardcoded number in os-conductor](https://github.com/openspending/os-conductor/blob/e6fbba5230bce71112bce45c932e1b3151c9ecc0/conductor/blueprints/pac

[2019-02-01 12:01] brew commented on #1413
@otterbotter I've opened a new issue for this: #1421.

[2019-02-02 09:48] otterbotter commented on #1421
Hi @brew

Sorry to be the bearer of bad news again, but I ran into the same issue as before:
![failed](https://user-images.githubusercontent.com/7869992/52162684-717c1d80-26e0-11e9-927d-8b14838d71a0.PNG)

This is while I was re-uploading this dataset:
https://openspending.org/viewer/b9d2af843f3a7ca223eea07fb608e62a:expenditure-time-series-v2

The error happened after it was stuck on 11% for quite

[2019-02-02 17:12] brew commented on #1421
@otterbotter No problem. Do you remember how long it took before erroring? The status key expires after 60mins, but is renewed after each step. So, if any one step takes longer than 60mins then this issue will reoccur. I can set the key expiration longer if necessary.

[2019-02-03 18:51] otterbotter commented on #1421
@brew It was definitely running for at least 60 minutes by the time the error occurred.

I've double checked again now - it seems like the dataset never updated. It is a large dataset, but is it possible that it's still running now?

In my profile tab, the dataset still shows this red error (which I've experienced before, but it eventually goes away after the dataset has been updated). But it's be

[2019-02-04 15:42] brew commented on #1421
Looking at the logs, it seems like this didn't complete for some other reason. The reason the notification goes away in some instances is because some other part of the pipeline writes to it after it has expired, bring it back to life again! But in this instance it looks like, first the status key expired, then one of the subsequent pipeline processes failed, so the key was never brought back to l

[2019-02-05 12:44] jbothma commented on #1421
I just tried to upload but lost connection before loading into the database completed. I called it something like Budgeted and Actual expenditure.

It's not in admin right now but I'll check back later to see if it shows up.

[2019-02-05 15:34] #1383 closed

[2019-02-05 15:50] brew opened #1422 "Add status badges to os-source-spec repo"
#1383 added pipeline status badges, and country-specific endpoints for the pipeline dashboard. We should add collection badges to the os-source-spec repository, linked to their respective country dashboard. os-source-spec is the primary interface for using the pipelines, so the best place to see at-a-glance status.

[2019-02-05 16:25] #1422 closed

[2019-02-05 17:31] brew opened #1423 "os-source-spec status badges out of date"
Pipeline status badges were added by #1422, but are out of date due to github caching. See https://github.com/frictionlessdata/datapackage-pipelines/issues/160 for details.

[2019-02-05 18:07] tlacoyodefrijol commented on #1420
Some more details from Boris

- OS is W7x64 Enterprise SP1
- See screenshot for version of IE
<img width="215" alt="screen shot 2019-02-05 at 12 06 28" src="https://user-images.githubusercontent.com/5587545/52294293-8a820a00-293e-11e9-9d29-9ae96423eefb.png">

[2019-02-06 10:11] #1423 closed

[2019-02-06 13:10] brew commented on #1419
Replied to Luis by email with below:

---
I've had a look at the data file you provided (https://drive.google.com/file/d/1baqhOxEMnDpF-N1PUXpibbjLYOoStb-g/view?usp=sharing), and realise why you had errors during the upload. There were two problems, one a bug with os-packager, and the second duplicate rows in the data.

1) The bug with os-packager was causing progress to stop reporting when using t

[2019-02-08 12:52] #1420 closed

[2019-02-12 08:20] #1421 closed

[2019-02-12 08:44] jbothma commented on #1421
Apologies for the delay.

We have some issues with preparing the dataset. I think our issues with uploading so far were because of duplicate composite keys.

[2019-02-12 08:50] brew commented on #1419
Continue to work on resolving duplicate composite keys in data. Luis would like to preserve the duplicate values by aggregating them into one row. I'm working on this with a different script to above:

https://gist.github.com/brew/813706202385c79009e18e39dc39b0ed

[2019-02-12 08:53] brew commented on #1421
@jbothma I'm working on a similar issue with data containing duplicate keys here: https://github.com/openspending/openspending/issues/1419

You might be interested in a couple of scripts I have for resolving the issue in different ways:

- removing duplicates: https://gist.github.com/brew/7d3297eafdbb728cb86aef97f5ce4652
- aggregating duplicate values: https://gist.github.com/brew/813706202385c790

[2019-02-12 08:59] jbothma commented on #1421
Thanks!

[2019-02-14 10:18] #1411 closed

[2019-02-14 15:50] sandervdwaal commented on #1385
I'm asking Boris about this.

[2019-02-14 15:53] sandervdwaal commented on #1392
I'm asking Boris whether we need specific budget phases to each year, and whether he's happy with how the data is on staging. Once he is, we can upload on the main OS

[2019-02-15 12:23] sandervdwaal commented on #1384
@tlacoyodefrijol Could you have a look at this issue please? We'd need to write out first what the user stories are for this and then provide the documentation, either by linking to what we've already got in the README's on Github or by writing separate documentation on eg. the community.openspending.org site.

[2019-02-18 15:31] #1419 closed

[2019-02-18 15:36] #1418 closed

[2019-02-18 15:37] jobarratt commented on #1418
This issue has not been resolved, but the conversation is being taken forward with Sander directly.

[2019-02-20 11:31] sandervdwaal commented on #1391
Yes please redeploy this, thanks!

[2019-02-20 11:47] sandervdwaal commented on #1391
This should let the Uruguay BOOST data re-appear on openspending.org (as well as data from Guatemala)

[2019-02-20 12:02] #1391 closed

[2019-02-20 15:22] brew opened #1424 "Uruguay functional-classification title issue"
While updating the BOOST Uruguay dataset (https://github.com/openspending/os-source-specs/pull/13), we identified that the FUNC2 column definition was missing. This has been added, but the title suggested by the variable definitions in the [data source](http://boost.worldbank.org/Data/boost/boostcms/files/field/country-attachments/boost_uruguay_v0.9_2011-2017_spanish.xlsx) is a duplicate of an exi

[2019-02-20 16:43] brew opened #1425 "Occasional CRITICAL WORKER TIMEOUT error with os-conductor"
During a package upload, os-conductor gunicorn workers restarted with a `[2019-02-20 14:59:02 +0000] [15] [CRITICAL] WORKER TIMEOUT (pid:17)` error. Not sure if it was caused by the package upload process or just bad timing.

This is a specific instance of this general class of issue: https://github.com/openspending/openspending/issues/1430

[2019-03-01 12:19] #1416 closed

[2019-03-04 10:04] brew commented on #1266
Looks like this was all done for the major node/js apps.

[2019-03-04 10:04] #1266 closed

[2019-03-04 10:40] brew commented on #1237
Tested on Firefox Win/10, and can't reproduce the issue. I suspect the original issue was a failure to load the page fonts or font icon files.

[2019-03-04 10:40] #1237 closed

[2019-03-04 11:35] brew commented on #1317
There is 'as you type' validation for the unique identifier:

<img width="987" alt="screenshot 2019-03-04 at 11 34 03" src="https://user-images.githubusercontent.com/3993/53731068-8bd92080-3e71-11e9-8eb8-7e99c9dea079.png">

[2019-03-04 11:35] #1317 closed

[2019-03-04 11:47] brew commented on #1343
This issue is over a year old and doesn't provide sufficient information to investigate. Feel free to reopen if you continue to have this problem and can provide more details.

[2019-03-04 11:47] #1343 closed

[2019-03-04 11:53] brew commented on #1351
The outstanding issue here was to provide pipeline status for the status page. Pipeline status is now available from the [os-source-specs](https://github.com/openspending/os-source-specs) repository. I think this can now be closed. WDYT @sandervdwaal ?

[2019-03-04 11:57] brew commented on #1373
This ticket has been inactive for a while so will be closed. If you need further help on this issue, feel free to reopen, or create a new issue.

[2019-03-04 11:57] #1373 closed

[2019-03-04 17:00] brew commented on #1412
OKI's infrastructure uses two separate Helm charts, each with their own Redis deployment: `openspending` and `openspending-data-importers`. Individual apps use these Redis deployments at specified database numbers, detailed below.

#### openspending-data-importers

Redis is used by [os-data-importers](https://github.com/openspending/os-data-importers) and [repository-agent](https://github.com/open

[2019-03-04 17:00] #1412 closed

[2019-03-05 16:11] brew opened #1426 "Update documentation for new developers"
Ensure documentation is up to date, with a view to getting new developers up to speed with starting development on the Openspending platform.

Installation, testing and local development instructions should be on the individual repo READMEs and [openspending/openspending](https://github.com/openspending/openspending), and out of date instructions removed from [docs.openspending.org](https://docs.o

[2019-03-07 10:45] sandervdwaal commented on #1424
@tlacoyodefrijol can you please check this with Uruguay?

[2019-03-07 11:08] sandervdwaal commented on #1351
I agree - if there are more specific requests we will open a new issue.

[2019-03-07 11:08] #1351 closed

[2019-03-07 12:59] jbothma opened #1427 "Unexpected partial CSV download from Viewer"

[2019-03-07 13:27] jbothma commented on #1427
unable to reproduce now

[2019-03-07 13:27] #1427 closed

[2019-03-07 15:51] tlacoyodefrijol opened #1428 "Initial openspending visualisation is now only blue"
When loading a budget dataset, the tree visualisation used to have multiple colours for the categories. It changed to all blue. We got a request to review the possibility of returning to multiple colours for the treemap.
<img width="1406" alt="screen shot 2019-03-07 at 09 48 02" src="https://user-images.githubusercontent.com/5587545/53969487-802e6980-40be-11e9-9afb-87451683500a.png">

[2019-03-08 08:38] brew commented on #1428
I believe using one colour was a deliberate choice. See https://github.com/openspending/openspending/issues/1196 for details.

[2019-03-09 19:35] jbothma opened #1429 "As a data owner I would like to be able to link back to my portal homepage from OpenSpending Viewer"
When people view our datasets in OS Viewer, we would like them to easily see that they are related to the vulekamali data portal and find their way to the portal.

If we embed OpenSpending Viewer in our site and people share the embed on social media, or if we share links to specific views of data in OpenSpending, we want people to find their way to vulekamali to find more documentation and contex

[2019-03-11 13:38] jbothma opened #1430 "As a data uploader I would like to find out that something timed out as soon as possible so that I can retry uploading in packager"
This refers to whatever timed out on the 20th of February where I had to upload the file again.

I understand that sometimes things will time out. I think we just need the UI to indicate that if possible, and do it as quickly as possible so that uploaders know to try again. The UI looked like it was still in progress after about an hour even after @brew verified that some part had timed out and th

[2019-03-11 16:25] brew commented on #1392
Uploaded to production here:

2016-2018: https://openspending.org/viewer/667df60aa07c34260eae9b55b2778712:croatia-budget-plan-2016-2018?lang=en
2018-2020: https://openspending.org/viewer/667df60aa07c34260eae9b55b2778712:croatia-budget-plan-2018-2020?lang=en

[2019-03-11 17:25] brew commented on #1268
The example csv above is currently being parsed correctly, possibly fixed by https://github.com/openspending/os-packager/pull/116. Closing.

[2019-03-11 17:25] #1268 closed

[2019-03-11 21:04] tlacoyodefrijol commented on #1428
I see. The report mentions "The use of colors
Colors of the boxes can be used to measure a performance or a change, such as growth over
time. If it’s not the case, color ranges should fit the data in for instance using different shades of
one color."
Is it possible to at least implement shades of the colour and maybe different colours for different stages of the buget?

[2019-03-12 14:11] jbothma commented on #1430
Duplicate of https://github.com/openspending/openspending/issues/1425

[2019-03-12 14:11] #1430 closed

[2019-03-12 15:03] tlacoyodefrijol opened #1431 "Example of how an OFDP high-quality dataset should look like"
In order to push governments to improve publication, we want to have an example dataset of what they should aim for when publishing using OFDP.
This should be the "gold standard". We can use worked examples of the dataset. See [OCDS](http://standard.open-contracting.org/latest/en/schema/reference/?highlight=example#worked-example)

[2019-03-12 16:05] brew opened #1432 "Automate deployment to Kubernetes"
Currently, we have a workflow based on Github --> Travis --> Docker Hub, when work is committed to the master branch for each component application. We use the git commit hash as a Docker image tag, and reference that within our Kubernetes deployment. Kubernetes deployments are then carried out manually. We would like to improve this by automating the Kubernetes deployment step. This is an Open Kn

[2019-03-13 08:33] brew commented on #1425
Perhaps set up an alert in Strackdriver Metrics to monitor and report this error so we can see it in context.

[2019-03-13 09:13] roll commented on #1426
@brew
Here's my quick overview and try to run things.
Here I do things if I (which is not far away from reality=):
- have no idea about OpenSpending
- a designer who just needs to run some app and fix some design OR
- something similar
So I just try to do what readmes say.
Sorry if there are mistakes from my side I had very limited time to try a lot)

---

- [ ] ReadTheDocs
    - [ ] developers-co

[2019-03-13 09:14] roll commented on #1426
And BTW the work on docs is very impressive in overall :+1:

[2019-03-13 09:24] brew commented on #1426
Thanks - can you tell me what command you used when you received the `ERROR: for openspending_db_1 Cannot start service db` error?

[2019-03-13 09:28] roll commented on #1426
@brew
Sorry I missed it out
[code]
My error is something like this https://github.com/docker/compose/issues/3277

[2019-03-13 09:31] brew commented on #1426
Perhaps this is a docker-compose issue? Which version are you running (`docker-compose -v`)? I'm using `docker-compose version 1.23.2, build 1110ad01`.

[2019-03-13 12:53] brew commented on #1403
Looks like saving a new datapackage with the same name as one that already exists within the Elasticsearch index will **update** the item, rather than replace it. This can be seen by making a request to the `/model/` endpoint for the dataset:

https://openspending.org/api/3/cubes/b9d2af843f3a7ca223eea07fb608e62a:epre-sub-programme-expenditure-2017-18/model/

This shows in the `model.measures` prop

[2019-03-14 13:00] #1403 closed

[2019-03-15 07:49] brew opened #1433 "Pipeline progress gets stuck after updating os-data-importers"
If os-data-importers is updated, all the pipelines will be rerun. Sometimes progress stops and not all pipelines complete. This is usually fixed by clearing the Redis database used to manage pipeline status, and restarting the os-data-importers pod. Perhaps Redis should be run from inside the os-data-importers pod, rather than in a pod of its own to ensure it is cleared and ready?

To workaround t

[2019-03-15 13:33] brew opened #1434 "Pipelines automatically re-run each time os-data-importers is restarted"
Rerunning all the pipelines is super-slow (hours). Perhaps they shouldn't automatically rerun by default each time os-data-importers is redeployed. This would likely require only re-initialising Redis if it hasn't already been initialised. Perhaps also retaining the artifact files that are created by dependent pipelines. Potentially tricky to retain pipeline state between redeployment without tric

[2019-03-18 14:55] sandervdwaal commented on #1433
Don't know if it's related, but the pipeline again didn't fully run successfully.
Croatia has a second pipeline and it keeps 'waiting to run' https://pipelines.openspending.org/source-specs/os-source-specs/europe/croatia

[2019-03-20 14:43] sandervdwaal opened #1435 "Mexican dataset disappeared from OS unexpectedly"
Reported by Lorena:

https://openspending.org/viewer/667df60aa07c34260eae9b55b2778712:presupuesto_mexico?lang=en

I noticed that any URL for the OS Viewer that doesn't refer to an actual dataset has this same behaviour:  https://openspending.org/viewer/[whatever] will show the viewer page as it tries to load the dataset, then redirects to the frontpage if it fails. I think the user experience can

[2019-03-20 15:27] sandervdwaal opened #1436 "Improving OS Viewer flow when trying to load non-existing dataset"
Any URL for the OS Viewer that doesn't refer to an actual dataset provides the following user experience when trying to load it in the browser (eg. : https://openspending.org/viewer/non-existing-dataset:id ):

1. The OS Viewer page gets displayed
2. Inside the OS Viewer page, a throbber is shown to indicate a dataset is being loaded
3. The user gets redirected to the frontpage https://openspending

[2019-03-21 13:48] sandervdwaal commented on #1435
URL works again after the pipelines have rerun successfully. @akariv do you know how the dataset can have disappeared? Are they deleted when the pipeline gets rerun for example? Is there a way to prevent deletion during pipeline running?

[2019-03-21 14:14] akariv commented on #1435
I can't say exactly -  generally pipelines that haven't changed shouldn't re-run at all.
But there was some data corruption in the pipelines state, so it might explain it.

[2019-03-22 00:17] LorenaGIFT commented on #1436
If the reason is that it could not be loaded indeed (not the case of not existent), could we get a notice as well and then the message could display such action? "Dataset could not be loaded. Open Spending will look into it", otherwise "Dataset could not be loaded. Let us know what happened to openspending-support@...."

About the alternatives, it could say "You can try searching for more datasets

[2019-03-22 11:27] sandervdwaal commented on #1379
Report by @LorenaGIFT seems to fit this description:

Search for 'Mexico' results in the 2 old test datasets,
search for 'México' results in the recently uploaded datasets.

[2019-03-22 11:53] sandervdwaal commented on #1436
Let's go with this error message:

_"Dataset_ could not be loaded. Let us know what happened to openspending-support@okfn.org"_

Promising we'll look into it without the user letting us know implies that we track these kinds of request which I believe is not easily possible (@akariv correct me if I'm wrong)

[2019-03-28 10:00] sandervdwaal commented on #1399
I've experienced the same for Argentinian spending data.
Not just when mapping to date:generic, but also to date:fiscal:activity-approval.

In all cases it tries to map the %Y-%m-%d instead of what I specified.

[2019-03-28 15:37] sandervdwaal opened #1437 "Can't properly map two types of subprojects"
The spend data file from Argentina has a structure that has two types of sub-projects: 'actividad' (activity)  and 'obra' (public work). Other countries in Latin America have a similar distinction between these separate types of sub-projects, but it's not possible in the FDP to map these separately, as there's only:

The suggestion is to create a new type of subproject, at the same level as the cu

[2019-03-28 15:39] sandervdwaal commented on #1437
This needs a change in the FDP spec, which is logged here: https://github.com/frictionlessdata/specs/issues/626

[2019-03-28 16:27] sandervdwaal opened #1438 "Unexpected duplicate-key error for dataset with extended classifications"
When using the OS Packager to upload a dataset with Argentinian spending data, it throws a duplicateKeyExpection when the data itself does not contain duplicate rows.

![image](https://user-images.githubusercontent.com/420482/55174745-495be880-517e-11e9-9155-4e7c905ac90e.png)

As the image shows, there's an extensive mapping of several levels of functional and administrative classifications, as we

[2019-03-28 16:32] sandervdwaal commented on #1438
The datafile I'm aiming to upload is here: https://drive.google.com/open?id=1BptgX4PyPVa_h3_2JZhBtdpWk3TLCiHL

It says 100k but in fact it's 10k rows, total file size 10MB

[2019-04-10 14:17] jobarratt commented on #1424
complete

[2019-04-10 14:17] #1424 closed

[2019-04-10 14:20] jobarratt commented on #1392
@tlacoyodefrijol please update card with the latest info and whether let the others know if you need any support to move this forward.

[2019-04-10 14:26] jobarratt opened #1439 "Admin Access to staging site"
Admin access to staging site for Adam and Victor

[2019-04-10 15:45] tlacoyodefrijol opened #1440 "Team users cleanup"
There are a lot of inactive people still linked to this project team

[2019-04-10 15:52] tlacoyodefrijol opened #1441 "Data upload screencast"
As part of the communications plan, we have the task of creating a short screencast of how to upload datasets to OpenSpending. It doesn't need to be a big file, the main thing to show is how classifications map against the OFDP spec.

[2019-04-11 10:38] otterbotter opened #1442 "Upload status retrieval fails with no way to track upload state"
This is related to an issue that was apparently resolved in https://github.com/openspending/openspending/issues/1367

The ID of the specific dataset that I'm uploading is `budgeted-and-actual-national-expenditure-v6`

Upon uploading a larger dataset, the progress bar fails to fetch the latest state of the upload.
This is frustrating since there's no way to track if the upload actually failed or if

[2019-04-11 14:32] jobarratt commented on #1388
@tlacoyodefrijol can you please confirm/find out whether or not this can be actioned, and then pass over to Viktor to action

[2019-04-11 14:47] jobarratt commented on #1440
I've cleaned this up and changed the roles in the organisation

[2019-04-11 14:47] #1440 closed

[2019-04-11 15:07] jobarratt commented on #1442
@nightsh we will address this next week but if you have time to take a look before that it would helpful as this is an big blocker for SA

[2019-04-12 03:33] tlacoyodefrijol commented on #1392
Boris sent the new files for 2017, 2018 and 2019.
Actions are:
- We need to confirm if the fiscal specs (see above) include all the headers and upload them to the staging site.
- Remove the old datasets from staging and production site.
- Once uploaded and mapped, share staging data with Lorena and Boris for approval to move to Production.

I'll forward the email with the new files to @nightsh for

[2019-04-12 03:58] tlacoyodefrijol opened #1443 "Codes for Uruguay projects and project hierarchies"
The TL;DR is if we can make a field belong to more than one hierarchy to make crossed classifications. Lorena suggested looking at the Ramo-Programa structure in the pipeline for Mexico.

This is based on the Uruguay BOOST data pipeline. From Gabriela:The projects in Uruguay are defined by a project code associated to a program [programa] (FUNCIONAL2) y and a section [inciso] (INSTITUCIONAL1) whic

[2019-04-16 13:32] akariv opened #1444 "Review OS-Viewer and make sure it’s not using babbage model"
- Review Os-Viewer code
- List all locations that are using babbage model and not the fiscal data package
- Create sub-issues for modifying the code of Os-Viewer to remove dependency on babbage model completely

[2019-04-16 13:50] akariv opened #1445 "Install Jenkins on cluster to replace dpp dashboard"
- Install Jenkins on cluster
- Make sure that it has access to secrets required for writing to DBs
- Create tasks to run new openspending-dataflows for specific partners
- Create partner users that only have access their task

[2019-04-16 13:50] akariv opened #1446 "Upgrade dpp-fiscal to use dataflows"

[2019-04-17 08:06] akariv commented on #1444
There are 2 models coming from the API -
- one in the package (pre-v1 fdp model)
- one in the response itself (that's the babbage model, which also contains db related information)
- there are some pre-v1 attributes in the schema itself which we should ignore

Goal -
use just the FDPv1 schema + taxonomy to be able to access the API and show the UI

for now, we just want to do an analysis of what n

[2019-04-17 11:54] jobarratt commented on #1428
Please see comment here from Lorena:

I see that there is a report upon which the treemap was changed to all blue mentioned on the Github thread. From experience, in Mexico we stopped displaying the treemap as soon as it stopped having appealing colors, and from these months seeing the reactions when we present the viewer in all blue at events, the people in the room are unimpressed, since they co

[2019-04-17 11:54] jobarratt commented on #1428
@tlacoyodefrijol do we have brand guidelines for GIFT to hand?

[2019-04-22 10:27] LorenaGIFT commented on #1392
When could we have the updated dataset online to share with BOOST team?

[2019-04-30 12:39] akariv commented on #1446
Question:
- Do we want to keep Currency Conversion ability (is anyone using it?)

Related:
- https://github.com/dataspot/dgp/issues/1
- https://github.com/dataspot/dgp/issues/2
- https://github.com/datahq/dataflows/issues/81
- https://github.com/datahq/dataflows/issues/84

[2019-05-07 10:42] StephenAbbott opened #1447 "Change Open Knowledge International text to Open Knowledge Foundation in OpenSpending website footer"
On Monday 20th May 2019, we will announce that Open Knowledge International is rebranding back to Open Knowledge Foundation. As part of this announcement, I am working my way round lots of our websites to update any OKI references to OKF.

In the footer on https://openspending.org, there is a sentence which reads 'An Open Knowledge International project in collaboration with Open Knowledge Germany

[2019-05-07 14:11] akariv commented on #1446
Already done: Support multiple source files + Normalize.

[2019-05-07 14:21] jobarratt commented on #1447
@StephenAbbott we are looking at this for this week. Added to current sprint

[2019-05-09 08:31] #1447 closed

[2019-05-14 13:10] #1439 closed

[2019-05-14 13:40] tlacoyodefrijol opened #1448 "Create a new Pipeline for Argentina"
Argentina has updated their budget/spending files to a new structure. We need to start a pipeline to upload their data to OpenSpending. The mapping is available in the country files.
Dataset to use is here https://datos.gob.ar/dataset/sspre-presupuesto-administracion-publica-nacional-2019/archivo/sspre_170

@akariv will use the updated pipeline process to test with this dataset

[2019-05-15 16:47] tlacoyodefrijol opened #1449 "Issues with numbers and characters in Croatian Dataset"
We have updated the Croatian Data from 2016 to 2019 but there are a few errors in the characters and the amounts. Description from Croatian Gov below.

`Opæe javne usluge`

This is probably due to changing the file and issues with encoding. Verify there are no errors like this when changing the original datasets.

`1.68 Milijarda`

In CSV file, the number for economic code 323 (above is the sum fo

[2019-05-16 19:37] tlacoyodefrijol commented on #1447
@StephenAbbott this has been changed, but just as a heads up, the footer grabs the logo from https://github.com/okfn/a/tree/master/a/img/oki, we would need to update that source for it to change the footer in OpenSpending.

[2019-05-20 12:48] LorenaGIFT commented on #1428
Should we open a new thread for the bubbles graph? That one is still blue.

[2019-05-20 12:51] LorenaGIFT opened #1450 "Comments to Philippines data"

[2019-05-21 13:15] akariv commented on #1428
@nightsh can you add a screenshot of how it looks after the fix?

[2019-05-21 13:16] jobarratt commented on #1428
Hi Lorena, This is done https://github.com/openspending/os-viewer/pull/184

[2019-05-21 13:16] nightsh commented on #1428
@akariv
![image](https://user-images.githubusercontent.com/1579997/58099170-cb4b1980-7be3-11e9-9705-6f2f4d2a8e04.png)

[2019-05-21 13:20] nightsh commented on #1447
Deployed in [2ffc400865d1611f2ee90dc58879385380108873](https://github.com/okfn/devops/commit/2ffc400865d1611f2ee90dc58879385380108873)

[2019-05-21 13:53] nightsh commented on #1449
Would be useful to have the datasets hosted externally, so it would be easier to maintain / update them. In this case, we would not be in charge of updating datasets, but only of re-running the pipelines, which might ease everyone's work.

As for the decimals, I'll have another look at the source spec. If we get newer data sets aligned to different standards (i.e. [ISO 31-0](https://en.wikipedia.o

[2019-05-24 18:05] LorenaGIFT commented on #1443
@tlacoyodefrijol I found in the issues this old one that we raised from Mexico in 2017: https://github.com/openspending/openspending/issues/1315
It is the same case and apparently we didn't finish solving it.

[2019-05-25 16:48] chk1 opened #1451 "Workflow for updating existing data"
I have trouble figuring out the "correct" workflow for updating an existing data set. I have uploaded fiscal data some time ago and now there's new data for the upcoming year, I keep all data in a single big CSV.

In another issue (https://github.com/openspending/openspending/issues/1403) I found this information:

I tried that and the outcome is that in OS Admin I says that my package was updated

[2019-05-27 12:53] tobiasschellhorn opened #1452 "datapackage.json - Failed"
fiscal.helpers.save_primarykey
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/datapackage_pipelines_fiscal/processors/helpers/save_primarykey.py", line 9, in <module>
    process(modify_datapackage=modify_datapackage)
  File "/usr/local/lib/python3.6/site-packages/datapackage_pipelines/wrapper/wrapper.py", line 223, in process
    ctx.datapackage = modify_datapac

[2019-05-28 13:24] tlacoyodefrijol commented on #1448
The Argentinian data is now ready for publication. Pull request is done [here](https://github.com/openspending/os-source-specs/pull/21).
@lorenagift there are two fields that weren't mapped.
- ultima_actualizacion_fecha
- credito_pagado
We will map `ultima_actualizacion` as a `date` and `credito_pagado` is a regular `amount`. Once done, we will run the pipeline and the Argentina data will be up in

[2019-05-28 14:19] LorenaGIFT commented on #1448
@tlacoyodefrijol ok I will wait for the result and to send it to Gustavo

[2019-05-28 15:46] jobarratt opened #1453 "Pilot dgp-ui for configuring pipelines and demo to JD"

[2019-05-28 15:49] jobarratt commented on #1453
@akariv, @LorenaGIFT would be delighted to join this. Please can you include her when you arrange schedule with JD. Next week she is only availible on the 3rd.

[2019-05-28 15:54] jobarratt opened #1454 "Review Dominican Republic upload"
To review the recent upload of data to OpenSpending by the Dominican Republic

[2019-05-29 13:19] LorenaGIFT opened #1455 "Pipeline for investments of El Salvador"
This is a dataset of public investments that holds the same structure of the spending.
http://www.transparenciafiscal.gob.sv/downloads/zip/0700-DGICP-DA-2019-CSV.zip

It is updated monthly so you will see a column of month which means the total most not be summed complete. So far we hadn't needed this filter though it will be useful considering datasets that merge monthly instead of being substitu

[2019-05-29 14:25] nightsh commented on #1402
The flow as I see it:

* os-viewer exposes a downloader method which is used to grab datapackages
* visualisation is powered by babbage-ui, which uses the above downloader to get the package
* if there's any issue with the request, an error is thrown in the viewer downloader module
* babbage-ui does not properly treat the error and it shows some canned messages according to a set of rules

Now, if

[2019-05-29 14:31] tlacoyodefrijol commented on #1452
@tobiasschellhorn Could you give us more context? Is this an error from the Packager?

[2019-05-29 14:58] #1428 closed

[2019-05-31 13:40] annafralberts commented on #1452
I had the exact same error while trying to upload dummy files, I eventually only try to model the most basic fields and one hierarchy and even that didn't work.
Yes, it's an error from the packager

[2019-06-04 13:41] jobarratt commented on #1385
@tlacoyodefrijol What's the status of this card, can we close?

[2019-06-04 14:56] nightsh opened #1456 "Issues with decimals in Argentina and Croatia datasets"
These could've been two separate issues, but as they're both small and somewhat related I'm gonna bundle them up in one piece.

- [x] Argentina
  - the values in the source spreadsheets have up to 8 decimals, ~yet the pipeline shaves off most of them~ but viewer only displays two - we need to keep the very precise numbers we've got *(L.E.: do we?)*
- [x] Croatia
  - decimal separator was lost and

[2019-06-04 16:20] tlacoyodefrijol commented on #1455
Hi @LorenaGIFT do we have more context about this data set? Should we work on building a pipeline or is this a data review?

[2019-06-04 17:36] tlacoyodefrijol commented on #1385
Yes, these actions have been completed. Closing issue.

[2019-06-04 17:36] #1385 closed

[2019-06-05 07:06] nightsh commented on #1402
Development so far:

* babbage-ui makes a request through os-viewer
* when the response comes back, babbage-ui checks the status code
* if status > 400 then it throws an error

All the components have to catch that error and emit it further. They don't work the same way, but ultimately they all end up doing some basic promise chains. The suggested implementation adds a new flag and conditionally s

[2019-06-05 08:45] nightsh commented on #1402
Corresponding PRs sent:

* openspending/os-viewer#186
* openspending/babbage.ui#75

[2019-06-05 11:42] nightsh commented on #1456
Update: Argentina pipeline seems to maintain the decimals. The issue is probably on the viewer side, will investigate.

[2019-06-05 17:33] nightsh opened #1457 "Custom decimal separators not working with pipelines"
I have a test dataset, 5 rows in total, all of them with custom group/decimal separators. Values look like a joined string in the database.

In my example, these values:

[code]

end up in postgres like this (sorry for uneven formatting, different clipboard sources):

[code]

An example of measure spec for one of the columns (they're all the same, except names):

[code]

Here is the dataset (needs

[2019-06-05 23:01] #1392 closed

[2019-06-06 07:40] nightsh commented on #1457
Also tracked in frictionlessdata/tableschema-py#236

[2019-06-06 12:51] nightsh commented on #1444
API is being hit three (relevant) times when loading a package:

1. `/search/package?id=<id>` to get a list of packages matching search criteria (which is only one, the ID, so it's gonna be a single element list)
  - this seems to be a hybrid FDP/Babbage model
  - Babbage model is assigned to the `model` key of the payload elements
  - FDP model is assigned to the `package` key of the same object

[2019-06-10 11:16] nightsh commented on #1444
Further on, we need to make some alterations to babbage-ui:

- in `src/api/index.js`:
  - `getPackageModel()` requests the babbage model from `/api/3/cubes/<id>/model/`
  - this function is further chained to obtain various data from its result (e.g. measures, dimensions)
  - if we rewrite this to use a different data source (FDP model) but to keep its result structure, then it should be compatibl

[2019-06-10 18:24] tlacoyodefrijol opened #1458 "Updates to Croatian translation and pipeline"
Boris sent an update of how the Croatian locale translation ("HR") should look like with the new datasets. There is also a change in the pipelines. Both lists are below.

- In the vertical bar, "Izvršenje" instead of "Izvršeno"
- In the vertical bar, "Organizacijska klasifikacija" instead of "prva razina organizacijske klasifikacije(Razdjel)"
- In the vertical bar, "Izvori financiranja" instead of

[2019-06-10 18:51] tlacoyodefrijol opened #1459 "Issue with amounts of Croatian dataset"
Boris reports there are some issues with the amounts when looking at the years together.

- When you are looking at the default view of the Treemap the amounts are multiplied and you get a large number (billions) when that shouldn't be the case.

[2019-06-11 07:06] nightsh commented on #1456
PR is obsolete, as the issue was in tableshema-py instead, which @akariv fixed and we both tested to see it works. I will rerun the pipeline using the updated lib and close the PR.

[2019-06-11 09:10] #1388 closed

[2019-06-11 09:33] nightsh commented on #1448
https://openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:credit_and_full_budget_expenditures_for_the_current_fiscal_year_of_the_national_public_administration?lang=en

[2019-06-11 10:41] nightsh commented on #1456
Here's what I found so far, further investigation will be conducted only if needed (i.e. this is considered an issue):

- os-viewer doesn't do anything to the values
- babbage.ui uses a value formatter in its templates, as follows:

[code]

However, I'm not sure this is an issue. I would wait for feedback on Argentinian data first.

[2019-06-11 11:25] nightsh commented on #1458
@tlacoyodefrijol will the new dataset be remote, or do we have to add it to the repo as well?

[2019-06-11 12:15] #1402 closed

[2019-06-11 13:18] tlacoyodefrijol commented on #1454
Link to the datasets 2014-2019
https://openspending.org/s/?q=dominicana

[2019-06-11 13:24] tlacoyodefrijol commented on #1456
Related to the publication of Argentina in #1448

[2019-06-11 13:25] akariv commented on #1443
Currently it's not possible to directly give two types to a single field.
However, even without a 'generic' solution, it's quite easy to write pipeline specific code to duplicate a field and give the duplicated field a different name and type (so that it belongs in a separate hierarchy).

[2019-06-11 13:36] akariv commented on #1454
'OpenSpending works best when working on a full budget database and not on a series of aggregated views of the data. If you could send us a full, denormalized dataset it would be best.'

[2019-06-11 13:42] #1448 closed

[2019-06-11 13:42] #1450 closed

[2019-06-11 13:42] #1449 closed

[2019-06-11 13:43] #1441 closed

[2019-06-11 14:46] LorenaGIFT commented on #1455
Este es para generarle pipeline, ya que la actualización es correcta. No
tiene todas las clasificaciones pues se enfoca en proyectos de inversión.
Para generarlo podemos estar en contacto con denis.moreno@mh.gob.sv que
lleva la parte de IT del portal de transparencia fiscal.

On Tue, Jun 4, 2019 at 7:20 PM Oscar Montiel <notifications@github.com>
wrote:

[2019-06-12 06:49] akariv commented on #1437
The way to accomplish this is to add a project type column Type, as this describes the project and is not an actual 'sub-project'.

[2019-06-12 06:50] akariv opened #1460 "Update babbage to work directly with data packages without requiring a model."

[2019-06-12 06:53] akariv opened #1461 "Install dgp-ui on cluster"

[2019-06-12 06:58] akariv opened #1462 "Deprecate OS-Packager"

[2019-06-12 06:58] akariv opened #1463 "Add authentication method to DGP UI"

[2019-06-12 07:44] nightsh commented on #1444
Where Babbage model is being used in os-viewer:

- module `services/data-package-api`
  - These functions use a FDP and a Babbage model, iterating over babbage model's top level attributes
    - `getMeasuresFromModel(dataPackage, model)`
    - `getDimensionsFromModel(dataPackage, model)`
    - `getHierarchiesFromModel(dataPackage, model)`
  - `createpackageModel(packageId, dataPackage, model)`

[2019-06-12 16:47] nightsh opened #1464 "Remove all API calls from babbage-ui that fetch the Babbage model"
The current implementation of babbage-ui makes an API call to fetch the Babbage model.
The task is to remove that call and use a model (same model, for now) provided / passed by os-viewer.

- [x] amend babbage-ui to not call the API for the model
- [x] amend os-viewer to pass down the model to babbage-ui
- [x] check for any side effects (documentation, tests, etc.)
- [x] publish a new babbage-ui r

[2019-06-18 13:15] tlacoyodefrijol opened #1465 "Argentina data update"
When updating the pipeline to the new monthly budget and spending report, the download of the dataset is hanging and not allowing to run the pipeline. There seems to be a specific error.
@nightsh has more specific details about it below

[2019-06-18 13:30] tlacoyodefrijol opened #1466 "Top 30 administrative classifications on Treemap using "others""
The treemap currently shows only the top 30 classifications and leaves out the rest. We want to analyze the possibility of keeping the top 30 but showing the remaining classifications as "others" in that top 30, so we are able to show all the information in the treemap.

[2019-06-18 13:32] nightsh commented on #1465
To follow-up on this:

The "download" button on [this page](https://datos.gob.ar/dataset/sspre-presupuesto-administracion-publica-nacional-2019/archivo/sspre_164) leads to [this file](https://www.presupuestoabierto.gob.ar/datasets/2019/credito-mensual-2019.zip) but I cannot retrieve it:

Maybe there's an issue with how data is stored? Or maybe I'm doing something wrong, in which case I'll be happy

[2019-06-18 13:35] nightsh commented on #1466
This means "others" are the sum of everything else that don't make into the top 30?

[2019-06-18 13:42] tlacoyodefrijol commented on #1466
Exactly right. We currently show the treemap and list with the top 30 administrative entities.
![Screen Shot 2019-06-18 at 08 36 41](https://user-images.githubusercontent.com/5587545/59688937-4d5b3d80-91a4-11e9-9f27-faaf6b13467c.png)
![Screen Shot 2019-06-18 at 08 36 21](https://user-images.githubusercontent.com/5587545/59688945-50eec480-91a4-11e9-8fc3-0fe2d94914c5.png)
For example, Croatia has 50

[2019-06-23 13:33] hanecak commented on #1416
Thank you very much for implementing this.

A follow-up question, since I'm maybe doing something wrong. Is following work-flow OK?

1. download `datapackage.json` from existing "Presov 2016" example (https://openspending.org/viewer/1ae301d0fb4c5bd535ce8e2eadf7a668:presov.sk-program-budget-2016)
2. prepare CVS with 2017 data and load it into OS Packager, step 1
3. adjust `datapackage.json` (all "2

[2019-06-24 22:43] tlacoyodefrijol commented on #1465
@nightsh the Argentinian team sent a few observations about their data. Observations are as follow:

  Please note that here in Argentina a billion is "1.000.000.000.000" and in USA and many countries this number is known as "a trillion"
  I think that you have to put "Billion" or "Trillion" instead of "Million" and "Million" when you use "Miles"

I think this is because their dataset is captured

[2019-06-25 12:57] tlacoyodefrijol opened #1467 "Mexico team having problems with upload"
The Mexico Federal team is trying to run pipeline but is not able to do it. They don't get any feedback about the upload or any errrors.

[2019-06-28 18:55] chk1 commented on #1451
Any guidance, please?

[2019-07-02 17:13] tlacoyodefrijol opened #1468 "Incorrect encoding when downloading Croatian data"
When you download any of the CSVs for Croatian data, the content has a different encoding and shows strange characters.
<img width="1514" alt="Screen Shot 2019-07-02 at 12 12 10" src="https://user-images.githubusercontent.com/5587545/60532347-ba052a80-9cc2-11e9-8595-33b577767d82.png">

[2019-07-08 12:07] michaeljokf commented on #1452
I have been experiencing the same errors! This seems to be the case with any dataset. Will this be fixed?

[2019-07-08 13:58] michaeljokf commented on #1452
This seems to happen with any dataset. I have done it multiple times (with attached dataset) and checked the mapping as well. Upload just does not go through...
[rheinland-pfalz-19-20.zip](https://github.com/openspending/openspending/files/3368688/rheinland-pfalz-19-20.zip)

[2019-07-08 14:00] michaeljokf commented on #1452
this is what it says in my OS account:  Failed to load data from https://openspending.org/package/status?datapackage=https%3A%2F%2Fdatastore.openspending.org%2Fa6a16b964a7e784f99adecc47f26318a%2Frheinland-pfalz-19-20%2Fdatapackage.json

[2019-07-08 14:15] tlacoyodefrijol commented on #1465
- The values in the source spreadsheets have up to 8 decimals, yet the pipeline shaves off most of them but viewer only displays two - we need to keep the very precise numbers we've got (L.E.: do we?)

[2019-07-23 14:16] nightsh commented on #1443
@tlacoyodefrijol @LorenaGIFT
There was an issue with the Uruguay data, which prevented the pipeline from running properly. I have corrected the problems and hosted the CSVs in the git tree, but flagging them here so they would maybe get fixed at the source and we won't have to hold static assets in the repository.

The problem is with quoted values. Some rows (256 in total, for the entire data 201

[2019-08-07 08:54] akariv opened #1469 "Create babbage model and add it to the datapackage"
When publishing, create the babbage model that applies to the DB structure and add it to the `babbage_model` property in the datapackage.

[2019-08-07 09:00] akariv opened #1470 "When publishing, update elasticsearch with the package contents"
We want to update OS package store (i.e elasticsearch) while publishing data.
This needs to be done _before_, _during_ and _after_ the publishing process.

We need to make sure all properties are set correctly. review `datapackage-pipelines-fiscal` package and especially `update_model_in_registry` to see which properties need to be set and to which values.

[2019-08-07 16:09] tlacoyodefrijol opened #1471 "Mexico data not updating correctly"
Mexico updated their 2019 and reported the Viewer and the Json it is not bringing the fields of:

1. DESC_CONCEPTO
2. DESC_CAPITULO
3. DESC_PARTIDA_ESPECIFICA

https://openspending.org/api/3/cubes/667df60aa07c34260eae9b55b2778712:presupuesto_mexico/facts/?cut=ID_RAMO.ID_RAMO:%2212%22|ID_MODALIDAD.ID_MODALIDAD:%22U%22|ID_PP.ID_PP:%225%22|CICLO.CICLO:2018&pagesize=100000
![image011](https://user-ima

[2019-08-07 16:23] tlacoyodefrijol opened #1472 "Old OS visualization for Uruguay"
The government of Uruguay is using an old OpenSpending visualization that they have modified and show in their website.
Now that their data is published on OS, they want to find if they can:
1. Use the visualization as a standalone feature on their website, without using the old OS instance.
Visualization is here https://transparenciapresupuestaria.opp.gub.uy/inicio/presupuesto-nacional/a-d%C3%B3n

[2019-08-07 20:22] akariv opened #1473 "Push data into AWS"
When publishing, push the resulting denormalized data (i.e., before normalization occurs) to an AWS bucket.

- [x] Create a `dataflows-aws` library
- [x] create a `dump_to_aws` processor with similar semantics to `dump_to_path` (you can take inspiration - or most of the code - from `datapackage-pipelines-aws`)
- [ ] In the publication flow, replace the part where data is dumped locally to a `dump_

[2019-08-07 20:29] akariv opened #1474 "Create combined datapackage with all resources"
We want to create a data-package which contains links to all different resources in the same OS Package (e.g. one resource per uploaded year data file)

This datapackage would be stored on AWS and its URL would be placed in the `origin-datapackage` property in the Package Registry record (i.e. in elasticsearch).

- [ ] Add to the publication phase another step
- [ ] In this step, scan all existing

[2019-08-07 20:31] akariv opened #1475 "Allow editing of field properties in UI"
While DGP supports custom field options in the mapping / taxonomy (e.g. `decimalChar`, `format` or `currency`), it's still not supported via the UI.

We'd like to be able to edit these options in the UI in the mapping phase -allow adding custom properties to each field.

[2019-08-08 12:12] michaeljokf commented on #1452
is there any updates on this? I still get the same error message and I do not know how I am supposed to upload data anymore. This is a problem, because it is for an ongoing project with the German Federal State of Rheinland-Pfalz. Any ideas?

![Bildschirmfoto von »2019-08-08 14-10-26«](https://user-images.githubusercontent.com/22743376/62702199-6505b400-b9e6-11e9-8cfa-443910c5bef3.png)

[2019-08-08 13:16] michaeljokf commented on #1452
Ok looks like I got it to publish now: https://openspending.org/viewer/a6a16b964a7e784f99adecc47f26318a:rp1920
not sure if everything is correctly displayed yet.
It seems like you guys have changed the instructions for mapping (there are no partial/complete identifiers on lower levels anymore...

The reason I think it worked this time: I took the text columns and mapped those as unique identifiers

[2019-08-20 13:11] michaeljokf commented on #1452
issue has been fixed. Was not the mapping after all, someone must have fixed it but did not post about this here :-)

[2019-08-20 13:11] #1452 closed

[2019-08-24 09:47] roll commented on #1473
The lib is done:
- https://github.com/frictionlessdata/dataflows-aws
- https://pypi.org/project/dataflows-aws/

[2019-08-29 16:01] akariv commented on #1471
From what I can see, there was a change in June to the name of the dataset:

[code]

Which means that the data update in August happened on that dataset and not on the 'correct' one:
https://openspending.org/api/3/cubes/667df60aa07c34260eae9b55b2778712:presupuesto_mexico_2008_2019/facts/?cut=ID_RAMO.ID_RAMO:%2212%22|ID_MODALIDAD.ID_MODALIDAD:%22U%22|ID_PP.ID_PP:%225%22|CICLO.CICLO:2019&pagesize=10

[2019-08-30 11:14] #1453 closed

[2019-08-30 11:15] #1461 closed

[2019-08-30 11:15] #1446 closed

[2019-08-30 11:15] #1458 closed

[2019-08-30 11:15] #1459 closed

[2019-08-30 11:15] #1456 closed

[2019-08-30 11:15] #1454 closed

[2019-08-30 11:16] #1465 closed

[2019-08-30 11:16] #1463 closed

[2019-08-30 11:16] #1460 closed

[2019-08-30 11:45] roll commented on #1470
DONE

[2019-08-30 11:45] #1470 closed

[2019-09-02 08:29] akariv commented on #1443
Pipeline seems to be running OK, but I don't know how to check if the result is what was expected...

[2019-09-02 08:31] akariv commented on #1464
I reviewed all PRs and it's good to go for completing the last step.

[2019-09-02 08:32] akariv commented on #1444
Once #1464 is closed this can be closed as well.

[2019-09-02 08:34] akariv commented on #1444
Just to comment for anyone reviewing this in the future -
we decided to tackle a more modest goal: instead of removing all references to babbage model from os-viewer, just to remove them from babbage.ui (and keep the fetching of the model in a single place in os-viewer)

[2019-09-02 12:21] #1471 closed

[2019-09-02 12:24] #1467 closed

[2019-09-02 12:25] #1469 closed

[2019-09-04 06:42] #1464 closed

[2019-09-04 06:42] #1444 closed

[2019-09-05 14:00] tobiasschellhorn commented on #1452
i still get the error:

fiscal.helpers.save_primarykey
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/site-packages/datapackage_pipelines_fiscal/processors/helpers/save_primarykey.py", line 9, in <module>
    process(modify_datapackage=modify_datapackage)
  File "/usr/local/lib/python3.6/site-packages/datapackage_pipelines/wrapper/wrapper.py", line 223, in process
    ctx.data

[2019-09-17 20:51] tlacoyodefrijol opened #1476 "Argentina classification issues"
Clasificacion Administrativa:
You should avoid showing "Sector and subsector" cause they have always the same values "1". The best to do is avoid Character too (i know there are different values there).
The administrative classification should be:
jurisdiccion_id, subjurisdiccion_id, entidad_id, servicio_id

Object Class classification:
You are not showing the object_class classification ('inciso_

[2019-10-25 21:42] chk1 opened #1477 "OS-Viewer embeds are broken: "undefined" in model URL"
Embdedded views in OS-Viewer are currently broken, example URL: https://openspending.org/viewer/embed/treemap/7f037f45d2f473af5e754509a5bc9667:muenster-haushalt?measure=%22betrag.sum%22&groups%5B%5D=%22produktbereich.produktbereich%22&filters%5Bjahr.jahr%5D%5B%5D=2016&filters%5Brichtung.richtung%5D%5B%5D=%22Aufwendungen%22&order=%22betrag.sum%7Cdesc%22&lang=de

Errors in console (Chrome 77 on Wind

[2019-10-30 09:19] jobarratt commented on #1445
@akariv can this be closed? The note in the Roadmap says so.

[2019-11-07 21:43] tlacoyodefrijol commented on #1476
Fix is mostly done, Lorena shared a few extra observations. Comments are below.

Date is still a Hierarcy:
![unnamed](https://user-images.githubusercontent.com/5587545/68430156-2ca47c00-0175-11ea-8452-c544e87a94e5.png)

Instead of object_classification it should read "Objeto del Gasto"
![unnamed-1](https://user-images.githubusercontent.com/5587545/68430183-3d54f200-0175-11ea-9cb6-57045f4dc436.png)

[2019-11-11 14:21] jjalcolea commented on #1399
Hi. We've also stumbled into this bug (Spain)... :-(
Any estimation on when it will be solved? I've seen it's in the backlog of GIFT Phase IV...

Thanks,

Juanje.

[2019-11-13 11:00] jjalcolea commented on #1475
Not sure if this is relate or not to this issue, but the importer is apparently ignoring the currency information in the JSON file. After loading the file, in the UI it applies US dollars to all amounts, even if they are explicitly defined as EURos in the descriptor, i.e.:
`"measures": {
      "credito_inicial": {
        "source": "credito_inicial",
        "title": "credito_inicial",
        "cu

[2020-03-07 11:29] rufuspollock commented on #31
DUPLICATE / MOVED to https://github.com/datopian/comparotron

[2020-06-12 08:54] schlos commented on #1451
+1

I'm also having same issue of trying to use schema file instead of using GUI to click through all fields config.

[2020-06-12 11:05] chk1 commented on #1451
I got a response regarding schema files on the OKF forums https://discuss.okfn.org/t/updating-an-existing-dataset/8586/2

I found it hard to work with, still unable to update, I've not done any more testing since

[2020-07-03 20:20] rufuspollock opened #1478 "Clean up issue tracker (July 2020) - triage, close etc"
Currently 85 open issues, 5 open milestones and a GIFT Phase IV project board.

Let's get these triaged and anything old closed so we have a clean space to work from.

TODO: see issue like this on f11s and use that for inspiration.

[2020-07-03 20:57] rufuspollock opened #1479 "[epic] OpenSpending migration to new setup and stewardship (2020)"

[2020-07-03 21:01] rufuspollock opened #1480 "[migration] Auditing the current DBs (Postgres and ElasticSearch) for list of datasets and data"
When preparing for the migration I want to audit the current PostgreSQL DB (and ElasticSearch DB) to get list of datasets and their size (and maybe access frequency) so I can understand what needs to be migrated and what is involved.

## 🗃️ Outputs

* Spreadsheet with overview of database datasets / data tables: https://docs.google.com/spreadsheets/d/1Cno0jUkfl8ozf0qjaNhuCmJEmMaL2U65sNONqVTEEnM/ed

[2020-07-05 14:11] schlos opened #1481 "datapackage.json failed with error "Failed to load data""
Publishing status:
datapackage.json - Failed
Error: Failed to load data from https://openspending.org/package/status?datapackage=https%3A%2F%2Fs3.amazonaws.com%3A443%2Fdatastore.openspending.org%2F6f9de6393bf997134dc1afbb45096b76%2Fhr-01%2Fdatapackage.json

![Screenshot 2020-07-05 at 16 05 48](https://user-images.githubusercontent.com/1014134/86534567-967a4e80-bed9-11ea-8f3d-3e2f890127da.png)

Dat

[2020-07-06 19:42] sglavoie commented on #1480
### Done

* Retrieve the missing information and statistics for the databases precisely and put it in the spreadsheet. → https://docs.google.com/spreadsheets/d/1Cno0jUkfl8ozf0qjaNhuCmJEmMaL2U65sNONqVTEEnM/edit#gid=558049663&range=A1
* Add key figures to the Overview sheet.
* Push existing audit section, limited to README and list of SQL commands. → https://github.com/openspending/audit-for-migrati

[2020-07-08 19:00] sglavoie commented on #1480
**TL;DR**: I am blocked with finding the ownership information. Do you reckon I can reach out to Adam to get more help with debugging the issues I am facing? Else, I will need to see if someone else might be as familiar with this setup.

### Blockers

* I couldn't make more progress with finding the ownership information for each table from Elasticsearch: I was unable to log into the OpenSpending

[2020-07-09 11:57] rufuspollock commented on #1480
@sglavoie i think you could also push some of the sample data you had as well.

What i meant was that you could put a link to the spreadsheet from https://github.com/openspending/audit-for-migration-2020 and remove the tables you have there since they duplicate spreadsheet ...

Why is this a dead-end? Because data is not right or b/c you can't get all the datasets? If the latter, have you asked ab

[2020-07-09 17:30] sglavoie commented on #1480
Done!

Yes, I have seen `page` and `pagesize` being available as parameters in the https://github.com/openspending/os-api repo. I faced some issues when installing dependencies and also when using the Docker images available at https://hub.docker.com/u/openspending. I will reach out to Victor Nițu who kindly offered to help with this since he has worked on the project before.

I will do that. :+1:

[2020-07-09 18:58] rufuspollock commented on #1480
@sglavoie

Why would you be installing this yourself? you just need to use the docs to call the live running service!

[2020-07-09 19:22] sglavoie commented on #1480
@rufuspollock, I understood that's what I needed to do from Adam's earlier comment: _"You can log into any of the os containers and use rhe es API using curl or similar tool."_ The public API only return public information. Emails are not actually shown (and author names are often missing) and appear like so:

[code]

This is why I assumed I would have to be logged in to be able to see more than t

[2020-07-09 20:02] sglavoie opened #1482 "Get list of datasets we will migrate"
* When migrating to the new OpenSpending setup, I want to only keep those datasets that are "real" and "important" (and discard all the test/random datasets) so that we reduce work and have a cleaner future setup.
* When I select what datasets to migrate (keep), I want criteria to use so that I can (partially) automate the selection process.

## Acceptance

* [X] Selection criteria (metrics) are d

[2020-07-13 19:20] sglavoie commented on #1482
**Done**:
* Issue moved and updated.

**To Do**:
* Convert the existing conditional formatting rules to output text into a new column instead of using colors.

----

Thank you :slightly_smiling_face:.

[2020-07-17 13:53] sglavoie commented on #1482
@rufuspollock:

*  Filters now output `yes`/`no` in column `B` of [the spreadsheet](https://docs.google.com/spreadsheets/d/1Cno0jUkfl8ozf0qjaNhuCmJEmMaL2U65sNONqVTEEnM/edit) instead of using colors.
* Ownership info is not accessible, I will clear this up in a few minutes with Victor who offered to help and then with Adam if I get blocked because of a credential issue. Until this info is available

[2020-07-17 14:31] sglavoie commented on #1191
**FIXED**: Closing old issue without recent activity (>3 years) as part of #1478.

[2020-07-17 14:31] #1191 closed

[2020-07-17 14:36] sglavoie commented on #1149
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~2 years) as part of #1478. Label `prioritized` was removed. Please feel free to re-open if this is still relevant.

[2020-07-17 14:36] #1149 closed

[2020-07-17 14:38] sglavoie commented on #1128
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. Label `prioritized` was removed. Please feel free to re-open if this is still relevant.

[2020-07-17 14:38] #1128 closed

[2020-07-17 14:39] sglavoie commented on #1125
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~2 years) as part of #1478. Label `prioritized` was removed. Please feel free to re-open if this is still relevant.

[2020-07-17 14:39] #1125 closed

[2020-07-17 14:42] sglavoie commented on #1083
**WONTFIX/CLEANUP**: Closing old issue without recent activity (opened almost 4 years ago, no activity in the past >3 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 14:42] #1083 closed

[2020-07-17 14:42] sglavoie commented on #1070
**WONTFIX/CLEANUP**: Closing old issue without recent activity (opened almost 4 years ago, no activity since then) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 14:42] #1070 closed

[2020-07-17 14:44] sglavoie commented on #1065
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. Label `prioritized` was removed a long time ago. Please feel free to re-open if this is still relevant.

[2020-07-17 14:44] #1065 closed

[2020-07-17 15:18] sglavoie commented on #1003
**WONTFIX/CLEANUP**: Closing old issue without recent activity (opened >4 years ago, no activity since then) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:18] #1003 closed

[2020-07-17 15:19] sglavoie commented on #1001
**WONTFIX/CLEANUP**: Closing old issue without recent activity (opened >4 years ago, no activity since then) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:19] #1001 closed

[2020-07-17 15:20] sglavoie commented on #987
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~3 years) as part of #1478. Label `prioritized` was removed a long time ago. Please feel free to re-open if this is still relevant.

[2020-07-17 15:20] #987 closed

[2020-07-17 15:21] sglavoie commented on #939
**WONTFIX/CLEANUP**: Closing old issue without recent activity (opened >4 years ago, no activity since then) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:21] #939 closed

[2020-07-17 15:22] sglavoie commented on #918
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:22] #918 closed

[2020-07-17 15:23] sglavoie commented on #872
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:23] #872 closed

[2020-07-17 15:24] sglavoie commented on #870
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:24] #870 closed

[2020-07-17 15:26] sglavoie commented on #1330
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. The author of the issue has found a working solution. Please feel free to re-open if this is still relevant.

[2020-07-17 15:26] #1330 closed

[2020-07-17 15:29] sglavoie commented on #1322
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~3 years) as part of #1478. Related issue #1319 has not received attention either. Please feel free to re-open if this is still relevant.

[2020-07-17 15:29] #1322 closed

[2020-07-17 15:30] sglavoie commented on #1319
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2.5 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 15:30] #1319 closed

[2020-07-17 16:24] sglavoie commented on #1315
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2.5 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 16:24] #1315 closed

[2020-07-17 16:25] #1310 closed

[2020-07-17 16:26] sglavoie commented on #1304
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~3 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 16:26] #1304 closed

[2020-07-17 16:32] sglavoie commented on #1286
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2.5 years) as part of #1478. We are only migrating the data from OpenSpending to DataHub right now and the plan would be to merge the data into datahub.io, so this should not need further attention.

Please feel free to re-open if this is still relevant.

[2020-07-17 16:32] #1286 closed

[2020-07-17 16:33] sglavoie commented on #1277
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~2 years) as part of #1478. Label `prioritized` was removed a long time ago. Please feel free to re-open if this is still relevant.

[2020-07-17 16:33] #1277 closed

[2020-07-17 16:35] sglavoie commented on #1273
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. The author of the issue has not followed up with a PR yet and the use case is reported to be already supported in other ways. Please feel free to re-open if this is still relevant.

[2020-07-17 16:35] #1273 closed

[2020-07-17 16:36] sglavoie commented on #1262
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. Label `prioritized` was removed a long time ago. Please feel free to re-open if this is still relevant.

[2020-07-17 16:36] #1262 closed

[2020-07-17 16:37] sglavoie commented on #1245
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) as part of #1478. Label `prioritized` was also removed a long time ago. Please feel free to re-open if this is still relevant.

[2020-07-17 16:37] #1245 closed

[2020-07-17 16:38] sglavoie commented on #1244
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 16:38] #1244 closed

[2020-07-17 16:40] sglavoie commented on #1225
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. There was no concrete action taken on the original issue, which is no longer "new". Please feel free to re-open if this is still relevant.

[2020-07-17 16:40] #1225 closed

[2020-07-17 16:42] sglavoie commented on #1195
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 16:42] #1195 closed

[2020-07-17 16:42] sglavoie commented on #1193
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>3 years) nor assignee as part of #1478. Label `prioritized` was removed a long time ago. Please feel free to re-open if this is still relevant.

[2020-07-17 16:42] #1193 closed

[2020-07-17 16:46] sglavoie commented on #1417
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>1.5 years) as part of #1478. The project [GIFT Phase IV](https://github.com/openspending/openspending/projects/1) was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 16:46] #1417 closed

[2020-07-17 16:49] sglavoie commented on #1406
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>1.5 years) as part of #1478. The author of the issue seems happy with the reply he received and did not follow up since then. Please feel free to re-open if this is still relevant.

[2020-07-17 16:49] #1406 closed

[2020-07-17 16:50] sglavoie commented on #1405
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>1.5 years) as part of #1478. There was no follow-up nor assignee on this one. Please feel free to re-open if this is still relevant.

[2020-07-17 16:50] #1405 closed

[2020-07-17 16:50] sglavoie commented on #1404
WONTFIX/CLEANUP: Closing old issue without recent activity (>1.5 years) as part of #1478. There was no follow-up nor assignee on this one. Please feel free to re-open if this is still relevant.

[2020-07-17 16:50] #1404 closed

[2020-07-17 16:53] sglavoie commented on #1399
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>7 months) as part of #1478. [GIFT Phase IV](https://github.com/openspending/openspending/projects/1) was closed and data is about to be migrated to DataHub.io. Please feel free to re-open if this is still relevant.

[2020-07-17 16:53] #1399 closed

[2020-07-17 16:55] sglavoie commented on #1398
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>1.5 years) as part of #1478. The referenced issue has been closed by its author. Please feel free to re-open if this is still relevant.

[2020-07-17 16:55] #1398 closed

[2020-07-17 16:56] sglavoie commented on #1396
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>1.5 years) nor assignee as part of #1478. The author has not followed up and neither did contributors to this project as of yet. Please feel free to re-open if this is still relevant.

[2020-07-17 16:56] #1396 closed

[2020-07-17 16:56] sglavoie commented on #1395
WONTFIX/CLEANUP: Closing old issue without recent activity (>1.5 years) nor assignee as part of #1478. The author has not followed up and neither did contributors to this project as of yet. Please feel free to re-open if this is still relevant.

[2020-07-17 16:56] #1395 closed

[2020-07-17 16:57] sglavoie commented on #1390
WONTFIX/CLEANUP: Closing old issue without recent activity (>1.5 years) nor assignee as part of #1478. The author has not followed up and neither did contributors to this project as of yet. Please feel free to re-open if this is still relevant.

[2020-07-17 16:57] #1390 closed

[2020-07-17 16:58] sglavoie commented on #1386
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~2 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 16:58] #1386 closed

[2020-07-17 17:00] sglavoie commented on #1384
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>1.5 years) nor assignee as part of #1478. [GIFT Phase IV](https://github.com/openspending/openspending/projects/1) was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:00] #1384 closed

[2020-07-17 17:02] sglavoie commented on #1379
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~1 year 4 months) as part of #1478. The data will be migrated, cleaned and merged into DataHub.io, which uses a different platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:02] #1379 closed

[2020-07-17 17:02] sglavoie commented on #1376
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:02] #1376 closed

[2020-07-17 17:04] sglavoie commented on #1375
**FIXED/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. A fix was brought and the author has not replied back. Please feel free to re-open if this is still relevant.

[2020-07-17 17:04] #1375 closed

[2020-07-17 17:05] sglavoie commented on #1371
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Data will be migrated to the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:05] #1371 closed

[2020-07-17 17:06] sglavoie commented on #1370
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Data will be migrated to the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:06] #1370 closed

[2020-07-17 17:06] sglavoie commented on #1369
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:06] #1369 closed

[2020-07-17 17:07] sglavoie commented on #1368
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:07] #1368 closed

[2020-07-17 17:07] sglavoie commented on #1366
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:07] #1366 closed

[2020-07-17 17:07] #1365 closed

[2020-07-17 17:08] sglavoie commented on #1364
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:08] #1364 closed

[2020-07-17 17:09] sglavoie commented on #1360
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:09] #1360 closed

[2020-07-17 17:09] sglavoie commented on #1359
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:09] #1359 closed

[2020-07-17 17:09] sglavoie commented on #1349
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:09] #1349 closed

[2020-07-17 17:10] sglavoie commented on #1348
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) nor assignee as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:10] #1348 closed

[2020-07-17 17:10] sglavoie commented on #1345
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-17 17:10] #1345 closed

[2020-07-17 17:11] sglavoie commented on #1339
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>2 years) as part of #1478. This is about Phase III, Phase IV is already closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:11] #1339 closed

[2020-07-17 17:15] sglavoie commented on #1476
**WONTFIX/CLEANUP**: Closing old issue without recent activity (>8 months) as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:15] #1476 closed

[2020-07-17 17:22] sglavoie commented on #1475
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:22] #1475 closed

[2020-07-17 17:24] sglavoie commented on #1474
**WONTFIX/CLEANUP**: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:24] #1474 closed

[2020-07-17 17:24] sglavoie commented on #1473
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:24] #1473 closed

[2020-07-17 17:25] sglavoie commented on #1472
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:25] #1472 closed

[2020-07-17 17:25] sglavoie commented on #1468
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:25] #1468 closed

[2020-07-17 17:26] sglavoie commented on #1466
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:27] sglavoie commented on #1462
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:27] #1462 closed

[2020-07-17 17:28] sglavoie commented on #1457
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:28] #1457 closed

[2020-07-17 17:33] sglavoie commented on #1445
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:33] #1445 closed

[2020-07-17 17:34] sglavoie commented on #1443
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:34] #1443 closed

[2020-07-17 17:35] sglavoie commented on #1442
WONTFIX/CLEANUP: Closing old issue without recent activity (~1 year) as part of #1478, _"last week"_ doesn't apply anymore :smile:. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:35] #1442 closed

[2020-07-17 17:35] sglavoie commented on #1438
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:35] #1438 closed

[2020-07-17 17:36] sglavoie commented on #1437
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:36] #1437 closed

[2020-07-17 17:37] sglavoie commented on #1436
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:37] #1436 closed

[2020-07-17 17:38] sglavoie commented on #1435
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. There is also duplicate data at this point. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:38] #1435 closed

[2020-07-17 17:39] sglavoie commented on #1434
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) nor assignee as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:39] #1434 closed

[2020-07-17 17:39] sglavoie commented on #1433
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:39] #1433 closed

[2020-07-17 17:39] sglavoie commented on #1432
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:39] #1432 closed

[2020-07-17 17:40] sglavoie commented on #1431
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:40] #1431 closed

[2020-07-17 17:41] sglavoie commented on #1429
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. The author did not follow up yet. Please feel free to re-open if this is still relevant.

[2020-07-17 17:41] #1429 closed

[2020-07-17 17:42] sglavoie commented on #1426
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) nor assignee as part of #1478. Data will be migrated and merged into the DataHub.io platform. Please feel free to re-open if this is still relevant.

[2020-07-17 17:42] #1426 closed

[2020-07-17 17:42] sglavoie commented on #1425
WONTFIX/CLEANUP: Closing old issue without recent activity (>1 year) as part of #1478. Data will be migrated and merged into the DataHub.io platform. GIFT Phase IV was closed. Please feel free to re-open if this is still relevant.

[2020-07-17 17:42] #1425 closed

[2020-07-17 17:51] sglavoie commented on #1478
@rufuspollock — **Done.**

* There might still be a couple of issues that can be closed. They are now all cleanly triaged in the board: https://github.com/openspending/openspending/projects/2

[2020-07-17 20:33] sglavoie commented on #1482
* Victor helped me get the metadata from Elasticsearch and all of it is now part of the spreadsheet.
* New filters can now be created to remove duplicates where no ownership information exists and where the table name is practically identical except for the fact that it ends with `_X`, where `X` can be any digit. More on this early next week!

[2020-07-20 10:03] jbothma commented on #1479
Really happy to hear you've found a future home!

Heads-up vulekamali.gov.za very much depends on the fiscal (babbage) API - particularly the `model` and `aggregate` endpoints. Possibly also `facts` and `members`.

Please give notice to jd@openup.org.za, info@openup.org.za and info@vulekamali.gov.za if this API will cease to work and requires changes in the implementation.

I would love to hear mo

[2020-07-20 15:59] jbothma commented on #1479
We currently have [quite detailed documentation for adding datasets using OS Packager](https://maintenance.vulekamali.gov.za/operations-actions/adding-modifying-information-on-the-site/adding-structured-fiscal-data-to-openspending#adding-a-dataset-to-openspending) which we then use in the API. This is because the people in our national treasury who would be preparing and uploading this data are no

[2020-07-21 09:57] rufuspollock commented on #1182
@sglavoie i think you can close this one as well as per your other ones (as very old now).

[2020-07-21 09:57] rufuspollock commented on #1326
@sglavoie i think we also close this as wontfix. It will be obsolete anyway once on datahub.

[2020-07-21 12:46] sglavoie commented on #1182
**WONTFIX/CLEANUP**: Closing old issue without recent activity as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-21 12:46] #1182 closed

[2020-07-21 12:47] sglavoie commented on #1326
**WONTFIX**: Closing old issue without recent activity as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-21 12:47] #1326 closed

[2020-07-21 12:48] sglavoie commented on #1455
**WONTFIX/CLEANUP**: Closing old issue without recent activity as part of #1478. Please feel free to re-open if this is still relevant.

[2020-07-21 12:48] #1455 closed

[2020-07-21 12:50] sglavoie commented on #1451
**WONTFIX/CLEANUP**: Closing issue as part of #1478. Data will be migrated to the DataHub platform. Please feel free to re-open if this is still relevant once the migration has taken place.

[2020-07-21 12:50] #1451 closed

[2020-07-21 13:07] sglavoie commented on #1481
**WONTFIX/CLEANUP**: Closing issue as part of #1478. Data will be migrated to the DataHub platform. Please feel free to re-open if this is still relevant once the migration has been done.

[2020-07-21 13:07] #1481 closed

[2020-07-21 13:07] sglavoie commented on #1477
**WONTFIX/CLEANUP**: Closing issue as part of #1478. Data will be migrated to the DataHub platform. Please feel free to re-open if this is still relevant once the migration has been done.

[2020-07-21 13:07] #1477 closed

[2020-07-21 13:13] sglavoie commented on #1478
**FIXED**: Closing because everything was closed, no more action needed.

[2020-07-21 13:13] #1478 closed

[2020-07-21 13:22] sglavoie commented on #1480
**FIXED**: Everything was done. The table selection of what to keep is still ongoing in a separate issue #1482, but the tasks listed here are done.

[2020-07-21 13:22] #1480 closed

[2020-07-21 14:43] schlos commented on #1481
@sglavoie do I need to do anything with my dataset? How will move to DataHub resolve this issue? Could you share a more detailed resolution description?

Thanks!

[2020-07-21 14:55] sglavoie commented on #1481
@schlos, thank you for following up. I do not have a clear answer at this moment because DataHub is a completely different platform and we still have to define what will be merged and how exactly. We will focus on using DataHub, therefore I cannot say what will be fixed or not from the point of view of the OpenSpending platform, but it should be irrelevant in the end once we get all the desired fu

[2020-07-21 15:46] rufuspollock commented on #1480
@sglavoie 👏

Qu: have you documented in the README of that repo how you obtained the data e.g. how did you get owner info etc. If not, can you document that in the README of that repo.

[2020-07-21 15:48] rufuspollock commented on #1482
@sglavoie can you add to the README in https://github.com/openspending/audit-for-migration-2020 a **succinct** explanation of your filter approach and its logic / motivation.

[2020-07-21 16:05] sglavoie commented on #1480
@rufuspollock:

Not yet. I will do that. :+1:

I do not know. This is being retrieved straight from Elasticsearch so that's the way it has been stored for some reason. A few emails are fully shown, but the vast majority of them are not.

Also, many tables do not match any owner and that helps in seeing what is being duplicated when the name of the table is almost identical but without owner. I wil

[2020-07-21 16:08] sglavoie commented on #1482
Yes, I will do that and update you here once it's done. :+1:

[2020-07-21 16:21] rufuspollock commented on #1479
@jbothma our default plan is to replace it, probably with a general UI tool for adding data to DataHub. We get that we want an option for relatively non-technical users.

[2020-07-22 14:36] rufuspollock opened #1483 "Shut down write access to OpenSpending"
Two ways for users to add datasets are packager and data genus processor => Shut down packager and data genus processor.

## Acceptance

* [ ] No way to add new datasets (or update existing ones)
* [ ] Pages replaced with some notice pointing to the migration issue

## Tasks

...

[2020-07-22 14:39] rufuspollock opened #1484 "Create catalog of existing datasets"
Extract from the MetaStore (elasticsearch) a dump of all the dataset metadata.

When doing the migration i want a full list of all datasets and their ids so that I can a) filter them to identify what to migrate b) find associated files e.g. in storage c) use this list to drive the migration

## Acceptance

* [x] Extract full dump. **DONE**: Stored in Google Drive.
* [x] Get a sample of 2-3 entries

[2020-07-23 07:43] rufuspollock opened #1485 "Overview of Platform and Key Flows as of July 2020"
When doing the migration to the new setup I want an understanding of the current platform so we both know what needs to be migrated and how we could do that

## Acceptance

* [x] Diagram / overview of key components and flows

## Tasks

* [x] Interview @akariv about thisi
* [x] Summarize results

## Outputs

Docs: https://openspending.readthedocs.io/en/latest/developers/ - good though no overview

[2020-07-27 16:53] sglavoie commented on #1482
**FIXED**: All tasks were done and a succinct explanation of the filter approach was added to https://github.com/openspending/audit-for-migration-2020.

[2020-07-27 16:53] #1482 closed

[2020-07-27 17:27] sglavoie commented on #1484
* :heavy_check_mark: We have a full dump from Elasticsearch (JSON).
* :heavy_check_mark: From that dump, I extracted the metadata about 3 tables, stripping away private URL, names and emails:
  * https://drive.google.com/file/d/1GZz3skMGhA9bC1BQBTQjULs6xsLJBsZQ/view?usp=sharing
  * https://drive.google.com/file/d/16YOlGbnzBtN-v1FZBvxPMrt1sQTd5r2d/view?usp=sharing
  * https://drive.google.com/file/

[2020-07-27 19:33] rufuspollock commented on #1484
I prefer tables in google spreadsheet please with key fields. (maybe just
sample to start with).
_________________________________________________________________________
*Datopian *| https://datopian.com | Open solutions for a data driven world
*DataHub*  | https://datahub.io   | GitHub for data
*CKAN    * | http://ckan.org <https://ckan.org/>      | The world's leading
data portal solution

Pres

[2020-07-28 12:39] sglavoie commented on #1484
**TL;DR**: Here is the CSV for a portion of the dump: https://docs.google.com/spreadsheets/d/1e6dDIjcdBZthEsEckvd1tOTz94DksuZf7l5vRxR3WHM/edit?usp=sharing

It contains the key fields and to the right a list of the columns as they are stored in the PostgreSQL database – those expand to the right so that we have only one row per table, making it easier to read.

There are a few more fields that coul

[2020-07-29 10:09] rufuspollock commented on #1484
@sglavoie as per comment in spreadsheet:

* Can i understand if we can connect this stuff with the data stored in s3. As per discussion with adam key thing here is to have list of datasets with the *identifier* that allows us to locate the folder in s3 with datapackage.json and data.
* have we stored a full dump somewhere privately in drive?

[2020-07-29 13:38] sglavoie commented on #1484
**TL;DR**: @rufuspollock, the spreadsheet now contains a column `id` which is the identifier we need for S3 and we do have a full dump in the shared Datopian Google Drive: https://drive.google.com/drive/u/1/folders/1t7FtW1mBVOCu8zrwRz0sh-TgESh03CrG

I added the following fields:

* Column `C` is now `id`, which should be the "identifier" we are looking for as it corresponds to what appears in the

[2020-07-29 17:54] rufuspollock commented on #1484
@sglavoie feedback on comms: the spreadsheet is not linked in your comment so the email i got did not have it and i had to come here. Then when i looked here it is not in description or your latest comment so i have to scroll through the comments to find what i think it is. => think about the person receiving my message and what they would need to be able to act on it quickly (esp if within their

[2020-07-29 17:59] sglavoie commented on #1484
Thank you for your feedback. I will be careful to link the necessary references by assuming that everything is first read from an email notification. :+1:

[2020-08-10 06:59] rufuspollock commented on #1483
@sglavoie can you consult with @akariv on how we might do this and then get ready to implement this.

[2020-08-10 07:00] rufuspollock commented on #1484
@sglavoie what is the state here? Can we prioritize getting this complete (how much time will that take?)

[2020-08-10 12:30] sglavoie commented on #1483
@rufuspollock, yes, no problem! I will reach out to @akariv in a short while today and keep you updated. :+1:

[2020-08-10 12:39] sglavoie commented on #1484
**TL;DR:** @rufuspollock, if what's [in the CSV file](https://docs.google.com/spreadsheets/d/1e6dDIjcdBZthEsEckvd1tOTz94DksuZf7l5vRxR3WHM/edit?usp=sharing) (dump samples) is what we want, getting all the metadata for all the tables and publishing it to the audit repo should take me about 2 hours to finish.

The reason for this is that the full dump we got later contains a few different fields from

[2020-08-10 16:59] rufuspollock commented on #1484
@sglavoie i think the google spreadsheet columns look fine. The main thing is we have the datapackage.json which gives us author, title etc. Note some of these datasets seem to have "Test" in the title (e.g. the first one) so next step would be to filter for what we want to migrate.

[2020-08-10 17:02] sglavoie commented on #1484
@rufuspollock: understood! That should not change the estimate at all because the plan would be to retrieve all the metadata and apply the existing filters to the list of tables we get. :+1:

[2020-08-25 18:12] sglavoie commented on #1484
**TL;DR**: @rufuspollock, [catalog of existing OpenSpending datasets created here](https://docs.google.com/spreadsheets/d/1Cno0jUkfl8ozf0qjaNhuCmJEmMaL2U65sNONqVTEEnM/edit#gid=402256245) – filters are already applied so we have an excellent idea of what to migrate from that list.

---

How we got those results:

* We get our complete list of tables from the Postgres database as a reference [in the

[2020-08-25 18:19] sglavoie commented on #1483
Here is the explanation @akariv shared with me:

You can use the kubernetes scale command to set the amount of replicas to 0, thus effectively removing them from the deployment.

[2020-08-31 15:20] sglavoie opened #1486 "[trial migration] Move GIFT datasets to github.com/gift-data"
# Trial migration of GIFT datasets to GitHub

**Job story**: When I migrate data from an S3 bucket (in this case, GIFT datasets), I want to be able to follow an automated process to retrieve the data and re-upload it to Google Cloud Storage while storing the metadata on GitHub so I can safely back up all the data and remove the dependency from the old storage location (S3).

## Acceptance criteria

[2020-08-31 18:35] sglavoie commented on #1486
Upload succeeded! Generated log on the Git-LFS server (using uWSGI locally + Giftless cloned from source):
[code]

On GCS:

![image](https://user-images.githubusercontent.com/32682903/91754096-78099a00-eb8e-11ea-8a41-9c1a8d03b9ab.png)

Server config file:
[code]

`credentials.json` with service account:

[code]

[2020-09-01 19:58] sglavoie commented on #1486
**Update**:

* All the repos for GIFT were created programmatically: https://github.com/gift-data
* All the resources and `datapackage.json` files were retrieved locally, ready to be uploaded to Google Cloud Storage. Script used:

[code]

[2020-09-03 11:43] rufuspollock commented on #1486
@sglavoie great job 👏

Small details: can we add acceptance criteria and can you update the issue tasks with the result as per the guidelines in the playbook.

Also i suggest putting the script (and the script for booting uwsgi) in e.g. a gist somewhere for now and linking that clearly from relevant items in the issue description. (You could even put this script in the migration repo we created).

[2020-09-03 16:50] sglavoie commented on #1486
@rufuspollock: Done.

* Issue description updated.
* Migration process documented in the [audit repo](https://github.com/openspending/audit-for-migration-2020/tree/master/s3_to_google_cloud_storage).

**Limitations to consider**:

* There is way too much data to backup and very little that we actually want to keep based on our selection criteria, therefore **the name of the repositories were hand-

[2020-09-04 12:50] jcballesteros opened #1487 "I can't share visualizations"
Hello,

I just add a new visualization, and I´m using the share functionality, but it doesn't work.

I checked in Firefox, Chrome, Edge,...

It´s look like a javascript problem, because I have these errors in the console:

[code]

​Thanks in advance

[2020-09-04 19:04] sglavoie commented on #1486
**FIXED**: Closing as all tasks were done and the GIFT migration has been completed.

* If we want to consider other datasets or setting up Giftless on a remote server, we can open separate issues for those.
* Feel free to re-open if something more might be necessary to be done as part of the initial tasks.

[2020-09-04 19:04] #1486 closed, assigned to sglavoie

[2020-09-04 19:05] sglavoie commented on #1484
**FIXED**: Closing as all tasks were done.

* Feel free to re-open if something more might be necessary to be done as part of the initial tasks.

[2020-09-04 19:05] #1484 closed

[2020-09-12 12:42] chk1 commented on #1487
I opened a similar issue, see #1477

[2020-10-06 13:22] sglavoie opened #1488 "Automated migration of all non-GIFT datasets we plan to keep"
**Context:**
* Part of Epic #1479.
* GIFT datasets were backed up as part of #1486.

**Job story:**

* When we are about to migrate all OpenSpending datasets we want to keep, we want to make sure that we have a solid plan to execute successfully the migration so we can confidently know that all OpenSpending data will be backed up to Google Storage and GitHub and that nothing we need will be mistak

[2020-10-07 19:58] sglavoie commented on #1488
**TL;DR:** done!

**Quick update**:

* There are 76 new unique datasets that have been considered for a backup weighting ~6.3GB (apart from the datasets we already have for GIFT which are ~8.4GB in size).
  * All of them have been backed up, with their respective `datapackage.json` and all accompanying resources: they are located on Google Cloud Storage and each dataset has a repository at https:/

[2020-10-23 13:33] sglavoie opened #1489 "[GIFT] List of user stories"
## Acceptance

* [x] The OpenSpending Trello board has been backed up and has been deleted.

## Tasks

* [x] Retrieve all user stories from the OpenSpending Trello board. – **DONE**: [See comment below](https://github.com/openspending/openspending/issues/1489#issuecomment-723223605).
* [x] Move user stories to internal Google Docs document. – **DONE** (private access).

[2020-11-06 18:09] sglavoie commented on #1489
## User stories

### UI

* As a {Data Publishing User}, I want to be able to edit a dataset I have published, so I can correct or enhance existing data.
* As a {Data Publishing User}, I want to be able to edit the model of data I have already imported, so I can fix bugs or make enhancements in the API built for my data.
* As a {Data Publishing User}, I want to be able to delete a dataset I have pu

[2020-11-06 18:10] sglavoie commented on #1489
**FIXED**: Closing as all necessary actions have been taken.

[2020-11-06 18:10] #1489 closed, assigned to nobody

[2020-11-13 09:13] rufuspollock opened #1490 "Design of New OpenSpending System"
OpenSpending (and GIFT) are going to pioneer the DataHub "next" approach https://github.com/datopian/datahub-next

* Datasets are stored into Git(Hub) + cloud storage - see e.g. https://github.com/gift-data
  * Metadata in GitHub as Data Package
  * Data either directly in GitHub (if small) or Cloud of choice with pointer in GitHub using git-lfs+giftless
* Publisher UI: can edit directly in GitHub

[2020-11-24 10:25] rufuspollock opened #1491 "Portal (Read Frontend)"
We will be replacing the current "portal" part of OpenSpending (ie. read frontend) with CKAN next generation frontend system  - see https://tech.datopian.com/frontend/

## Tasks

* [ ] Plan
* [ ] Implement

### Implement

* [ ] MetaStore (in memory)
  * [ ] List of datasets in a file
  * [ ] On boot up we load all of those datapackage.json for those datasets
* [ ] Indexing in e.g. lunr.js
* [ ] Ca

[2020-12-08 12:18] rufuspollock commented on #1479
@jbothma as per email thread (and sorry to miss this in July)

We're generally planning to deprecate the API and do that quite soon now (no-one other than you has contacted us or responded so far). However, as stated in original issue:

In your case it sounds like you would need that, at least for some period of time so we'll be looking to do that /cc @sglavoie

[2020-12-16 11:33] rufuspollock commented on #1479
UPDATE: we have shut down OpenSpending uploading for the time being as we prepare the migration. We plan to re-enable this (on new setup) in January.

[2021-04-14 11:16] schlos commented on #1479
Hi @rufuspollock ,
What will happen with offenerhaushalt.de? It also uses OpenSpending API (https://github.com/okfde/offenerhaushalt.de) and I've been working on a fork for Croatian open spending project.

Moreover, Open SpendingProject Team from Open Knowledge International (OKI) in cooperation with GIFT (Global Initiative for Fiscal Transparency) and BOOST initiative of the World bank worked on

[2021-04-15 07:45] rufuspollock commented on #1479
@schlos can you have a catchup with @sglavoie who is leading on the migration. That way we can understand what you are doing at the moment and how that could work going forward.