[2017-03-10 15:53] mlukasch commented on #1226
Here my compose-file:
https://github.com/openbudgets/integration/blob/master/docker-config/prod.yml

And here is the OS-Explorer-Dockerfile which is basically the one from OpenSpending:
https://github.com/openbudgets/integration/tree/master/docker-config/os-explorer

Thanks a lot.

[2017-03-10 15:58] mlukasch commented on #1226
Sorry @akariv for wasting your time. Was using an old default.json file as pattern.
Will report back if it works with the new one.

[2017-03-10 16:11] mlukasch commented on #1226
No the default.json wasnt outdated actually. Here is the link to the explorer:
http://eis-openbudgets.iais.fraunhofer.de/explorer/

[2017-03-14 10:40] mlukasch commented on #1226
The older commit 4d1f2c51a67a08f50a988eb8f9061db9123f0648 is working and I will use that one the time being.

[2017-03-14 15:06] mlukasch opened #1227 "New themes for OS-Viewer requires restart"
Hello @akariv,
we were trying out the microsite on the FHG-Server @pierorex is currently working on.
Via the Microsite-App users can create new themes which will be stored in json-format similar to those ones here:
https://github.com/openspending/os-viewer/tree/master/app/config/themes
But in order for the OS-Viewer to recognize the created theming-json-files a restart of the OS-Viewer-app (hosted

[2017-03-14 15:28] akariv commented on #1227
Yes, I think that if you use a component such as https://github.com/mikeal/watch it should be possible.

[2017-03-14 15:32] pierorex commented on #1227
@akariv is there an administration command we can use to tell os-viewer to reload its theme files without restarting it?

[2017-03-14 15:33] akariv commented on #1227
not at the moment

[2017-03-14 15:37] pierorex commented on #1227
I see, thank you :)

[2017-03-15 11:11] pierorex opened #1228 "OS-Packager Mapping KeyError (Python)"
While uploading a new dataset using OS-Packager we received a Python KeyError.

This is the mapping used:
![os-packager-mapping-errored](https://cloud.githubusercontent.com/assets/9373636/23945774/1e4b65ee-0978-11e7-82d2-2b9e2ec2d810.png)

This is the error:
![os-packager-error](https://cloud.githubusercontent.com/assets/9373636/23945783/278c7b5c-0978-11e7-9e69-91418fbca767.png)

This occured in a

[2017-03-15 11:43] pierorex opened #1229 "Allow default date"
When the user-given dataset does not include a 'date' field, OS-Packager doesn't allow to upload it, thus forcing the user to update his dataset manually, re-upload again and re-map again, A cool new feature would be to allow the user to set a default to every row from the csv directly within OS-Packager, perhaps something like an input field asking for a default year to include in all transaction

[2017-03-15 11:58] kravets-levko commented on #1229
Hi @pierorex! Thank you for your feedback. Are you talking about something like [this](https://github.com/openspending/openspending/issues/1130)?

[2017-03-15 12:50] pierorex commented on #1229
@kravets-levko I don't think so, that issue is about a toggle to turn columns on/off. What we're talking about in this issue is about a way to define a default value for columns that are mandatory in order to get accepted by OS-Packager, such as 'date'

[2017-03-15 12:53] kravets-levko commented on #1229
That issue is about adding *constant-value* columns - *virtual* columns that does not exist in CSV file and should add the same constant value for all rows. It may be any value, and it may be mapped as regular column, - and it may be *date* as well. Is that the thing you wish?

[2017-03-15 13:17] pierorex commented on #1229
@kravets-levko Ah, great! Yeah, that might work. Adding a virtual date column would overcome the validation and allow the user to complete his upload.

[2017-03-15 13:20] kravets-levko commented on #1229
About that issue - it's already in progress, so you may watch it. I'll also notify you here when it will be available to try.

[2017-03-15 13:22] pierorex commented on #1229
Thank you!

[2017-03-17 06:47] skarampatakis opened #1230 "OS-Packager fails tests"
Hi,

I am trying to set up a local instance of OS-Packager following you instructions.
It builds successfully but when I run the tests it fails.
[test.txt](https://github.com/openspending/openspending/files/849826/test.txt)

Please find attached the output. Am I missing something?

I continued with using the OS-packager after all, but I cannot pass through mapping step. I select a year column and

[2017-03-20 06:58] #1208 closed

[2017-03-20 06:58] #1167 closed

[2017-03-20 06:59] #1166 closed

[2017-03-20 06:59] #1168 closed

[2017-03-20 07:00] DianaMPG commented on #1218
@kravets-levko can I close this issue?

[2017-03-20 15:35] mlukasch commented on #1226
The error was on my side. Was able to use the latest commit. http://eis-openbudgets.iais.fraunhofer.de/explorer/
Sorry for causing trouble.

[2017-03-20 15:35] #1226 closed

[2017-03-20 18:23] kravets-levko commented on #1230
Hi @skarampatakis! Thank you for your feedback. Seems that it is rather an issue with tests and not with the app; I'll take a closer look at it as soon as it will be possible.

[2017-03-22 08:17] skarampatakis commented on #1230
Hi @kravets-levko. Thank you for your response. As I mentioned it is not just the tests, but also the app, as the next button is never showing. This is something indicated by the test logs also if understand correctly. I will try to install the app using docker, as I had a similar issue with cosmopolitan, when trying to follow the instructions from readme.

I will this probably today and inform on

[2017-03-22 08:31] kravets-levko commented on #1230
Hm, seems that this issue is more serious that I thought. Anyway, I cannot check it right now, but will do it ASAP (probably today, but a bit later)

[2017-03-22 08:53] skarampatakis commented on #1230
Hi,
I have tested with docker and I got the same results.
The next thing I tried was to copy the app.js from your online instance and put it on my public folder. And it seems to be working!

During npm install I got these warnings
[code]
I don't know if this is the source of the problem. Or maybe an outdated version from github? Which branch should I clone?

[2017-03-22 09:38] kravets-levko commented on #1230
The latest version of the app is in the `master` branch, so you should use it. Which branch did you use when you encountered this issue?

About WARNs: just ignore them; we cannot fix them because that dependencies are not direct dependencies of OS Packager. They are not affecting the app, it should work.

[2017-03-22 09:40] skarampatakis commented on #1230
I am using the master branch.

[2017-03-23 11:35] akariv commented on #1130
@kravets-levko
Just add to the resource a new property named `constant` and a value as such:
[code]

[2017-03-23 12:32] kravets-levko commented on #1130
@akariv I was sure that it will be something like *virtual* columns - so user will be able to map it properly. In addition, we need to create fields for constant values in order to solve issues like [this](https://github.com/openspending/openspending/issues/1229). WDYT?

[2017-03-23 13:14] akariv commented on #1130
Sorry, I wasn't clear at all.

[code]

[2017-03-23 13:14] kravets-levko commented on #1130
Ah, great! Thanks!

[2017-03-23 13:23] akariv commented on #1130
I must make a change to `os-types` for this to work, though.

[2017-03-28 14:18] smth commented on #1056
My opinion is that those tooltips could be annoying. I suggest, as they are quite short, we just put them inline. To keep the lists fairly short, I'm also suggesting adding another level of navigation:

<img width="485" alt="image" src="https://cloud.githubusercontent.com/assets/1375708/24409508/552dfdc4-13c8-11e7-855d-604f00ae40fc.png">

Possibly more annoying would be not being able to go back u

[2017-03-28 15:15] smth commented on #1131
@akariv

My first step towards this was the introduction of the TODO list and NOTGONNADO list [here](https://smth.github.io/os-mockup-packager/packager/describe-data/). In which list (or at which end of the single list) each card resides was to be determined by the user toggling a switch. The reason for adding a switch (which is [possibly undesirable](https://github.com/openspending/openspending/i

[2017-03-28 16:07] smth commented on #1083
First it might be useful to define some terminology (or for me to know what it is if it exists). "the description" is a little confusing, because there are two descriptions as far as I'm aware. As I understand it, there is the data package description, which is (should be) already outputted in OS Viewer:

<img width="1300" alt="image" src="https://cloud.githubusercontent.com/assets/1375708/2441337

[2017-03-29 07:57] smth commented on #1128
Is the original design for step 1 still valid?

![packager_04_provide_02](https://cloud.githubusercontent.com/assets/1375708/24444224/93803ff2-145d-11e7-8e19-c784e5801478.jpg)

[2017-03-29 11:15] #1209 closed

[2017-03-29 19:18] akariv commented on #1056
Looks really good @smth, thanks!

@kravets-levko want to have a go at it?

[2017-03-29 20:06] kravets-levko commented on #1056
It looks really good, I added a reaction :smile:

@smth How about the second major issue - variable count of additional inputs (it depends on mapped data type)?

[2017-03-29 20:12] kravets-levko commented on #1056
Sorry, probably my comment (above) shouldn't be here, but (I think) here we are talking about this selector in context of a new design of OS Packager, so It's also very important and blocks me from implementing it.

[2017-03-31 14:07] DianaMPG commented on #1056
@smth I also like it very much, the suggested navigation gives better access to the mapping options.
And I like the Back-arrow,  that is very helpful.

[2017-03-31 14:09] DianaMPG commented on #1056
@smth and that one can switch off a column.

[2017-04-03 07:47] smth commented on #1083
Again, I think it depends where that column specific info is seen in OS Viewer. Can you show me examples?

[2017-04-03 07:56] akariv commented on #1083
A fiscal data package could show technical terms (which are supplied by the user) in three places:
1. The title
2. The column names
3. The values themselves

For (1), we already got a solution - we show the description right below the title which should be able to elaborate and explain the dataset's purpose.
For (2), we have this issue - how can a user know what 'ADEFAS' mean when seen on the meas

[2017-04-03 07:59] smth commented on #1056
@kravets-levko some data types create additional fields, is that right? Which ones? Is there a limit on number of inputs?

[2017-04-03 08:01] akariv commented on #1128
@smth yes, it looks quite alright to me.

[2017-04-03 08:08] akariv commented on #1131
Okay @smth -
Just thinking out loud here - perhaps we need to add a third list which is 'DOING'.
Then the flow would be:
- Go over the TODO, and decide whether to ignore or to map to a type (that's the first step). I think that the switch for ignoring a card is not intuitive enough, and perhaps we could combine the ignore vs. map into one step.
Ignored cards are moved to the NOTGONNADO list, and m

[2017-04-03 08:25] smth commented on #1131
That makes sense. So you'd have a step (before adding things such as name) where you either give a data type to or ignore the column. The idea here is that ordering the cards by data type will make adding additional info easier. Is that correct? Could you explain how so (I have no problem with this idea, but would like to understand it)?

[2017-04-03 10:22] akariv commented on #1131
Yes -
for example, you'd like to show all columns that compose a single hierarchy together (e.g. 'Country', 'City', 'Street Address' etc.), in the correct order.
Some columns are the code and title for the same concept (e.g. 'Country code' & 'Country name'). We would like to group these two cards together.
Usually, columns in source files are (more or less) grouped like that (as it makes more sens

[2017-04-03 12:35] smth commented on #1083
OK, in terms of a generic solution, I've added some tooltips to section 8 of the [style guide](https://smth.github.io/os-mockups/style-guide/).

[2017-04-03 15:03] smth commented on #1131
If we are going to reorder the columns, I can see that an order determined by hierarchy makes sense. Likewise, assuming that we are reordering, it seems logical to group columns together that form part of a single concept, but I'd like to understand the rationale in terms of this step. For example, are we then going to allow for a title/description that spans multiple columns/files? Or, is this a

[2017-04-03 18:59] kravets-levko commented on #1056
@smth Yes, you're right. Currently additional fields are available for measures, date/time type and probably some others. But you should not rely on that - list of additional fields may be changed at any time.

[2017-04-04 10:49] smth commented on #1128
I've added those elements to a page [here](https://smth.github.io/os-mockup-packager/packager/provide-data/).

[2017-04-06 06:34] skarampatakis commented on #1230
Hi,
Are there any updates on this?

[2017-04-06 06:47] akariv commented on #1230
@skarampatakis tests should pass now.

[2017-04-06 08:44] skarampatakis commented on #1230
Hi @akariv,
Just tested and was able to test the app locally. Thank you for your support.

[2017-04-06 08:44] #1230 closed

[2017-04-07 12:48] wk0206 opened #1231 "OS-viewer return error"
I follow this [link](http://docs.openspending.org/en/latest/developers/viewer/) to install viewer locally.
but I met some problem, such like d3-plugins is not fit for the latest version [d3,](https://github.com/d3/d3-plugins) file-saver can not found
`ERROR in ./app/front/scripts/index.js
Module not found: Error: Cannot resolve module 'file-saver/FileSaver.js' in /home/wang/OP/os-viewer/app/front/

[2017-04-16 07:11] carlvlewis opened #1232 "Google OAuth2 for next.openspending.org broken credentials"
## ISSUE:
When attempting to login to next.openspending.org, I receive a generic Google `Error: redirect_uri_mismatch` message, which is likely an issue with the configured OAuth2 app's setup.

## SCREENSHOT
![googleoauth](http://cvlassets.s3.amazonaws.com/Screen%20Shot%202017-04-16%20at%203.07.38%20AM.png)

[2017-04-16 13:13] akariv commented on #1232
Should be working now, thanks for reporting!

On Sun, Apr 16, 2017, 10:11 Carl V. Lewis <notifications@github.com> wrote:

[2017-04-19 08:34] liyakun commented on #1231
+1 I have the same issue.

[2017-04-19 14:10] akariv commented on #1231
See the sequence in the Dockerfile for exact installation instructions:
[code]

I'll update the Readme with these exact instructions.

[2017-04-20 09:20] liyakun commented on #1231
@akariv I test the [os-viewer](https://github.com/openspending/os-viewer) with docker container, but the "Failed loading data from https://next.openspending.org/api/3/info/undefined/package" issue is still there. Do you know the reason? thanks.

[2017-04-20 10:51] akariv commented on #1231
Which URL are you trying to open?

OS-Viewer can only be used in either of these scenarios:
- by specifying a specific dataset in the URL
- when logged in, it will automatically choose a dataset from the user's
datasets.

On Thu, 20 Apr 2017 at 12:20 Yakun Li <notifications@github.com> wrote:

[2017-04-20 11:23] carlvlewis opened #1233 "BUG REPORT: Step 3 in Upload Dataset Process Missing 'Continue/Next' Button"
## Bug report
Whenever I go to upload a dataset, everything works fine until I reach Step Three (3), where the metadata is entered. It seems as though the `Continue` button is missing, at least in Chrome. This leaves the upload process incomplete and unable to finish. Even after filling in all fields, no `Next` or `Continue` button is visible.

## Screencap
<img width="1618" alt="screen shot 2017-

[2017-04-20 11:24] carlvlewis commented on #1233
Renamed issue

[2017-04-20 11:25] carlvlewis commented on #1232
Yep, fixed. 👍 See latest issue, though. :(

[2017-04-20 11:25] #1232 closed

[2017-04-20 14:50] akariv commented on #1233
I changed something, can you please retry?
The next button should appear after filling in the dataset name and title.

[2017-04-20 15:42] carlvlewis commented on #1233
Hey @akariv -- that fixed the issue, but I'm having issues now with the visualizations that worked fine before; they were actually working until last week, I believe. Although I'm defining the top and second level administrative classifications the same as I did before, the treemap isn't nesting anything but the top-level.

Sorry, that's off-topic, I know. Just weird.

[2017-04-20 15:44] carlvlewis commented on #1233
I.e. the treemap used to be here: http://opendatasav.org/examples/starter-template/starter.html

[2017-04-20 15:47] carlvlewis commented on #1233
FWIW, it seems that consistently the interface is getting the two attribute administrative columns confused with the date column. If that makes sense.

[2017-04-20 17:08] carlvlewis commented on #1233
Sure will shortly. Just odd because it was working.
On Thu, Apr 20, 2017 at 1:07 PM okibot <notifications@github.com> wrote:

[2017-04-20 17:09] akariv commented on #1233
Hey @carlvlewis - can you please open a separate issue with:

The viewer URL where you're seeing the issues
A screenshot of the mapping (step 2 in the packager) with the problematic fields visible
I'll take a look as soon as I can.

(commenting as my user)

[2017-04-21 08:04] liyakun commented on #1231
@akariv I tested viewer from my localhost with url "http://172.17.0.2:8000/6018ab87076187018fc29c94a68a3cd2:at-austria-2014-2020-erdf?lang=en", and the viewer container listens on 172.17.0.2:8000

[2017-05-10 12:20] vitorbaptista opened #1234 "Sankey diagram shows hierarchy different from what's defined in the URL"
For example, go to https://next.openspending.org/viewer/boost:boost-moldova-2005-2014?measure=%22adjusted.sum%22&groups%5B%5D=%22economic_classification_econ1.econ1%22&filters%5Bdate_2.year%5D%5B%5D=2014&order=%22adjusted.sum%7Cdesc%22&visualizations%5B%5D=%22Sankey%22&lang=en. This is what I see:

![Chart with wrong data being displayed](https://cloud.githubusercontent.com/assets/76945/25898257/4

[2017-05-10 12:28] vitorbaptista commented on #1197
Currently, when you click on a pie chart's slice, it drills down into that category, similar to clicking on a treemap rectangle. For example, go to https://next.openspending.org/viewer/boost:boost-moldova-2005-2014?measure=%22adjusted.sum%22&groups%5B%5D=%22administrative_classification_2.admin1%22&filters%5Bdate_2.year%5D%5B%5D=2014&order=%22adjusted.sum%7Cdesc%22&visualizations%5B%5D=%22PieChart

[2017-05-10 13:23] #1199 closed

[2017-05-10 14:24] DianaMPG commented on #1197
@vitorbaptista I never noticed that there is a different behaviour between clicking the pie chart's slices directly and clicking on the categories underneath the pie chart. I usually click the slices directly and not the categories.

And I must admit -  making sense of "Other/local/central" is quite confusing to figure out, as in relation to clicking slices directly.

But getting rid of the drilli

[2017-05-12 21:03] vitorbaptista opened #1235 "Pie charts don't use the received colorScheme"
Even though we have the `colorSchema` as a `.build()` argument, it isn't used anywhere. I think it should be used on https://github.com/openspending/babbage.ui/blob/8b7b362941200bf0f1024d2f839b72ec42a30388/src/components/pie/index.js#L58-L60.

It feels like this was intentional, to keep the method signature the same across all charts, but I'd argue that we should remove it if it isn't used, as it

[2017-05-15 17:56] vitorbaptista commented on #1198
There're 2 tasks here:

1. Use colors to represent revenue/expense or type of money flow
2. Keep a subcategory's colors the same as its parent category

The task 1 can get complex quickly. As far as I know, we don't have a way to allow our users to customize the charts, so we have to decide how they'll look like. This means that we're constrained as any change needs to work on all data we have. Do

[2017-05-15 18:34] vitorbaptista commented on #1196
1. Use of colors
I agree. I think the treemap should have a single colour, as it doesn't add any information. I did this on a dataviz project a few years ago, see http://orcamento.inesc.org.br/2015.

2. Display of the labels
We don't display labels that don't fit the rectangles already. I'll add tooltips to allow the users to check the values of the smaller rectangles.

3. Presentation of node det

[2017-05-16 06:38] DianaMPG opened #1236 "@PrivacyBadger and @HTTPSEverywhere extensions on chrome"
@PrivacyBadger and @HTTPSEverywhere extensions on chrome when uploading file to @openspending won't work.

[2017-05-16 10:24] #1196 closed

[2017-05-16 10:38] Hazwany commented on #1236
Hi @DianaMPG, thanks for flagging this issue. [Earlier today](https://twitter.com/nanyjharon/status/864292260078211072), I was facing an error (as shown below) when I was trying to upload a file to OpenSpending. While I was uploading the file, the Privacy Badger and HTTPS Everywhere chrome extensions were enabled.

![screen shot 2017-05-16 at 9 30 45 am](https://cloud.githubusercontent.com/assets/

[2017-05-16 11:07] akariv commented on #1236
So it is safe to assume that the problem was not related to the extensions,
but to a server side error (404 response).

I will take a look at the error from the server side logs.

(Thanks for reporting!)

On Tue, 16 May 2017 at 13:38 Hazwany <notifications@github.com> wrote:

[2017-05-16 15:37] johanricher opened #1237 "Buttons not displayed correctly on the OS Admin page"
I've successfuly imported data in OS (using https://next.openspending.org/).

## How it should appear (taken from the [OBEU tutorial](https://github.com/openbudgets/pipeline-fragments/tree/master/FDPtoRDF/documentation/user%20documentation)):

![osadmin](https://github.com/openbudgets/pipeline-fragments/raw/master/FDPtoRDF/documentation/user%20documentation/run-external-hooks.png)

## How it appea

[2017-05-16 15:54] akariv commented on #1237
Which OS/browser are you using? Which versions?

On Tue, 16 May 2017 at 18:37 Johan <notifications@github.com> wrote:

[2017-05-16 16:05] johanricher commented on #1237
Firefox on Windows 10, latest versions. Will try again on Ubuntu / Chrome.
I'll keep you posted.

Le 16 mai 2017 17:54, "Adam Kariv" <notifications@github.com> a écrit :

[2017-05-16 16:40] #1197 closed

[2017-05-18 10:57] pwalsh commented on #1221
@DianaMPG @akariv can't this be closed?

[2017-05-18 10:57] pwalsh commented on #1220
@DianaMPG @akariv can't this be closed?

[2017-05-18 10:57] pwalsh commented on #1210
@DianaMPG @akariv can't this be closed?

[2017-05-18 16:09] vitorbaptista commented on #1198
ping @akariv @DianaMPG

[2017-05-18 23:18] johanricher commented on #1237
I tested on Chrome/Chromium on Windows and Ubuntu: no display bug. So it would appear that the software has compatibility problems with Firefox.

[2017-05-19 14:36] kravets-levko commented on #1218
@DianaMPG Yes, that translations (and some other) should be available

[2017-05-22 11:33] skarampatakis opened #1238 "Issues with authentication flow in certain conditions"
Hi, I have installed os-packager locally. I successfully run the dev server and made the appropriate mapping of a sample csv file. At the end, in order to publish my data I have to push the "Login to Publish" button. When I click on it, it opens a new tab on my browser but then the tab closes immediately. The same happens with the top right login button. I think it is supposed to redirect me to th

[2017-05-23 06:30] DianaMPG opened #1239 "Platform availability: Add additional monitoring and alerts to the OpenSpending platform"

[2017-05-23 06:31] DianaMPG opened #1240 "Platform availability: Add status page"
Add a publicly accessible status page that shows, in real time,
the health and availability of the various components of the
OpenSpending platform

[2017-05-23 06:32] DianaMPG opened #1241 "Platform availability: Notifier for service level alerts"
Add a simple option for users to get notified on service level alerts:
- System Problems = subscribers' alter

- Planned system maintenance = notice will be given

[2017-05-23 06:33] DianaMPG opened #1242 "Platform availability: Requirements document"
Produce requirements document for WP 2

[2017-05-23 06:56] DianaMPG opened #1243 "Producing requirement document"
Relates to WP3

[2017-05-23 07:06] DianaMPG opened #1244 "Online tutorial on how to upload and map budget data"
The idea is to help data publishers to upload budget data (first timers and/or regulars) on OS Packager.
The tutorial gives basic outlines around dataset requirements as well as how to map the columns of your dataset.

[2017-05-23 07:14] DianaMPG opened #1245 "Online tutorial on how the pipeline works"
Idea is to create an online tutorial to explain how the pipeline works to pull requests and merge.

[2017-05-23 07:27] DianaMPG opened #1246 "Spending Data exploration: Blog post on Open Contracting"
Blog posts on the landscape around Open Contracting

[2017-05-23 07:29] DianaMPG opened #1247 "Spending Data exploration: Prototype code"
Prototype code to demonstrate some basic points and
possibilities in reference to a report for data providers

[2017-05-23 07:31] DianaMPG opened #1248 "Spending data exploration: creating blog posts"
3 blog posts on transactional spending data and related dissemination

[2017-05-23 07:34] DianaMPG opened #1249 "Spending data exploration: Report for data providers & publishers"
A report on the provided data, shared with data providers. The report is to show what kind of data (transactional spending data) is suitable in the context of OpenSpending and fiscal transparency.

[2017-05-23 07:35] DianaMPG opened #1250 "Spending data exploration: Requirements document"
A requirements document for what a proper implementation of transactional spending data in
OpenSpending would need.

This will also be implemented in OpenSpending documentation.

[2017-05-23 07:36] DianaMPG opened #1251 "Spending data: Cleaning/uploading datasets in OS + building pipeline"
Cleaning/uploading datasets in OS + building pipeline

[2017-05-23 07:44] DianaMPG opened #1252 "v1 of OFDP: writing specification for needed changes"
Goal is to define and specify the changes needed for  v1.

These largely include:

Removing ambiguities and fixing some bugs
Adding some more explicit “dimensions” to the data
Improving wording and overall presentation of the specification

[2017-05-23 07:46] DianaMPG opened #1253 "v1 of OFDP: Blog post"
A blog outlining the v1 specification, published on OKI blog and disseminated via various channels.

[2017-05-23 07:48] DianaMPG opened #1254 "v1 of OFDP: Reaching out to the community for input"
Open call for input, and interaction with community.

[2017-05-23 07:50] DianaMPG opened #1255 "v1 of OFDP: OS documentation updating"
Update of OpenSpending documentation in accordance with specification etc.

[2017-05-23 07:52] DianaMPG opened #1256 "Update existing Datastore to Fiscal Data Package v1"
All existing datasets on OpenSpending updated to the new specification and development.

[2017-05-23 07:57] DianaMPG opened #1257 "OS Viewer enhancements: Blog post"
Write a blog post about the enhancements, thanks to community input.

[2017-05-23 08:42] DianaMPG commented on #1218
Thanks @kravets-levko will close

[2017-05-23 08:42] #1218 closed

[2017-05-23 13:25] akariv commented on #1231
Hi @liyakun

I'm sorry for the very long response time - I believe the problem you were seeing might have been related to http/https mismatches. Is that possible?

We've made a few modifications to the code to address that, if you could please pull from master and retry that would be great.

[2017-05-23 14:41] #1203 closed

[2017-05-23 14:43] #1235 closed

[2017-05-23 18:27] vitorbaptista commented on #1202
To implement statistics other than the sum, we have to change the options passed to `$().pivot()` at https://github.com/openspending/babbage.ui/blob/f6c46dd2ecdd01c1b6d37f4b162bf88e0bcdcf4b/src/bindings/angular/pivottable/index.js#L85-L89. For example, to use median instead of sum, that function call needs to be:

[code]

This opens a few issues. First of all, this logic should be in the component

[2017-05-23 19:07] DianaMPG commented on #1202
@vitor Let's discuss tomorrow in sprint call

On 23 May 2017 at 20:27, Vitor Baptista <notifications@github.com> wrote:

--
Diana Krebs
Project Manager @openspending <http://www.next.openspending.org>  / T: @
Diana_Krebs <https://twitter.com/Diana_Krebs>  /Skype: diana.krebs1
https://twitter.com/openspending

Open Knowledge International <http://okfn.org/> *- See how data can change
the world*

ht

[2017-05-23 19:20] vitorbaptista commented on #1234
I started debugging this issue, and here's what I found so far. The function that starts populating the visualization's parameters when the page is loaded is :

[code]

The important call is `validateUrlParams()`. That function works like:

[code]

The problem seems to be that the `params` we get from the URI don't have a `source` or `target` values, so they get the default values (i.e. the values

[2017-05-23 19:22] akariv commented on #1234
@kravets-levko would know best.

[2017-05-24 07:45] DianaMPG opened #1258 "Cleaning and uploading new budget datasets in OS"

[2017-05-24 07:47] DianaMPG opened #1259 "Bug fixing & documentation for new budget datasets"

[2017-05-24 07:48] DianaMPG opened #1260 "Blog post on new gov budget data on OS"

[2017-05-24 07:49] DianaMPG commented on #1260
Blog post on experiences and challenges for both parties when working with gov budget datasets + dissemination of the blogpost via different channels.

[2017-05-24 07:50] DianaMPG opened #1261 "Producing requirement document (new budget datasets)"

[2017-05-24 09:40] skarampatakis commented on #1238
@pwalsh
Maybe I have to say that I am running also a proxy on host/packager/ in front of http://localhost:5000/, but I had the same issue without the proxy. I get correctly redirected to Google's OAuth service and authenticate succesfully but then i get redirected to /logged-in instead of /packager/logged-in and I get a 404. I have no other debug output either on the monitor of node nor on the bro

[2017-05-24 09:46] pwalsh commented on #1238
@skarampatakis provide a printout of the the environment variables you have set (if any)

[2017-05-24 09:50] akariv commented on #1238
We've had issues getting login to work when working from localhost.

If you could host the website on `dev.openspending.org`, port 80, it should work ok.
You could do that by adding an entry to your `/etc/hosts` file.

[2017-05-24 10:11] skarampatakis commented on #1238
@akariv but how would this work on a public server? I mean, we plan to deploy the Packager on mydomain.com. Will I be able to do so? I will try your suggestion and report if this is working on my case.

@pwalsh I have not set any environment variables. this is the output of process.env
[code]

[2017-05-24 10:26] akariv commented on #1238
Yes, the base path setting is exactly meant for allowing you to host on any internal path.

Login only works on authorised domains, so there are two options:
- Host OS-Conductor on your own and create your own OAuth2 credentials with your source.
- We add your domain to the list of authorised sources for OpenSpending.

[2017-05-24 10:36] pwalsh commented on #1238
Which we will do for the official OBEU domain ( cc @badmotor )

[2017-05-24 13:46] kravets-levko commented on #1234
Hi @vitorbaptista! You can add `updateSourceTarget` call into `validateUrlParams` - `init` is called only once at application start (as far as I remember), but `validateUrlParams` may be called when navigating using browser's history (but you can check this to be sure).

[2017-05-24 15:28] skarampatakis commented on #1238
@akariv

What is the correct value?

If I understand correctly there is nowhere defined as an env variable as seen from my process.env output. So the packager uses the DEFAULT_BASE_PATH.

As you see I have set
[code]

Below you can see also my apache settings

[code]

Is there something else I should look for? I still get redirected incorrectly to /logged-in instead of /packager/logged-in. Or this

[2017-05-24 16:29] akariv commented on #1238
Try setting DEFAULT_BASE_PATH to be  'packager', without the slashes.

As for own instance - if someone deploys their own instance of OS-Packager but wishes to use OpenSpending auth and datastore, I would like to have some sort of control on which instances are allowed to do that to make sure that the modified version of OS-Packager is up to date and does not do anything "bad" (for multiple aspect

[2017-05-24 18:46] skarampatakis commented on #1238
I have set the base path without the slashes and had the same result.

I removed completely the base path and changed the proxy path and now I got redirected after authentication to ```http://dev.openspending.orglogged-in/```

I stopped apache and run node on :80. The same result as above.

All other paths are working properly and the interface renders as it is supposed to in any case except the l

[2017-05-25 12:31] vitorbaptista commented on #1234
@kravets-levko Instead of changing `validateUrlParams()`, I changed `init()` to use `updateFromParams()`, which is quite similar to what `init()` was already doing, with the difference that it calls `updateSourceTarget()`. Basically, `updateFromParams()` gets a blank default state from `getDefaultState()`, while `init()` set some default attributes based on the received `packageModel`.

[2017-05-25 13:40] vitorbaptista opened #1262 "Avoid installing dependencies from git if they're available on NPM"
At least, if we have to install from git, we should pick a specific version, otherwise our builds aren't reproducible.

For example, we install c3 and pivottable from git's master on babbage.ui (see https://github.com/openspending/babbage.ui/blob/f6c46dd2ecdd01c1b6d37f4b162bf88e0bcdcf4b/package.json).

[2017-05-25 14:00] vitorbaptista opened #1263 "babbage.ui's sankey chart dependencies are defined in os-viewer"
The sankey chart requires `d3-plugins/sankey/sankey` to work. However, this dependency isn't defined in `babbage.ui`, but in `os-viewer`. This pattern is relatively common for a package that's designed to be reused in another project. Instead of bundling things like JQuery, we consider it's available on the environment we're running, to avoid having multiple JQuery versions on the website.

We're

[2017-05-25 14:27] vitorbaptista opened #1264 "Use npm-shrinkwrap on all our NodeJS apps"
Unless we pin all of our exact dependencies (direct and indirect), we can't guarantee that the code that was tested is the code that's being run in production. As our list of dependencies grow, the risk of one of them changing and breaking our code also grows. To avoid this, we must pin everything to known versions. On node, the tool to do this is `npm-shrinkwrap`.

To be clear, we should only use

[2017-05-25 14:33] vitorbaptista opened #1265 "Automatically run lint after tests"
A linting error should be treated as a test error, so we should always lint after testing. This makes sure we don't forget to lint the code (for example, we're not running lint on `os-viewer`, not even on Travis, so we didn't notice that it's currently failing).

We could fix this simply by adding `"posttest": "npm run review"` to our `package.json` files.

[2017-05-25 15:48] vitorbaptista opened #1266 "Upgrade our JS apps to use the latest NodeJS' stable version"
We're using NodeJS 4.x in most (all?) of our node apps. The newer version should not only improve performance, but also allow us to use more ES6 features.

[2017-05-25 17:46] vitorbaptista commented on #1056
@akariv Looking the `osDatatype` code, I found that we're using [https://twitter.github.io/typeahead.js/](typeahead.js). However, it doesn't seem to be working (either locally or on production), at least not as a regular autocomplete field. It seems like this is as intended, and the autocomplete is simply used as a way to create the UI and filter the values as we click on each category. Is this co

[2017-05-25 17:54] vitorbaptista opened #1267 "Fix os-packager's build"
It's currently failing: https://travis-ci.org/openspending/os-packager/builds/219389496

[2017-05-26 08:01] kravets-levko commented on #1262
I don't know how about `pivottable`, but with `c3` there was a bug - it was impossible to build app using `c3` from `npm` with strange `node-gyp` errors. I think, you should try - maybe something changed since that time.

[2017-05-29 08:30] akariv commented on #1238
@skarampatakis the default settings allow you to host locally (without a base path).
Setting DEFAULT_BASE_PATH to be 'packager' should allow you to host on the `/packager/` path - but it also depends on your frontend config (and I'm not that familiar with Apache).

As for the login issues, I fixed the problem and it should work now from localhost:5000 as well (no need for dev.openspending.org).

[2017-05-29 12:58] skarampatakis commented on #1238
Hi @akariv,

I still can't get connected. Now I get

[code]

[2017-05-29 13:36] akariv commented on #1238
This is a browser error... are you using Firefox by any chance?

[2017-05-29 13:43] skarampatakis commented on #1238
Yes. Tried with Chrome:

and got stack here.

[code]

On the console I get this error
[code]

Might be related

[2017-05-29 13:49] akariv commented on #1238
Could you attach the complete console log?

On Mon, 29 May 2017 at 16:43 Sotirios Karampatakis <notifications@github.com>
wrote:

[2017-05-29 14:05] skarampatakis commented on #1238
I changed the cosmopolitan api to match your public instance.
I also defined ```debug: true```. But now I get nothing on the console. Just opens a new tab when I click Login button. Sometimes at random it throws the above message on the console.

[2017-05-29 14:25] akariv commented on #1238
What's the URL of the new tab?

Also, can you try and find the request to next.openspending.org/user/check,
and paste the body and response for that request?

On Mon, 29 May 2017 at 17:05 Sotirios Karampatakis <notifications@github.com>
wrote:

[2017-05-29 14:39] skarampatakis commented on #1238
If I delete cache and cookies it redirects to google where I successfully authenticate. But afterwards, it redirects to https://accounts.google.gr/accounts/SetSID and stack there.

If I try again with a previously successful attempt, it just opens a new blank tab ```about:blank```
![screenshot from 2017-05-29 17-33-55](https://cloud.githubusercontent.com/assets/2419820/26553612/1d23e666-4495-11e7-

[2017-05-30 07:42] #1234 closed

[2017-05-30 07:53] DianaMPG commented on #1196
@vitorbaptista is this ready for testing? also for the gov partners who suggested the enhancements?

[2017-05-30 08:05] vitorbaptista commented on #1263
Fixed

[2017-05-30 08:05] #1263 closed

[2017-05-30 08:08] vitorbaptista commented on #1196
@DianaMPG This just needs to be deployed (cc @akariv)

[2017-05-30 10:29] vitorbaptista opened #1268 "CSVs with commas inside quotes are incorrectly parsed by packager"
Given the CSV:

[code]

The correct parsing would be:

| quoted_value | value |
| --- | --- |
| This should be a "single, unique row", for real | This should be another row |

However, it is parsed as:

| quoted_value | value | | |
| --- | --- | --- | --- |
| This should be a "single | unique row"" | for real" | This should be another row |

Which causes the import to fail. This bug might be relat

[2017-05-30 10:35] vitorbaptista commented on #1219
@mlukasch Could you explain the error you saw? I tried and can't see a UI difference between Chrome and Firefox.

[2017-05-30 15:23] #1267 closed

[2017-05-30 16:29] skarampatakis opened #1269 "OS Packager: edit function not working"
I am trying to edit this dataset

https://next.openspending.org/packager/describe-data?package=https:%2F%2Fs3.amazonaws.com:443%2Fdatastore.openspending.org%2Fdsome36f2db04a86c03bdf4448b1%2Feurope-greece-municipality-thessaloniki-2016-revenue%2Fdatapackage.json

but I get the following error on the console
[code]
I get just the theme but not the actual packager
![screenshot from 2017-05-30 19-17-5

[2017-05-30 16:32] vitorbaptista commented on #1265
Fixed

[2017-05-30 16:32] #1265 closed

[2017-05-31 07:23] akariv commented on #1269
Seems that you're trying to edit this data package:

https://s3.amazonaws.com/datastore.openspending.org/dsome36f2db04a86c03bdf4448b1/europe-greece-municipality-thessaloniki-2016-revenue/datapackage.json

But when trying to open this link it points to nowhere - are you sure this
dataset was successfully uploaded?

On Tue, 30 May 2017 at 19:29 Sotirios Karampatakis <notifications@github.com>
wrote:

[2017-05-31 07:39] skarampatakis commented on #1269
It is show on the OS Admin

![image](https://cloud.githubusercontent.com/assets/2419820/26620794/f13ffe32-45ec-11e7-92cb-0fdeb5afa610.png)

I have changed the hash so maybe that's the reason it is not pointing anywhere ATM.

When I click on the edit button I get the view on my previous comment.

I have published the dataset so you can take a look. I still cannot edit.

https://next.openspending.or

[2017-06-02 05:21] pwalsh commented on #1233
closing as original bug report is solved. and a new report is to be opened for a new issue.

[2017-06-02 05:21] #1233 closed

[2017-06-02 05:22] pwalsh commented on #1269
@akariv can you please check this asap.

[2017-06-02 05:24] pwalsh commented on #897
@akariv I'm inclined to close this. Data uploaded by pipelines is probably recoded to utf-8 right? So, is it worth adding a service to do this for packager-loaded data? If you think we should do it, then pls comment, and we can keep open on the backlog.

[2017-06-02 05:25] pwalsh commented on #906
@akariv can we close this?

[2017-06-02 05:26] pwalsh commented on #910
@akariv is this still relevant? Might be an easy one to pick up with @vitorbaptista is working on vis stuff.

[2017-06-02 05:27] pwalsh commented on #918
@akariv is this still relevant?

[2017-06-02 05:27] pwalsh commented on #933
This is done in latest work on colours.

[2017-06-02 05:27] #933 closed

[2017-06-02 05:28] pwalsh commented on #957
@akariv @smth I really liked this.... but fine by me if not relevant anymore. WDYT?

[2017-06-02 05:29] pwalsh commented on #979
@akariv @vitorbaptista is this still relevant? I think related work happened in the recent tasks Vitor did?

[2017-06-02 05:30] pwalsh commented on #984
@smth is working on a landing page to use soon. closing this issue.

[2017-06-02 05:30] #984 closed

[2017-06-02 05:31] pwalsh commented on #987
@akariv I wonder if we can do this as part of platform improvements soon? Can you write a little spec to flesh out what needs to be done.

[2017-06-02 05:32] pwalsh commented on #994
Apart from the Viewer integration we now have, are there other integrations we want in the short term? If not, let's close this issue for now.

[2017-06-02 05:38] pwalsh commented on #998
@akariv still relevant?

[2017-06-02 05:39] pwalsh commented on #1000
closing as no longer relevant. @smth is working on a new landing page integrated into the explorer.

[2017-06-02 05:39] #1000 closed

[2017-06-02 05:39] pwalsh commented on #1003
@akariv is this still relevant?

[2017-06-02 05:40] pwalsh commented on #1013
@akariv this looks like it might be a simple fix. Worth addressing while @vitorbaptista is working on the viewer?

[2017-06-02 05:42] pwalsh commented on #1026
Closing. This will landing in the table schema library soon enough, and thereby OpenSpending will be able to support it

[2017-06-02 05:42] #1026 closed

[2017-06-02 05:42] pwalsh commented on #1028
WONTFIX. Will only address in face of blocking bugs.

[2017-06-02 05:42] #1028 closed

[2017-06-02 05:43] pwalsh commented on #1029
"Constants" are being tracked in a different issue (solves the case of dates without a column in the source data).

[2017-06-02 05:43] #1029 closed

[2017-06-02 05:43] pwalsh commented on #1031
We recently did a UI/X update on all vis. Closing this issue.

[2017-06-02 05:43] #1031 closed

[2017-06-02 05:44] pwalsh commented on #1034
We now support excel. Closing.

[2017-06-02 05:44] #1034 closed

[2017-06-02 05:44] pwalsh commented on #1038
@akariv what is this, and, is it still relevant?

[2017-06-02 05:45] pwalsh commented on #1042
done.

[2017-06-02 05:45] #1042 closed

[2017-06-02 05:45] pwalsh commented on #1046
FIXED>

[2017-06-02 05:45] #1046 closed

[2017-06-02 05:46] pwalsh commented on #1047
@akariv still relevant?

[2017-06-02 06:22] skarampatakis commented on #1269
I checked today and it seems to be fixed. I can now edit the dataset. Thank you!

[2017-06-02 06:22] #1269 closed

[2017-06-02 09:22] skarampatakis opened #1270 "OS Viewer: too many items on particular views"
Hi @vitorbaptista,

In some cases. graphs contain multiple items as parts. It is really cool for the treemap or the bubble chart but when it comes to the pie chart or the radar chart, it renders hard to read and understand graphs. Take a look [here](http://eis-openbudgets.iais.fraunhofer.de/viewer/embed/piechart/budget-thessaloniki-revenue-2011__80bce?measure=%22amount.sum%22&groups%5B%5D=%22econo

[2017-06-02 09:42] skarampatakis opened #1271 "OS Viewer: Localization of the interface"
Currently UI of OS viewer is only shown in English. How can we change UIs language to match user preferences?

I know that there is the ```lang``` parameter on the url qs but it is not so practical for many use cases. Is there a language selector button? Or could we use browser preferences to detect the preferred language?

Both could be perfect!

Another question is how could I contribute transla

[2017-06-02 09:54] pwalsh commented on #1056
@akariv ?

[2017-06-02 09:54] pwalsh commented on #1057
@akariv @smth is this still relevant as a standalone issue?

[2017-06-02 09:55] pwalsh commented on #1065
@akariv @smth I believe the design enhancements address this, so not sure we need to track this as a distinct issue? pls close if agreed.

[2017-06-02 09:56] pwalsh commented on #1072
@akariv is this still relevant

[2017-06-02 09:57] pwalsh commented on #1075
@akariv still relevant?

[2017-06-02 09:58] pwalsh commented on #1083
@akariv is there an action that can be done here?

[2017-06-02 10:00] pwalsh commented on #1088
COMPLETE

[2017-06-02 10:00] #1088 closed

[2017-06-02 10:02] pwalsh commented on #1100
@akariv can someone look at this soon

[2017-06-02 10:03] pwalsh commented on #1106
WONTFIX.

[2017-06-02 10:03] #1106 closed

[2017-06-02 10:03] pwalsh commented on #1111
CLOSING. OUT OF DATE.

[2017-06-02 10:03] #1111 closed

[2017-06-02 10:04] pwalsh commented on #1123
@akariv ?

[2017-06-02 10:06] pwalsh commented on #1158
CLOSING. FIXED.

[2017-06-02 10:06] #1158 closed

[2017-06-02 10:14] liyakun opened #1272 "os-packager "TypeError: Failed to fetch""
Hi, I deployed the os-packager by using docker container with provided docker configuration file. I encountered the "TypeError: Failed to fetch" when I save one data package. Anyone knows why this happen? thanks.
![image](https://cloud.githubusercontent.com/assets/7370334/26721686/1107ab9c-478d-11e7-9ac3-f56efce31ad6.png)
By the way, I already login.

[2017-06-02 11:37] pwalsh commented on #1272
Hi @liyakun

When submitting bug reports, please provide steps to reproduce.

[2017-06-02 11:45] liyakun commented on #1272
@pwalsh sorry, this issue is produced by the following steps with dataset Modified_Ejecucion_2017_ingresos_001_OOAA.csv:

- upload data to http://eis-openbudgets.iais.fraunhofer.de/packager/provide-data
- model resource at http://eis-openbudgets.iais.fraunhofer.de/packager/describe-data
- fill forms at http://eis-openbudgets.iais.fraunhofer.de/packager/provide-metadata
- save package at http://eis

[2017-06-02 11:55] pwalsh commented on #1272
Can you provide the file too please.

[2017-06-02 11:56] liyakun commented on #1272
[Modified_Ejecucion_2017_ingresos_001_OOAA.zip](https://github.com/openspending/openspending/files/1047572/Modified_Ejecucion_2017_ingresos_001_OOAA.zip)
@pwalsh this is the file.

[2017-06-02 12:22] kravets-levko commented on #1013
@pwalsh It's already fixed and deployed

[2017-06-02 12:44] pwalsh commented on #1013
Cool!

[2017-06-02 12:44] #1013 closed

[2017-06-02 12:45] liyakun commented on #1231
@akariv I deployed the newest os-viewer from openspending github repository by using provided docker configuration files. I got the following errors:

- The page you are trying to view cannot be shown because the authenticity of the received data could not be verified.
- Please contact the website owners to inform them of this problem.

when I visit https://172.17.0.2:8000/06879188a2463cdee721a09a

[2017-06-04 05:25] akariv commented on #1269
Just my understanding of the issue:

So this is the link to the datapackage you originally tried to edit:
https://s3.amazonaws.com/datastore.openspending.org/dsome36f2db04a86c03bdf4448b1/europe-greece-municipality-thessaloniki-2016-revenue/datapackage.json

This is the actual link to the datapackage:
https://s3.amazonaws.com/datastore.openspending.org/d95067fc436f2db04a86c03bdf4448b1/europe-greece

[2017-06-04 07:33] akariv commented on #1238
The missing '/' issue is occurring only in these situations:
- Trying to login from the packager's landing page
- The packager is hosted in root ('/')

I will definitely fix this issue but as there seems to be a very simple workaround I don't consider this as very urgent.

As to the `about:blank` / `https://accounts.google.gr/accounts/SetSID` issues:
Tried to reproduce locally but didn't succeed -

[2017-06-04 13:18] larjohn opened #1273 "Paginating results on package search"
Is it possible to also define the from parameter like we do for the size parameter?

https://next.openspending.org/search/package?size=5&from=7

and

https://next.openspending.org/search/package?size=5&from=10

give back the same result.

I can see [here ](https://github.com/openspending/os-package-registry/blob/master/os_package_registry/package_registry.py#L165) that from_ always starts from 0,

[2017-06-04 15:01] akariv commented on #1273
Currently this is not supported - but feel free to open a PR and I will
gladly accept.

On Sun, 4 Jun 2017 at 16:18 Lazaros Ioannidis <notifications@github.com>
wrote:

[2017-06-05 12:00] akariv commented on #1231
Hi @liyakun, when working locally you should use `http` and not `https`.

[2017-06-05 12:02] akariv commented on #1272
@liyakun are you using a local installation of OS-API?
Can you try uploading the file in next.openspending.org and see if the problem persists?

[2017-06-05 12:05] akariv commented on #1100
Just tried to upload the file in Safari without issue.
I guess that this was resolved along the way or a local issue(?)

closing for now.

[2017-06-05 12:05] #1100 closed

[2017-06-05 12:06] pwalsh commented on #1217
@akariv still relevant?

[2017-06-05 12:07] pwalsh commented on #1219
closing as can't reproduce. @mlukasch is no longer working on OBEU so I don't expect an answer.

[2017-06-05 12:07] #1219 closed

[2017-06-05 12:07] pwalsh commented on #1223
Closing as March 2nd was a long time ago ;)

[2017-06-05 12:07] #1223 closed

[2017-06-05 12:08] pwalsh commented on #1227
Seeing as this is by design, closing issue.

[2017-06-05 12:08] #1227 closed

[2017-06-05 12:09] pwalsh commented on #1228
@badmotor @fathoni @HimmelStein @pierorex can you provide a file to reproduce this? Closing as this is old, but if you have a file, please add here and I'll reopen

[2017-06-05 12:09] #1228 closed

[2017-06-05 12:10] akariv commented on #1083
This is part of the OS-Packager redesign @pwalsh

[2017-06-05 12:12] akariv commented on #1075
No, was fixed a long time ago.

[2017-06-05 12:12] #1075 closed

[2017-06-05 12:14] akariv commented on #1072
Well, data is validated to a certain extent while upload is done.
However, I don't think we'll validate to the point of checking for specific values (e.g. "expenditure" or "revenue") unless we ask the user to explicitly list the allowed values.

I'm closing this for now as not actionable.

[2017-06-05 12:14] #1072 closed

[2017-06-05 12:15] akariv commented on #1065
It's actually a separate issue.
I'm not sure if it's easy to implement but it still is a good idea.

Moving to the back log for now.

[2017-06-05 12:15] akariv commented on #1057
No, closing.

[2017-06-05 12:15] #1057 closed

[2017-06-05 12:17] pwalsh commented on #870
@akariv WDYT now? Have with any resolution you suggest.

[2017-06-05 12:17] akariv commented on #1056
Missed this one.

@vitorbaptista not hung up on typeahead at all - I used that as a convenience only.
If Sam's code uses a better lib, then let's use that.

[2017-06-05 12:28] liyakun commented on #1231
@akariv it works great with `http`.

[2017-06-05 12:32] liyakun commented on #1272
@akariv there is not deployment of https://github.com/openspending/os-api.git on Fraunhofer server.

[2017-06-05 13:07] akariv commented on #1272
So which server are you uploading to?
As at the moment the only domains allowed to login to openspending.org are
*.openspending.org, and you can't upload to openspending without logging
in...

On Mon, 5 Jun 2017 at 15:32 Yakun Li <notifications@github.com> wrote:

[2017-06-05 13:13] akariv opened #1274 "Viewer filtering cause bad API calls"
@vitorbaptista
compare:

https://next.openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:presupuesto-mexico-2008-2017?measure=%22MONTO_MODIFICADO.sum%22&groups%5B%5D=%22administrative_classification_2.ID_RAMO%22&filters%5Bdate_2.CICLO%5D%5B%5D=2017&order=%22MONTO_MODIFICADO.sum%7Cdesc%22&visualizations%5B%5D=%22PieChart%22&lang=en

vs

https://staging.openspending.org/viewer/6018ab8707618701

[2017-06-05 16:03] pwalsh commented on #1272
@liyakun @badmotor

Is `eis-openbudgets.iais.fraunhofer.de` going to be the final domain for end users? We can add the domain to the auth whitelist, but as discussed elsewhere, we want to minimise the domains on this whitelist.

[2017-06-06 13:02] liyakun commented on #1272
@akariv I don't know it is necessary to have os-api deployment on Fraunhofer server to make os-packager work. I just keep the default settings of os-packager.

@pwalsh  `eis-openbudgets.iais.fraunhofer.de` is going to be the final domain for end users with a certain time.

Does it mean that we have two options, deploying os-api on the Fraunhofer server or adding  `eis-openbudgets.iais.fraunhofer.d

[2017-06-06 13:14] fathoni commented on #1228
Hi @pwalsh , [here](https://www.dropbox.com/s/tl41ev6tqnmxrgg/AUSTRALIAN%20dataset%20-%20UNdata_Export_20170314_144935861.csv?dl=0#) is the data sample.

[2017-06-06 13:15] akariv commented on #1272
Hi @liyakun, turns out that some default values for URLs of OS services were set incorrectly.
You can override them locally or simply pull from latest master and re-deploy locally.
Please let me know if that works for you.

[2017-06-06 13:24] akariv commented on #1228
Hi - issue is a spurious empty line at the end of the input file.

I'll open an upstream issue with the library that we're using, but in the
meantime please make sure that all lines in the file correspond to actual
rows.

On Tue, 6 Jun 2017 at 16:14 Fathoni A. Musyaffa <notifications@github.com>
wrote:

[2017-06-06 13:39] pwalsh commented on #1272
Yes. I discussed this with Sotiris last week too.

[2017-06-06 13:54] akariv commented on #1272
BTW, if not hosting OS-API or OS-CONDUCTOR there then no need for adding to
the whitelist.

On Tue, 6 Jun 2017 at 16:39 Paul Walsh <notifications@github.com> wrote:

[2017-06-06 14:20] fathoni commented on #1228
I see. The dataset above was exported from UN's data portal. Perhaps, for now, the error message can be simplified - asking the users to check spurious empty line at the end of the input file.

[2017-06-06 14:22] akariv commented on #1228
Well, the UN is known for many great things - valid CSVs is not one of them :)

[2017-06-06 14:23] pwalsh commented on #1272
@akariv ok.

[2017-06-06 16:52] liyakun commented on #1272
@akariv I re-deployed the os-packager on the server, but it still does not work.

[2017-06-06 18:06] smth commented on #1131
I just took a little time to remind myself where I got to last time I was looking at this. I think it's worth sharing to get some feedback. I'd been working on an idea in which the first step of "describing" the data would be to go through each card in turn, and assign a "data type". This process would reorder and colour code the cards as you go. Once done, you are then free to edit titles and add

[2017-06-06 18:36] akariv commented on #1272
It doesn't look like the updated code is on your server.
Make sure this commit is in your code base as well
https://github.com/openspending/os-packager/commit/746ee750ddf0d3f64f78230c9c1fdf978ab89bdc

[2017-06-07 05:14] pwalsh commented on #1271
@skarampatakis

A PR for the language contributions is the way to go.

For language selection, can you explain how a URL param for language is not practical? I'd like to understand your use cases and how this does not support them.

We don't intend to add a language selector button.

[2017-06-07 05:18] pwalsh commented on #1273
I changed the title to match the feature request. This is is a nice enhancement to add but relatively low priority at present, as the proposed use case can be supported without it.

As @akariv indicates, a PR for this would be most welcome!

[2017-06-07 05:25] pwalsh commented on #1268
@vitorbaptista do you know exactly where this fails in the Packager?

[2017-06-07 06:06] larjohn commented on #1273
@pwalsh I suppose you mean that infinite scroll anyway uses all the previous pages plus the new one, so it is supported with just the size parameter, although not as efficient.

I will contribute a PR but it may take some time.

[2017-06-07 06:40] pwalsh commented on #1222
I think this is closely related to https://github.com/openspending/openspending/issues/1123

@akariv can we do both in one PR?

[2017-06-07 07:09] pwalsh commented on #1211
Closing as done

[2017-06-07 07:09] #1211 closed

[2017-06-07 07:09] pwalsh commented on #1190
ha! was done!

[2017-06-07 07:09] #1190 closed

[2017-06-07 07:10] pwalsh commented on #1181
done

[2017-06-07 07:10] #1181 closed

[2017-06-07 07:25] DianaMPG commented on #1220
@pwalsh yes

[2017-06-07 07:25] DianaMPG commented on #1210
@pwalsh yes

[2017-06-07 07:25] #1210 closed

[2017-06-07 07:26] DianaMPG commented on #1221
@pwalsh closing

[2017-06-07 07:26] #1221 closed

[2017-06-07 07:57] pwalsh commented on #1229
closing as this is tracked elsewhere.

[2017-06-07 07:57] #1229 closed

[2017-06-07 08:30] liyakun commented on #1272
@akariv sorry, I thought the docker will clone the newest. It is updated now and works, thanks.

[2017-06-07 08:30] #1272 closed

[2017-06-07 09:46] pwalsh commented on #1243
NOT VALID

[2017-06-07 09:46] #1243 closed

[2017-06-07 09:49] pwalsh commented on #1236
CLOSING. Not a bug with extensions

[2017-06-07 09:49] #1236 closed

[2017-06-07 09:49] #1231 closed

[2017-06-07 09:50] skarampatakis commented on #1271
@pwalsh
About the PR, we will do it the sooner possible.

About language selection options, let suppose the typical common OS Viewer user. And let suppose he/she cannot read anything in English, the default language of OS Viewer. Is it somehow indicated that he has to change the URL parameter in order to get the desired language, and again if it is available?

A possible workaround would be a lang

[2017-06-07 09:58] pwalsh commented on #1271
It is a product decision. "Valid" or "invalid" is a relative.

We are enabling localisation for use in custom instances of the apps, or as an API via the query parameter. The canonical instance of OpenSpending is in English by default for the foreseeable future. Embeds of the Viewer UIs, and custom instances if the Viewer, can choose a language using the param. That is already a lot of flexibility

[2017-06-07 10:01] pwalsh commented on #1261
NOT VALID.

[2017-06-07 10:01] #1261 closed

[2017-06-07 10:02] pwalsh commented on #1259
NOT VALID. Seems to have been opened as a placeholder for a future round of pilots, but, it doesn't really serve any purpose towards this end until we have the concrete details of a pilot.

[2017-06-07 10:02] #1259 closed

[2017-06-07 10:03] pwalsh commented on #1258
NOT VALID. Seems to have been opened as a placeholder for a future round of pilots, but, it doesn't really serve any purpose towards this end until we have the concrete details of a pilot.

[2017-06-07 10:03] #1258 closed

[2017-06-07 10:16] liyakun opened #1275 "how local deployment of os-admin got updated with os-admin deployed at openspending?"

[2017-06-07 10:21] pwalsh commented on #1275
Hi @liyakun

I'm not sure I understand the question. In your case, how you deploy OS Admin depends entirely on the deployment setup you maintain at Fraunhofer.

For OpenSpending, and all other work at Open Knowledge, we use continuous deployment and other "modern" software practices for platform deployment.

Can you help me understand better what you need assistance with exactly?

[2017-06-07 10:25] pwalsh commented on #1083
Comes with https://github.com/openspending/openspending/issues/1131 so closing as DUPLICATE.

[2017-06-07 10:27] liyakun commented on #1275
@pwalsh thanks for you reply. The senario is that, I upload data through os-packager on my local deployment, after publishing it, then I have option to "Manage your datasets". If I click on "Manage your datasets", then I will be redireted to openspending os-admin, and I can see all the datasets that I published.

If I have a deployment of os-admin on my local(or Fraunhofer server), is that possibl

[2017-06-07 10:36] liyakun commented on #1275
one example to show:

![image](https://user-images.githubusercontent.com/7370334/26874426-d5022fe2-4b7d-11e7-9f50-98c72d239b0b.png)

[2017-06-07 10:36] akariv commented on #1083
I'm sorry, I got things mixed up.

This issue is for the _Viewer_, not the _Packager_ (the screenshot above threw me off).

[2017-06-07 10:37] pwalsh commented on #1275
@liyakun ( cc @larjohn  @skarampatakis @badmotor @akariv )

This is about configuration. You have to configure your server correctly, to, for example, point to your local OS Admin.

Also, the list of datasets from the OBEU triple store (via Rudolf) is not identical to the list on OpenSpending.

You need to understand the whole architecture of OBEU at Fraunhofer, and then configure the components f

[2017-06-07 10:37] #1275 closed

[2017-06-07 10:52] pwalsh commented on #1128
We've agreed that all current design iterations enable this support, but we are not going to prioritise supporting multiple files in the foreseeable future. Goes to backlog.

[2017-06-07 10:56] liyakun commented on #1275
@pwalsh thanks, from my current understanding, after uploading dataset to openspending, if the user run external hook, then the data will also go to OBEU triple store, otherwise it will not. I think this is why the list of datasets of OBEU triple store is not identical to the list on OpenSpending.

Currently, we already deployed os-packager on Fraunhofer server, I don't know whether should I chang

[2017-06-07 11:02] pwalsh commented on #1275
@liyakun updated, meaning, "how does the user see her datasets"?

By looking at the code on OS Admin, it looks like the update [happens with this `updatePackagesAndMetrics` function](https://github.com/openspending/os-admin/blob/master/app/scripts/controllers/main.js#L29), and the [os-admin service module](https://github.com/openspending/os-admin/blob/master/app/scripts/services/os-admin/index.js)

[2017-06-07 11:07] pwalsh opened #1276 "Design enhancements for the Packager"
# Description

We have been working on this on and off for several months, with lots of existing mocks from @smth

We have a few remaining issues to close off on in terms of design, and then we can finalise the implementation.

All the existing work is at https://github.com/smth/os-mockups

# Tasks

- [ ] Review existing designs
- [ ] Add additional enhancements (TBD)
- [ ] Publish final HTML mock

[2017-06-07 11:08] pwalsh commented on #1131
Closing in favour of https://github.com/openspending/openspending/issues/1276

[2017-06-07 11:08] #1131 closed

[2017-06-07 11:08] pwalsh commented on #1276
Most recent comment from @smth

[2017-06-07 11:09] pwalsh commented on #1125
Latest work from @smth is http://p.smth.uk/os-mockup-viewer/viewer/vis/

Needs implementation.

[2017-06-07 11:10] pwalsh commented on #1083
Got it. So, this can be done, and does not belong to @smth

[2017-06-07 11:12] pwalsh opened #1277 "Design implementation for the Packager"
# Description

We have been working on the Packager redesign for some months, between other things, as noted in https://github.com/openspending/openspending/issues/1276

When https://github.com/openspending/openspending/issues/1276 is finished, we need to finish this implementation and ship it.

# Tasks

- [ ] Get all work in progress from when @kravets-levko was working on this
- [ ] Assess remai

[2017-06-07 11:13] pwalsh commented on #1277
@akariv assigning to you for now just because you are going to get the WIP from @kravets-levko

[2017-06-07 11:14] pwalsh commented on #1276
@smth note some issues encountered on implementation, by @kravets-levko have been noted here: https://github.com/smth/os-mockups/issues/1#issue-203981662

Please address as part of finishing the design.

[2017-06-07 11:17] pwalsh opened #1278 "Design for Landing Page"
# Description

The design for the proper release of OpenSpending Next.

Based on mock at https://docs.google.com/document/d/19acar_RiaesyRyCqw2rEOVGf7P7PgIKS9zHSH66eTAI/edit

# Tasks

- [x] Initial mocks
- [x] HTML mock

[2017-06-07 11:18] pwalsh opened #1279 "Implementation for Landing Page"
# Description

Based on the design implemented on https://github.com/openspending/openspending/issues/1278. It's available on http://p.smth.uk/os-mockups/ (repository at https://github.com/smth/os-mockups).

# Tasks

- [ ] Implement https://github.com/openspending/openspending/issues/1278

[2017-06-07 11:30] skarampatakis commented on #1271
OK.

[2017-06-07 11:30] #1271 closed

[2017-06-07 11:38] skarampatakis commented on #1275
Can it be configured to use both endpoints?

[2017-06-07 11:57] pwalsh commented on #1275
@liyakun @skarampatakis

How, when, why?

Why don't you first start with a design document for what we are trying to achieve here: the data flow, the user flow, and so on.

Then, we take this design document and understand how to achieve it based on the tools and available configuration.

Then, if one of the components is missing the ability to configure towards a certain, clear use case, and the

[2017-06-07 12:13] skarampatakis commented on #1275
Sorry for the bombing out of nowhere question. This is a completely different issue. I will document a proper issue when we have resolved all other issues.

[2017-06-07 13:24] smth commented on #1278
![os_01_home_04](https://user-images.githubusercontent.com/1375708/26880638-edd2a8da-4b8c-11e7-82ad-f9237c2cbb14.jpg)

[2017-06-07 13:53] pwalsh commented on #906
OLD. CLOSING.

[2017-06-07 13:53] #906 closed

[2017-06-07 13:56] pwalsh commented on #1277
I'm closing https://github.com/openspending/openspending/issues/1130 and adding it to this. @akariv indicates he needs to make a change to OS Types for this too.

[2017-06-07 13:56] pwalsh commented on #1130
Now implemented in https://github.com/openspending/openspending/issues/1277

[2017-06-07 13:56] #1130 closed

[2017-06-07 13:57] pwalsh commented on #1129
Closed in favour of https://github.com/openspending/openspending/issues/1277

[2017-06-07 13:57] #1129 closed

[2017-06-07 14:03] pwalsh commented on #915
Closed in favour of https://github.com/openspending/openspending/issues/1213

[2017-06-07 14:03] #915 closed

[2017-06-07 17:33] vitorbaptista commented on #1268
@pwalsh No, I haven't debugged it, just figured out the smallest CSV that triggered the bug. It might be a bug on `datapackage-py`, or whatever else we use to load the CSV.

[2017-06-07 18:42] vitorbaptista opened #1280 "Webpack cannot resolve module 'webpack-raphael'"
When running `npm run develop` on `os-viewer`, I get the error:

[code]

This is because we don't have `webpack-raphael` in our `package.json`, but use it on webpack (see https://github.com/openspending/os-viewer/blob/3823010f561ef100a27684be7d6d0ec720371f23/webpack.config.js#L34-L36). Maybe we could remove Raphael entirely, as it's only used by `bubbletree`, and it already has `webpack-raphael` a

[2017-06-07 18:49] vitorbaptista commented on #1274
I couldn't reproduce this locally. However, there was another issue while running `os-viewer` locally (see #1280). Maybe that's related. Let's re-check this after that's merged.

[2017-06-07 18:59] vitorbaptista commented on #1270
@skarampatakis As you noticed, this was already fixed on that commit, we just need to deploy to production. Unfortunately, we found a bug on staging (#1274), which needs to be fixed before we can deploy the new release. I'm working on that, so it shouldn't take too long.

Regarding the drilldown behaviour, the problem is that it's a special case, which would require some time not only to develop t

[2017-06-07 18:59] #1270 closed

[2017-06-08 06:03] akariv commented on #1268
Since we use CSV dialect sniffing (in goodtables) to determine the properties of the file (delimiter, quoting etc.), then a very short CSV is actually not a very interesting case.
This is because sniffing works better as more text is available.

Not to say that this isn't a real bug, but better find a real-world example that exemplifies it.

[2017-06-08 06:13] pwalsh commented on #1268
@akariv that is correct too.

My main concern now is whether this error in handling is coming from the old goodtables service, and the gap from us updating to the newer one.

[2017-06-08 06:16] pwalsh commented on #1056
based on discussion with @smth I'm closing in favour of https://github.com/openspending/openspending/issues/1277

[2017-06-08 06:18] akariv commented on #1268
Old goodtables uses Python's own sniffer IIRC - do you know if the new service does something different in this department?

[2017-06-08 06:40] pwalsh commented on #1268
@akariv no, you are right, it is the same.

[2017-06-08 06:47] pwalsh commented on #994
DONE.

[2017-06-08 06:47] #994 closed

[2017-06-08 06:49] pwalsh commented on #1212
DONE!

[2017-06-08 06:49] #1212 closed

[2017-06-08 12:25] skarampatakis commented on #1270
@vitorbaptista

Can you point me to a dataset with the correct behavior? Is this on the production instance deployed or I should check latest update? I could find http://tinyurl.com/lloemst but it does not seems correct to me. Lower value bars are not even visible. Usually you aggregate the rest. And as I said if the user would like to see a more detailed view of the the "rest", you click and you

[2017-06-08 12:49] skarampatakis commented on #1238
No, I can successfully login on next.openspending.org.

[2017-06-08 13:07] skarampatakis commented on #1238
Steps to reproduce
- install packager from scratch
- run server
- open localhost:5000 from incognito in Chrome
- push login button
- Authenticate yourself through google
- You get the redirect to https://accounts.google.gr/accounts/SetSID with an empty page
- Every time you push the login button you get the same page until clear cache.

Tested with
 - Ubuntu Chrome & Firefox latest versions
- Wind

[2017-06-08 13:14] vitorbaptista opened #1281 "Can't run "git commit" on OS Types"
To reproduce, clone https://github.com/openspending/os-types and do `git commit`. You should see:

[code]

[2017-06-08 13:17] vitorbaptista commented on #1281
I just noticed by reading `.travis.yml` that I needed to run `npm run build` before `git commit`. It was surprising. I think the fix here is either let the user run the tests himself (i.e. remove the git hook), or automatically run `build` before `pretest:single`.

[2017-06-08 13:29] #1281 closed

[2017-06-08 20:10] vitorbaptista commented on #1056
Reopening, as I'm currently finishing this.

[2017-06-09 17:41] vitorbaptista opened #1282 "OS Viewer: Allow drilling down when clicking on bars in a bar chart"
We do the same in a treemap and pie chart, for example, but not on bar charts. Clicking on them doesn't do anything.

This should be a trivial fix. For example, check [how we implement it on the treemap](https://github.com/openspending/os-viewer/blob/3823010f561ef100a27684be7d6d0ec720371f23/app/front/scripts/directives/visualizations/treemap/index.js#L40-L45). When implementing this, don't forget

[2017-06-09 17:55] vitorbaptista commented on #1270
@skarampatakis

You're right, it's not possible to drilldown in the bar chart. This should be an easy fix, though. Just opened issue https://github.com/openspending/openspending/issues/1282 for it.

I think the solution here is to allow filtering, so people can enable/disable the rows as needed. A treemap is also an interesting alternative in this case, so at least you have an idea of how much of

[2017-06-12 15:10] smth commented on #1278
HTML version here:
- http://p.smth.uk/os-mockups/
- https://github.com/smth/os-mockups

[2017-06-12 15:15] pwalsh commented on #1279
#1278 is now done, and can be actioned

[2017-06-12 15:15] pwalsh commented on #1278
Thanks @smth it looks great.

[2017-06-12 15:15] #1278 closed

[2017-06-12 15:15] pwalsh commented on #1278
Implementation will occur in https://github.com/openspending/openspending/issues/1279

[2017-06-12 15:57] pwalsh commented on #1144
Moved to shorter roadmap milestone https://github.com/openspending/openspending/milestone/36

[2017-06-12 17:50] vitorbaptista commented on #1056
We have a new design, so closing this as won't fix.

[2017-06-12 17:50] #1056 closed

[2017-06-12 18:04] #1280 closed

[2017-06-13 07:50] smth commented on #957
I'm not sure what this means.

[2017-06-13 12:04] akariv commented on #957
I think this is irrelevant tbh.

On Tue, 13 Jun 2017 at 10:50 Sam Smith <notifications@github.com> wrote:

[2017-06-13 12:12] #957 closed

[2017-06-14 08:28] DianaMPG opened #1283 "OS packager UX: clear instructions after saving data package has failed"
Just had a case when saving the json data package failed (due to faulty metadata description), but the
csv was apparently ready.

There are no clear instructions or options offered for the user what to do next in such a case.
Go back to the metadata description? Start the upload process again?

<img width="1427" alt="bildschirmfoto 2017-06-14 um 10 21 49" src="https://user-images.githubusercontent

[2017-06-15 10:50] kgish opened #1284 "How can I create a budget pie chart per city?"
Hi there, I would like to create an application which does the following:

1. Select a government by type, for example a gemeente.
2. Display the budget for that gemeente for a given year in a pie chart divided by top-level items.
3. Allow the user to click a given top-level item and zoom in.

Something very similar as the current openspending website allows but I want to gather all the relevant d

[2017-06-15 16:51] #1274 closed

[2017-06-23 16:39] vitorbaptista opened #1285 "Logging in on Explorer only works once"
# Steps to reproduce

1. Go to https://next.openspending.org/explorer/
1. Click on the "Login / Register" link in the top right. This should log you in.
1. As a logged in user, log out using the links in the top right. The text should become "Login / Register" again.
1. Click on the "Login / Register" again. We expect to be able to log in again, but nothing happens.

# Potential culprit

The `Logi

[2017-06-23 20:14] akariv commented on #1285
IIRC this had been fixed in the viewer/packager, but I guess the fix wasn't
propagated to explorer.

On Fri, 23 Jun 2017 at 19:39 Vitor Baptista <notifications@github.com>
wrote:

[2017-06-30 15:49] vitorbaptista opened #1286 "Extract our changes to bootstrap to "os-styles""
We customized Twitter's Bootstrap by forking it into https://github.com/openspending/os-bootstrap and changing their code. This makes it hard for us to upgrade bootstrap, as our code is intertwined with theirs. As part of #1279, I created the https://github.com/openspending/os-styles repository to aggregate all our base stylesheets.

The end-goal is to have all stylesheets and their related assets

[2017-07-07 12:25] pierorex opened #1287 "Error while submitting dataset in local deployment"
I'm getting the following error whenever I try to submit a dataset through OS-Packager.
@akariv told me it might be something related to my installation using http://next.openspending.org instead of https://...
Where can I override that behavior?

![image](https://user-images.githubusercontent.com/9373636/27957675-c867010e-631f-11e7-9e16-0b994e5b3418.png)

[2017-07-07 15:20] kravets-levko commented on #1287
Hi @pierorex! Did you try to use https://next.openspending.org instead of http://next.openspending.org ? HTTP version makes redirect to HTTPS, but browser cannot do it because HTTP version does not set required CORS headers (and since your installation makes request from another origin - CORS headers should be provided for every request, even for redirects).

CC: @akariv Maybe, it makes sense to i

[2017-07-08 03:58] akariv commented on #1287
In openspending next HTTP is automatically redirected to HTTPS, so there's no CORS on a redirect.
The codebase only references the HTTPS endpoints, so if you have HTTP calls it's most likely because either your code is not up to date or you're using some environment variable that's overriding the default configuration.

[2017-07-10 08:26] liyakun commented on #1238
This also happens in https://github.com/openbudgets/platform/issues/39. @skarampatakis have you sloved this problem? @akariv any plan to fix this? Thanks.

[2017-07-10 12:35] akariv commented on #1222
This is unrelated with #1123... reopening.

[2017-07-10 13:06] akariv commented on #1238
Login from os-packager main page was resolved in latest master branch.

[2017-07-10 15:43] DianaMPG commented on #1202
@vitorbaptista shall we going to add the comment as discussed today and close it?

[2017-07-10 16:19] vitorbaptista commented on #1202
We currently use [PivotTable.js](https://pivottable.js.org/) for our pivot table. It supports a simple and an advanced UI. The simple UI is what we use, the advanced one is:

![PivotTable.js Advanced UI](https://user-images.githubusercontent.com/76945/28028054-347e0188-6593-11e7-9948-e71d577c55da.png)

This UI would solve this issue. However, we went on a broader discussion of what fits in OpenSpe

[2017-07-10 16:19] #1202 closed

[2017-07-10 17:07] vitorbaptista commented on #1123
@akariv Could you provide more information here? Is it simply saving the data from the `aggregate` API request [1]? Do we have a modifier to get the data in CSV already, or only JSON?

[1] https://next.openspending.org/api/3/cubes/boost:boost-moldova-2005-2014/aggregate?cut=date_2.year%3A2014&drilldown=administrative_classification_2.admin1%7Cadministrative_classification_3.admin2&order=adjusted.s

[2017-07-10 17:16] akariv commented on #1123
No - only json atm.
And the main problem here is that we don't necessarily know the last API call that a specific visualisation made. If we knew that, we can take the data and convert it to CSV (similar to what we're doing in the Pivot Table).

[2017-07-10 17:25] vitorbaptista commented on #1123
@akariv So we would have one download button for each visualization? I was thinking of just giving the user the option to download the same data that's in the table at the bottom of the page.

[2017-07-10 18:03] akariv commented on #1123
That's the requirement.

Downloading the data in the facts table is much easier but problematic - as there could be many many rows there which would strain the API and the client.
Plus, it wouldn't necessarily return the data  used in the chart (which is often aggregated).

[2017-07-10 19:48] vitorbaptista commented on #1222
@akariv Could you expand on what's required here? Where do you envision this functionality to be located? Any specific requirements, etc.

[2017-07-10 20:16] akariv commented on #1222
This is quite simple actually.
We need to modify the budget loading pipeline so that it creates an extra resource per year.
All the code changes should be in the `datapackage-pipelines-fiscal` module.

[2017-07-11 08:48] vitorbaptista commented on #1198
@akariv @DianaMPG and myself talked about this issue. There are a few problems with using the bubbles colours as another dimension. Let's consider 2 cases: using colours to represent revenue/expense, and using colours to represent the categories (and subcategories would have the same colour as their parent category).

If we use colours to represent revenue/expense, say red for expense and blue for

[2017-07-11 08:57] DianaMPG commented on #1198
@vitorbaptista thanks for elaborating.
I have a questions in regards to 2.

2. would we only outline of the bubbles?

In regards to 3., a note: We currently don't have spending data but mostly budget data. That means only positive values are shown at this point.

[2017-07-11 09:02] akariv commented on #1198
Budget data also has negative values, as income assessment is part of the budgeting process in many cases.

[2017-07-11 09:04] DianaMPG commented on #1198
thanks @akariv for clearfication.

Now - I think 3. could be useful. What do you think?

[2017-07-11 12:51] pierorex opened #1288 "Changing OS-Packager Theme"
What file should I modify in order to change the colors of OS-Packager?

Thanks in advance.

[2017-07-11 15:27] DianaMPG commented on #1198
Also @akariv @vitorbaptista
I just got feedback from Nicolas from J++ :

Thanks for getting this discussion going!

Point 1 (make colors dependent on a column) : The tool allows the users to describe the dataset and to give more info on each column, so we do have more details. But the "data description process" will probably change and be simplified so it's better to not work on this point now. It

[2017-07-11 15:32] pierorex opened #1289 "[OS-Packager] Publish dataset via API call"
Is there a way to make a dataset Public through OpenSpending's API?
It would help us for some automation tasks we're working on.

[2017-07-12 04:30] skarampatakis opened #1290 "[OS-Packager] Build fails on d3-time-format requirement"
I cloned latest version from master repo, did ```npm install``` and then ```npm run build``` but I get this error
[code]

So to installed manually this module by
[code]

and the build finished successfully. So there might be a missing dependency?

[2017-07-12 06:02] akariv commented on #1289
Please refrain from opening issues which are support questions.
Best way to get answers is via docs.openspending.org and https://gitter.im/openspending/chat.

[2017-07-12 06:02] #1289 closed

[2017-07-12 06:04] akariv commented on #1288
This is still not implemented, you should follow this PR.
https://github.com/openspending/os-packager/pull/111

[2017-07-12 06:04] #1288 closed

[2017-07-12 06:25] DianaMPG commented on #1199
@vitorbaptista @akariv can I close this?

[2017-07-12 06:29] DianaMPG commented on #1198
lets settle for option 3.

[2017-07-12 07:43] akariv commented on #1284
Hi @kgish,

Best way to get answers on such questions is via http://docs.openspending.org and https://gitter.im/openspending/chat. Issues are meant to be reports on problems, bugs or missing features.

To your question - see the `aggregate` api endpoint, you should be able to set the `filter` and `drilldown` parameters so that only data on a specific entity is shown, and grouped by the desired dim

[2017-07-12 07:43] #1284 closed

[2017-07-12 12:32] #1287 closed

[2017-07-12 12:51] skarampatakis commented on #1238
I can confirm that this issue has been fixed. Thank you.

[2017-07-12 12:51] #1238 closed

[2017-07-12 13:08] pierorex commented on #1289
Sorry about that :)

[2017-07-13 13:01] vitorbaptista commented on #1198
Agreed :+1:

[2017-07-17 16:23] #1144 closed

[2017-07-17 18:16] #1143 closed

[2017-07-18 11:48] pwalsh opened #1291 "Add Google Analytics tracking to all next.* apps"
We are about to close down old OS, and replace with next (yes, really, finally). We need to install the tracking code for basic usage data. This needs to be installed for Packager, Viewer, Explorer.

[2017-07-18 18:02] kravets-levko commented on #1291
@pwalsh https://github.com/okfn/os-private-issues/issues/43

[2017-07-18 18:09] pwalsh commented on #1291
@kravets-levko yes, I thought I had tasked this! @akariv why don't we see this in production?

[2017-07-18 18:17] kravets-levko commented on #1291
it was implemented some time ago, and most likely is available on production. But it should be enabled in a config for each app.

[2017-07-20 12:34] vitorbaptista commented on #1279
Fixed via https://github.com/openspending/os-explorer/pull/14

[2017-07-20 12:34] #1279 closed

[2017-07-24 09:40] seegerseeger opened #1292 "Number/currency depiction in Viewer delivers false outputs (iframe)"
Currently, describing German (or any other non-US currency) budget data using the OS Packager results in a false display of numeric values / currency formats in the Viewer and when embedded (see example below). This has been an issue for OffenerHaushalt.de as well as SubsidyStories.eu, and will be for other individual iterations using OS.

Can this be addressed in the current redesign?

Live examp

[2017-07-24 12:15] pwalsh opened #1293 "Use goodtables.io and updated client for data validation"
# Description

# Tasks

- [ ] Replace the current API interaction and UI with those of the latest goodtables.io-compatible code.

[2017-07-27 14:15] vitorbaptista opened #1294 "[OS-Viewer] Refactor theming to use os-styles"
This should follow the same pattern implemented on os-packager and os-admin via https://github.com/openspending/openspending/issues/1143 and https://github.com/openspending/openspending/issues/1144.

[2017-07-27 16:21] vitorbaptista opened #1295 "[OS-Explorer] Extract OpenSpending URL to an environment variable"
We currently have `next.openspending.org` hard-coded in a few different places on `os-explorer`. We must extract it to an environment variable, so we can use `staging.openspending.org` on staging, and more easily alter its value whenever we change the URL to simply `openspending.org`

[2017-07-27 16:42] vitorbaptista commented on #1295
After this is merged, we need to set `OS_BASE_URL` to `https://staging.openspending.org` on the `os-explorer` staging deployment (not sure where it's located)

[2017-07-28 09:50] liyakun opened #1296 "OS Packager header title"
There is a small error in os-packager [header.html](https://github.com/openspending/os-packager/blob/master/app/views/partials/header.html) at line 45, the `title` should be `OS Packager`.

[2017-07-28 16:49] #1296 closed

[2017-07-28 16:49] vitorbaptista commented on #1296
Thanks @liyakun, fixed it via https://github.com/openspending/os-packager/commit/f581be52d224eb3e90a2bd3b0554d705aaca30d8

[2017-07-28 17:15] vitorbaptista commented on #1292
@seegerseeger Thanks for your report. I checked [the data used by that visualization](https://next.openspending.org/api/3/cubes/a6a16b964a7e784f99adecc47f26318a:berlin20162017doppelhaushalt/aggregate?drilldown=administrative_classification_2.Einzelplan%7Cadministrative_classification_2.Einzelplanbezeichnung&order=amounts.sum:desc&pagesize=30), and the issue is with the source data itself. For exam

[2017-07-29 09:59] liyakun opened #1297 "OS Packer build error from docker file"
Line 14 in [Dockerfile](https://github.com/openspending/openspending/blob/master/docker-config/os-packager/Dockerfile) should be `RUN cd app && npm run build`

[2017-07-30 07:35] #1295 closed

[2017-07-30 07:36] #1294 closed

[2017-07-31 12:04] #1292 closed

[2017-08-01 11:03] michaeljokf commented on #1292
@vitorbaptista thanks! I am a colleague of @seegerseeger
I will look into the data again in detail and see what went wrong.

Thanks for fixing the plural of "billion".
Yes I agree that localisation is a major task. However, I am not a developer so I not the most knowledgeable on this. Are there any plans to improve this? Should I make a new issue for it?
Localisation would mean that delimiters and

[2017-08-01 13:08] pwalsh commented on #1292
hey @michaeljokf you should open a new issue, yes.

I don't think it is related to currency symbols though - currency symbols should currently be based on the currency declared in the Fiscal Data Package.

[2017-08-03 07:02] DianaMPG commented on #1242
@akariv what´s the status?

[2017-08-03 07:28] pwalsh commented on #1242
@DianaMPG this is my task, not that of @akariv

Status is that it is not done. I'm waiting for the launch of next.*

[2017-08-03 07:34] pwalsh commented on #1297
@vitorbaptista can you check.

[2017-08-03 11:02] vitorbaptista commented on #1297
@liyakun Nice catch, thanks! @akariv Are those Dockerfiles still used? I'm asking because I thought we used https://github.com/openspending/os-packager/blob/master/Dockerfile for `os-packager`, for example.

[2017-08-03 11:41] vitorbaptista commented on #1198
There're still a few PRs to be merged

[2017-08-03 16:06] michaeljokf commented on #1292
Thanks @pwalsh!  True, the currency symbols are separate. I was mostly thinking about the numbers format. We will get back to you guys on this. We have a new developer @aivuk who will help us with the implementation for offenerhaushalt.de. We will give you guys feedback on this once we have worked it out for Offener Haushalt.

[2017-08-04 05:34] DianaMPG opened #1298 "OS Viewer: Donut chart visualization"
Relates to #1197

[2017-08-04 14:01] vitorbaptista commented on #1123
The PRs were submitted and are pending review. As this touches many different codebases, we need to be careful with the merging order.

1. Merge https://github.com/openspending/babbage/pull/26
1.1. Upload a new version to pypi
1.1. Change `os-api` to use this new version
1. Merge https://github.com/openspending/babbage.ui/pull/71
1.1. Upload a new version to npm
1. Merge https://github.com/openspe

[2017-08-04 14:08] akariv commented on #1297
Yes, these docker files are obsolete, we should remove them.
We're now using the Docker files in each of the repositories.

[2017-08-07 17:18] #1123 closed

[2017-08-08 15:41] vitorbaptista opened #1299 "Aggregate summaries are simply the first row of the results"
For example, see https://openspending.org/api/3/cubes/boost:boost-moldova-2005-2014/aggregate?cut=date_2.year:2014&drilldown=functional_classification_2.func1&order=adjusted.sum:desc&pagesize=30. The important parts are:

[code]

This seem to be a bug introduced by https://github.com/openspending/babbage/commit/08d331702ff9590af4b0ccdd70b3f87fa73e2cc4#diff-f075de08403be9696f33acb4efb640ac. Specifi

[2017-08-08 16:07] vitorbaptista commented on #1299
I added a sample test case that shows this bug on https://github.com/openspending/babbage/pull/27. @akariv I wasn't able to fix it because I don't understand the optimizations you've done on https://github.com/openspending/babbage/commit/08d331702ff9590af4b0ccdd70b3f87fa73e2cc4#diff-f075de08403be9696f33acb4efb640ac. Could you take a look?

[2017-08-08 16:38] vitorbaptista opened #1300 "CSV response from /aggregate fails because we can't cache it"
The traceback we get when trying to access https://staging.openspending.org/api/3/cubes/boost:boost-moldova-2005-2014/aggregate?pagesize=30&order=executed.sum%3Adesc&format=csv is:

[code]

The problem is that we're caching the API responses in https://github.com/openspending/os-api/blob/db3a5a1ea85c6fed0ee087bbda9fad84dde982fa/os_api/cache.py#L53, but the CSV response can't be pickled because it'

[2017-08-08 21:05] akariv commented on #1299
I'm leaving this branch with a probable fix - could you please take a look
to see if it helps?

On Tue, 8 Aug 2017 at 19:07 Vitor Baptista <notifications@github.com> wrote:

[2017-08-08 21:05] akariv commented on #1299
`fix/restore-summary-row` is the name of the branch

On Wed, 9 Aug 2017 at 00:05 Adam Kariv <adam.kariv@okfn.org> wrote:

[2017-08-09 11:49] vitorbaptista commented on #1297
@akariv Does this mean we can safely remove all of https://github.com/openspending/openspending/tree/master/docker-config ?

[2017-08-09 15:00] vitorbaptista opened #1301 "Fix os-api build"
Master is failing since https://github.com/openspending/os-api/commit/a30fdea204e5517a06d4a0ae42aadf4ba7652427 was merged (see https://travis-ci.org/openspending/os-api/builds/261508270). The problem seems to that we forgot to commit the `tested-ok.txt` file.

/cc @akariv

[2017-08-09 15:08] vitorbaptista opened #1302 "Stop testing code using interpreter versions we don't use"
For example, on https://github.com/openspending/os-api we use Python 3.6 in production, but test using 2.7, 3.3, 3.4 and 3.5 (i.e. not 3.6). Unless we're developing a library that's supposed to be imported and used as part of another projects, we should support a single version: the one we use in production.

There are similar issues with other repositories, like https://github.com/openspending/os

[2017-08-09 15:09] #1300 closed

[2017-08-09 15:12] #1299 closed

[2017-08-09 15:12] vitorbaptista commented on #1299
@akariv That worked :v:

[2017-08-09 15:14] vitorbaptista commented on #1291
@akariv Can we close this?

[2017-08-09 15:34] vitorbaptista commented on #1198
Fixed

[2017-08-09 15:34] #1198 closed

[2017-08-14 18:08] vitorbaptista opened #1303 "Fix the backwards-compatible APIv2 layer"
There are a few cases we missed. Meanwhile, I added a couple rules on CloudFlare to point accesses to the old API to a server running the old code.

[2017-08-15 04:18] pwalsh commented on #1303
cc @akariv

[2017-08-15 05:50] pwalsh commented on #1214
DONE

[2017-08-15 05:50] #1214 closed

[2017-08-15 05:50] pwalsh commented on #1216
DONE

[2017-08-15 05:50] #1216 closed

[2017-08-17 10:08] pwalsh opened #1304 "Explore integration of tools from Open Knowledge Greece into core"
@cbratsas @larjohn

Lazarus, can you provide a brief overview about the current tools (KPIs, Indigo) so we can explore how we can integrate into the OpenSpending platform directly, over time. Having a brief overview of each tool may also be useful for the community and we can see if there is any more general interest out there.

For each tool, something like:

- Name
- Short description
- Use case

[2017-08-17 10:23] pwalsh commented on #1304
@larjohn as requested, I assigned to you.

[2017-08-17 14:34] StephenAbbott opened #1305 "Fix Explore Datasets URL in OS Packager header"
'Explore Datasets' link in header of https://openspending.org/packager is currently going to https://openspending.org/explorer but should be changed to point at https://openspending.org/s/

[2017-08-17 14:39] StephenAbbott opened #1306 "Fix links in footer of OpenSpending homepage"
Following images/logos in footer of OS homepage do not link. Add links to logos:

• OS Packager = https://openspending.org/packager/
• OS Viewer = https://openspending.org/s/
• Adessium Foundation = http://www.adessium.org/
• GIFT = http://www.fiscaltransparency.net/
• Hewlett Foundation = http://www.hewlett.org/
• OpenBudgets.eu = http://openbudgets.eu/

[2017-08-19 14:41] vitorbaptista opened #1307 "URL not found: https://openspending.org/api/3/info/images/apple-touch-icon.png/package"
In our logs, we have:

[code]

This came from https://github.com/openspending/os-viewer/blob/eac7c880c1138ce073567a48aac9dfccf5822984/app/views/layouts/base.html#L11. Investigate what happened and solve it.

[2017-08-19 15:31] vitorbaptista opened #1308 "API URLs don't work with trailing slash"
For example, https://openspending.org/api/3/cubes works, but https://openspending.org/api/3/cubes/ doesn't. The problem is that we automatically redirect to the URL with a trailing slash, so none of them work. This is caused by how Flask's routing module (Werkzeug) works.

To avoid this, we need to define the URLs with trailing slashes, so Flask will automatically redirect their versions without t

[2017-08-19 15:38] #1308 closed

[2017-08-19 17:14] vitorbaptista opened #1309 "Our apps must respect X-Forwarded-Proto when redirecting"
For example, note the `Location` used in:

[code]

It redirects the user to the `HTTP` version of the server. This is because we're using CloudFlare's Flexibe SSL, so the actual server is running on HTTP. To solve this, CloudFlare pass `X-Forwarded-Proto: https` to the servers, which must use this header when deciding which protocol to use for redirects. Luckily, this pattern is common, and Werkze

[2017-08-22 07:40] aivuk opened #1310 "Export a visualization from Openspending viewer with customizable UI"
(Original thread: https://github.com/aivuk/dpvis/issues/1)

The use case have three main features:

1. I would like to have a visualization from babbage.ui in my page (http://example.com/budget/) that change the history state based in the navigation/interaction with it. E.g. in a treemap with a set of specific filters set (year=2017, type=city), some administrative level selected (/admin/ID), I wo

[2017-08-22 09:45] vitorbaptista commented on #1309
This turned out to be more complicated than expected. OpenSpending is served via 2 reverse proxies, as:

`User Request` ---HTTPS---> `CloudFlare` ---HTTP---> `NGinx (os-nginx-frontend)` ---HTTP---> `os-viewer`, `os-api`, `os-explorer`, ...

Notice that the HTTPS only happens between the user requests and CloudFlare. Under the hood, we're using HTTP. This is CloudFlare's Flex SSL. In the future, we

[2017-08-22 16:33] vitorbaptista opened #1311 "Explorer can't access the environment variables"
The issue is that the Explorer is a frontend app, so it only have access to the env variables when it's being built. Unfortunately, this would mean that a container would have the configuration built-in, so we can't reuse it among staging and production, for example.

This is the reason that the Explorer doesn't have the Google Analytics code set, and search results in https://staging.openspending

[2017-08-22 19:09] pwalsh commented on #1311
@vitorbaptista this is the exact, and only, reason the other apps on OS, and, other frontend apps at OKI, run in a light Node shell - to be able to configure with environment variables.

[2017-08-29 05:38] pwalsh commented on #1286
@vitorbaptista do you have any idea how much time this could take?

[2017-08-29 05:41] pwalsh commented on #1256
# Description

When we release v1, we have the opportunity to upgrade all FDPs on the OS datastore to the new spec. We should do so.

# Tasks

- [ ] Write a script to update all packages in the OpenSpending Datastore to FDP v1
- [ ] Test the script (write tests, and manual sort checks)
- [ ] Update the datastore

[2017-08-29 05:41] pwalsh commented on #1255
The documentation has no information that is v1 specific. Closing.

[2017-08-29 05:41] #1255 closed

[2017-08-29 05:43] pwalsh opened #1312 "[WIP] Requirements for v1 of Fiscal Data Package"
# Description

(I'm working on this issue over a few days. When it is complete, the "[WIP]" prefix will be removed from the title.)

# Tasks

## Content

- [ ] Remove ambiguity. Some examples I remember:
  - [ ] relations (FKs)
  - [ ] usage of tag to denote this is budget or spending data
  - [ ] fiscal year and budget phase etc - various properties that are declared as "meta data" but definitely

[2017-08-29 05:44] pwalsh opened #1313 "Public feedback stage for v1 of Fiscal Data Package"
# Description

We plan to have a reasonable draft of Fiscal Data Package v1 by the beginning of October. At that stage, we want to share the draft widely for comments.

There will be a limited time for comments. I suggest a 6 week window from publication of the draft.

# Tasks

- [ ] Have clear path for commenting on the spec
- [ ] Announce via a blogpost and social media that a draft of v1 is pub

[2017-08-29 05:45] pwalsh commented on #1252
Closed in favour of #1312

[2017-08-29 05:45] #1252 closed

[2017-08-29 05:46] pwalsh opened #1314 "Update code for Fiscal Data Package v1 support"
# Description

We have a CLI, and other code that implements support for Fiscal Data Package (there are several [open issues](https://github.com/openspending/openspending/milestone/38) for the CLI, which may be related to work that happens here). This code needs to support v1 of the spec, and, needs a compatibility layer to convert v0.3 to v1 ([required for this](https://github.com/openspending/op

[2017-08-29 05:51] pwalsh commented on #1313
cc @DianaMPG @akariv @rufuspollock @vitorbaptista

[2017-08-29 06:25] pwalsh commented on #1312
cc @akariv @rufuspollock @vitorbaptista @DianaMPG

[2017-08-31 08:28] akariv commented on #1297
I believe that we can remove most of it.
I'd like to keep the docker compose files for running the system locally,
but these need to be adjusted as they might have gone outdated in the past
months.

On Wed, Aug 9, 2017, 13:49 Vitor Baptista <notifications@github.com> wrote:

[2017-08-31 08:28] akariv commented on #1291
Yes, just need to make sure that the sites are indeed reporting to ga. I
don't have the creds to check.

On Wed, Aug 9, 2017, 17:14 Vitor Baptista <notifications@github.com> wrote:

[2017-08-31 10:02] pwalsh commented on #1312
I'm now thinking that we can use the profiles concept in Data Packages v1 for different types of fiscal data.

This could be better than trying to hard code "budget" and "spending" as fiscal data types in the default FDP, as we've found that users often do not know the difference anyway.

The basic gist of what I am thinking is:

- FDP has all the data types we need (as above). `fiscal-data-packag

[2017-08-31 11:38] DianaMPG commented on #1250
links to #1312

[2017-08-31 12:16] vitorbaptista commented on #1239
Just adding it here so we don't forget later: we also need to monitor the build status of our Docker containers, otherwise the build can fail without us noticing (see https://hub.docker.com/r/openspending/os-packager/builds/ for an example)

[2017-08-31 13:37] vitorbaptista commented on #1309
Fixed

[2017-08-31 13:37] #1309 closed

[2017-08-31 13:43] timgdavies commented on #1312
@pwalsh Can you say a bit more what you mean by 'An implementation of the Open Contracting Standard as Fiscal Data Package'

Are you talking about extracting the budget and transaction elements of OCDS data as budget or spend FDP? Or trying to extract more or the contracting process data as well and re-model in FDP?

[2017-08-31 14:02] pwalsh commented on #1312
Hey @timgdavies

I'm not sure yet, but one of the two. I'll have to work with more data to understand what makes most sense / generates most value.

[2017-08-31 14:07] jpmckinney commented on #1312
@pwalsh OCDS has hundreds of fields (many of which are prose). I'm not sure what the purpose of transforming all that would be, considering OpenSpending's primary value is with respect to numeric data.

[2017-08-31 14:11] pwalsh commented on #1312
Yes, it is unlikely we would transform all that. At the same time, there is a clear subset that may be useful for exploration along numeric measures, hence the exploration of this direction.

[2017-09-01 07:54] rufuspollock commented on #1312
@pwalsh i think this all makes a lot of sense. I esp like the division into subprofiles rather than one big fat profile and i think incorporating something to support the (numeric) portion of contracts is very useful as it comes up very frequently in fiscal data stuff.

[2017-09-01 12:38] timgdavies commented on #1313
In the recent OCDS upgrade, we found combining an open review process, with a semi-structured set of invited peer reviews really improved the coverage of feedback we got.

We used a spreadsheet template for people to comment issue by issue / on key areas of the spec. It was a bit of an overhead to create, but useful to get directed input, rather than ad-hoc coverage of issues, or very high-level c

[2017-09-02 10:10] rufuspollock commented on #1313
Thanks Tim, really useful suggestions 👍 🍕

[2017-09-04 05:53] DianaMPG commented on #1313
@timgdavies may I ask who the peer reviewers were in the recent OCDS upgrade? where they part of the OGP Fiscal Transparency working group?

[2017-09-04 15:57] pwalsh commented on #1246
@DianaMPG could you elaborate on this please?

[2017-09-04 16:01] pwalsh opened #1315 "Multiple classifications in Viewer"
# Description

In discussion with the Mexican Ministry of Finance, a point was raised to me around a use case for filtering on multiple classifications. Currently, the use case they have is not possible in the Viewer, so they use the API directly and build their own visualisation.

I want to understand the use case and see if it can be elevated to a feature of the Viewer.

Lorena from the team at

[2017-09-04 16:09] pwalsh opened #1316 "Use case for checking data sources pre-upload / -processing"
# Description

The Mexican government publish lots of data on OpenSpending, and we are lucky enough to have some visibility into the internal process before any data touches OpenSpending.

In their use case, the data is loaded into OpenSpending using the pipeline framework, as there is lots of file concatenation, merging, and so on.

It turns out, even before the data transformations that occur on

[2017-09-04 16:11] pwalsh commented on #1250
We need GIFT to provide data to make progress here.

In the meantime, we may be able to receive some suitable data from Mexico, as Lorena will send me an example on how they are addressing the link between the OFDP and Open Contracting Data Standard and transactions.

If the data is volumes enough, it may be a good start for the spending data exploration.

[2017-09-04 16:12] pwalsh commented on #1250
@DianaMPG Assigned to myself as I am responsible for the requirements document.

[2017-09-05 05:26] DianaMPG commented on #1250
@pwalsh
we were also hoping to get the spending data of the US treasury. That´s why we pro-actively reached out and I have suggested this to GIFT. First contacts and calls were established and it is highly likely that we meet them in Washington next month. To have their data on board in addition to the data from Mexico, that would be ideal.

[2017-09-05 05:33] DianaMPG commented on #1246
@pwalsh as part of the WP 5, you decided that some content around the "landscape of Open Contracting would be a good thing. We haven´t specified anything yet since this content was originally not due until November.

If we see other options for dissemination which would make more sense, we can always go back and suggest them to GIFT. We did so with the Intro to gov partners - instead of blog posts

[2017-09-06 12:05] pwalsh commented on #1312
I've had a session today with @akariv on this. We will take the following next steps:

1. From now to Sept. 18th, Adam will work on a draft document that outlines his vision for how we take the work done in "OS Types", make it a core part of the spec, and thereby remove pretty much all ambiguity.
2. I'll do research on DATA Act and some things @akariv and I discussed around schema.org
3. We'll the

[2017-09-06 20:16] rufuspollock commented on #1312
@pwalsh acknowledged and sounds good.

[2017-09-07 11:47] vitorbaptista opened #1317 "Add client-side validation for the datapackage identifier"
When uploading a new dataset via the packager, we need to pick a unique identifier on the 3rd step. This has to be lowercase only, numbers, letters, and `-`, `_` or `.`. However, we only validate it in the backend, so if the user picks an invalid name, she'll only otice after his upload fails. Worse, with a cryptic Python traceback.

To make it friendlier, we should validate in the frontend as wel

[2017-09-07 11:50] vitorbaptista opened #1318 "Formatting doesn't work with negative numbers"
For example, instead of `-72.3 Million`, we get `-72.3`

[2017-09-07 11:54] #1318 closed

[2017-09-07 14:23] pwalsh opened #1319 "Views of data packages with positive and negative numeric value measures"
# Description

Some data packages loaded to OpenSpending have positive and negative values in the same direction (e.g.: a negative expenditure). Some visualisation types need to know this, as, they simply will not work with such data (e.g.: a treemap).

# Tasks

- [ ] Pre compute a flag on the API to say "this data package has records with mixed positive and negative values"?
- [ ] Use above flag

[2017-09-07 14:31] jpmckinney commented on #1186
This sounds good.

With respect to whether OpenSpending mints its own new identifiers for facts and dimensions if these aren't in the source data or in the OFDP file, I suppose that's up to OpenSpending.

Is there a comparable issue on https://github.com/openspending/fiscal-data-package/issues about identifiers? I'm more interested in getting this right in OFDP than in OpenSpending.

[2017-09-07 16:43] pwalsh commented on #1186
@jpmckinney I started one here https://github.com/frictionlessdata/specs/issues/524

[2017-09-07 16:46] vitorbaptista opened #1321 "Set minimum bar chart height"
Depending on the scale of the bar chart, it can end with height 0 (i.e. invisble). That should never happen.

[2017-09-07 16:52] pwalsh commented on #1312
I started breaking this down into issues here https://github.com/frictionlessdata/specs/issues?q=is%3Aopen+is%3Aissue+label%3A%22Fiscal+Data+Package%22

[2017-09-07 17:01] vitorbaptista opened #1322 "Bubble tree can't show negative values"
On https://github.com/openspending/os-viewer/pull/165, I implemented a feature to change the bubble's colour depending if they were negative or positive. However, bubbletree itself doesn't support it (see https://github.com/okfn/bubbletree/blob/daf73591476eabbc94a3ef95ea45e3854646e59b/src/js/bubbletree.js#L146 and https://github.com/openspending/babbage.ui/blob/2905409f26108ff859f925e5e2481fce8acd

[2017-09-08 09:44] vitorbaptista commented on #1319
We implemented different colours for the bubble tree on https://github.com/openspending/openspending/issues/1198 (but I found a bug on it https://github.com/openspending/openspending/issues/1322). We could do the same for the treemap, but it's kind of stretching the meaning of the visualizations.

Instead of thinking about treemaps, it's easier to think about pie charts. Both treemaps and pie char

[2017-09-10 12:01] timgdavies commented on #1313
@DianaMPG You can find [a list of the peer reviewers here](http://standard.open-contracting.org/latest/en/support/credits/#version-1-1-0)

We tried to invite a set of people representing a broad range of groups, and then also put the peer-review call out through our main channels, so people could volunteer as well (to avoid a closed 'invite-only' process)

[2017-09-11 05:56] DianaMPG commented on #1313
Thank you @timgdavies !

[2017-09-27 05:20] #1312 closed

[2017-09-27 05:22] pwalsh commented on #1313
part of this (the specific contribution model) will be [addressed here](https://github.com/frictionlessdata/specs/issues/522). This issue remains relevant for the OS project team to work on general outreach around the work to solicit commentary and contribution.

[2017-09-27 18:21] vitorbaptista commented on #1286
@pwalsh It depends on how much we customized `os-bootstrap`, and how hard it'll be to extract our changes. My guess would be around a week.

[2017-09-28 08:06] michaeljokf opened #1323 "Updating data package not working"
I am having trouble updating an existing datapackage that is already stored on OS next.
I wanted to change a column mapping. Went to "edit" datapackage and updated the column and saved the dataset. I then checked in the OS admin page to see that if it updated (it did, due to new time and the changed "private setting").
When I look in the viewer I can see that the column mappings did not change. Fu

[2017-10-04 15:22] #1222 closed

[2017-10-09 07:02] roll commented on #1157
With https://github.com/openspending/openspending/issues/1157 this file works fine.

[2017-10-16 05:42] pwalsh commented on #1323
@akariv can you please check this.

[2017-10-16 05:45] pwalsh commented on #1307
@akariv can you please fix.

[2017-10-17 07:59] akariv commented on #1305
Already fixed.

[2017-10-17 07:59] #1305 closed

[2017-10-17 08:14] akariv commented on #1307
There was never such a file, who knows why it was added in the first place (probably copied from another place).

I removed that reference.

[2017-10-17 08:14] #1307 closed

[2017-10-17 18:13] vitorbaptista commented on #1323
I was able to reproduce this. My steps were:

1. Go to the admin page
1. Edit one of my datasets
1. Change one of its column's DataTypes
1. Proceed and save the new dataset

After I received the success message, I went back to the admin page to edit the same dataset, and its DataType wasn't changed. It was the same as before.

[2017-10-23 12:05] vitorbaptista opened #1324 "[Discuss] Fix link to datasets in the old OpenSpending"
For example, https://openspending.org/big-lottery-fund-grants doesn't work, while https://legacy.openspending.org/big-lottery-fund-grants does.

Per @rufuspollock:

There are basically two strategies to develop this: importing the data into OpenSpending Next, or redirecting to the legacy OpenSpending:

* Redirecting to legacy OpenSpending
    This could be done relatively easily (1~2 days), even i

[2017-10-24 19:31] SillySam commented on #1038
This issue should be closed

[2017-10-25 09:10] hantongliu opened #1325 "OS-viewer doesn't work"
Hi @pwalsh , OS-viewer doesn't work properly today. It shows a 503 error when requesting this url: http://cors-anywhere.herokuapp.com/next.openspending.org/user/check?next=http:%2F%2Fapps.openbudgets.eu%2Fviewer%2Faragon-2007-income__3209b

[2017-11-05 09:13] rufuspollock commented on #1324
@vitorbaptista did we not import the old data across in the end then?

[2017-11-12 15:27] pwalsh commented on #1325
@akariv @vitorbaptista

Can someone please confirm, deny, fix, or close this issue. Thx.

[2017-11-12 15:29] pwalsh commented on #1324
The old data should be in OS Next.

@akariv please let us know what your recommendation is here.

[2017-11-12 15:35] pwalsh commented on #1316
I have not received any sample files yet. Keeping this open for future exploration.

[2017-11-12 15:43] pwalsh commented on #1242
This task was done in a very ad hoc manner between myself and Vitor, when developing the notification system.

[2017-11-12 15:43] #1242 closed

[2017-11-12 15:48] pwalsh commented on #1239
@vitorbaptista

You did most of this already.

Can you lay out for @brew

- [ ] What we *are* monitoring
- [ ] What we still *need* to monitor
- [ ] Task list for remaining monitor integrations required
- [ ] Steps for documenting the monitoring, ideally at docs.openspending.org ( https://github.com/openspending/docs )

@brew

When we get the list of what has ben done, and what is remaining, pleas

[2017-11-12 15:59] pwalsh commented on #1240
The status page setup has been done by @vitorbaptista and tested out by @brew

As far as I see, the remaining tasks are:

- [ ] Confirm that the setup is done. @vitorbaptista to provide additional steps if not
- [ ] Add all documentation for the status page setup (docs targeting developers) to docs.openspending.org ( https://github.com/openspending/docs )
  - [ ] This *must* include instructions f

[2017-11-12 16:00] pwalsh commented on #1241
This is part of https://github.com/openspending/openspending/issues/1240

[2017-11-12 16:00] #1241 closed

[2017-11-12 16:10] pwalsh commented on #1322
Relates to #1319

[2017-11-12 16:10] pwalsh commented on #1319
@vitorbaptista

Any ideas on how difficult this might be to implement?

[2017-11-12 16:12] pwalsh commented on #1315
Still waiting on more information. Keeping open on the backlog.

[2017-11-12 16:13] pwalsh commented on #1200
@vitorbaptista what is the status.

[2017-11-12 16:14] pwalsh commented on #1283
@akariv can you reproduce this? Can we do something along the ones of what @DianaMPG suggests?

[2017-11-12 16:16] pwalsh commented on #1186
@akariv can you do a task list / requirements scope for this please.

[2017-11-12 16:18] pwalsh commented on #987
@akariv can you please write a spec for this.

[2017-11-12 19:37] pwalsh opened #1326 "OpenSpending CLI and Python Client"
# Description

The OpenSpending Client, currently called [Gobble](https://github.com/openspending/gobble), needs some ❤️ .

# Tasks

- [ ] Rename from `gobble` to `os-client` to be consistent with other OS components
- [ ] Add progress bars to CLI for upload. See original notes [here](https://github.com/openspending/openspending/issues/1104) and my [comment here](https://github.com/openspending/op

[2017-11-12 19:37] pwalsh commented on #1097
moved to https://github.com/openspending/openspending/issues/1326

[2017-11-12 19:37] #1097 closed

[2017-11-12 19:39] pwalsh commented on #1104
moved to https://github.com/openspending/openspending/issues/1326

[2017-11-12 19:39] #1104 closed

[2017-11-12 19:40] pwalsh commented on #1102
Moved to https://github.com/openspending/openspending/issues/1326

[2017-11-12 19:40] #1102 closed

[2017-11-12 19:41] pwalsh commented on #1095
https://github.com/openspending/openspending/issues/1326

[2017-11-12 19:41] #1095 closed

[2017-11-12 19:42] pwalsh commented on #1153
Moved to https://github.com/openspending/openspending/issues/1326

[2017-11-12 19:42] #1153 closed

[2017-11-12 19:43] pwalsh commented on #1105
Closing

[2017-11-12 19:43] #1105 closed

[2017-11-12 19:44] pwalsh commented on #1103
Moved to https://github.com/openspending/openspending/issues/1326

[2017-11-12 19:44] #1103 closed

[2017-11-12 19:45] pwalsh commented on #996
@akariv

We really need to know:

1. Progress
2. Estimate for work left in days
3. A spec here that others can read

[2017-11-12 19:50] pwalsh commented on #1297
This issue can be closed, but @akariv we really need you to approve or review #1320

[2017-11-12 19:51] pwalsh commented on #1301
@akariv please :)

[2017-11-12 19:52] pwalsh commented on #1306
@brew can you jump on this one first please.

[2017-11-12 19:53] pwalsh commented on #1290
@akariv can you please fix.

[2017-11-12 19:54] pwalsh commented on #1286
Moving this to backlog.

@vitorbaptista @brew this will be a good one to pull out of backlog if we move through other things quickly enough.

[2017-11-12 19:56] pwalsh commented on #1302
@brew this is a maintenance one that is good to pick up just to give you a high-level view on all the components of the platform.

[2017-11-12 19:58] pwalsh commented on #1277
@akariv

No one else has any idea where this is at, and if or when @kravets-levko has any code he can push for others to work on.

Can you please update the exact status, including on checking in with Levko, so others can pick this up in the future if needed.

I'm moving the work to the backlog for now.

[2017-11-12 19:59] pwalsh commented on #1276
As best as we can tell, this is done, and the blocker is on implementation, plus any design enhancements that will come out of implementation. Closing.

[2017-11-12 19:59] #1276 closed

[2017-11-12 20:00] pwalsh commented on #1285
@akariv can you please fix this.

[2017-11-12 20:01] pwalsh commented on #1215
@akariv what needs to be taken care of here, if anything?

[2017-11-12 20:03] pwalsh commented on #1213
And note the problems with the compatibility layer we found out the hard way, and that @vitorbaptista captured in a post-mortem document.

@akariv we need you to map out the work to do here.

[2017-11-12 20:03] pwalsh commented on #1303
merged with https://github.com/openspending/openspending/issues/1213

[2017-11-12 20:03] #1303 closed

[2017-11-12 20:04] pwalsh commented on #1291
everything is tracking except explorer, and the problem with explorer is captured in another open issue.

[2017-11-12 20:04] #1291 closed

[2017-11-12 20:06] pwalsh commented on #998
@akariv is this still relevant?

[2017-11-12 20:08] pwalsh commented on #1245
@DianaMPG did anything start here?

[2017-11-12 20:08] pwalsh commented on #1244
@DianaMPG has anything been started here?

[2017-11-12 20:10] pwalsh commented on #1217
@akariv please confirm this was fixed.

[2017-11-12 20:10] #1217 closed

[2017-11-12 20:12] pwalsh commented on #1125
@akariv what happened here?

[2017-11-12 20:13] #979 closed

[2017-11-12 20:14] pwalsh commented on #910
@akariv pls confirm, or deny, or....

[2017-11-12 20:15] #1207 closed

[2017-11-12 20:16] pwalsh commented on #1182
@akariv still relevant?

[2017-11-12 20:17] pwalsh commented on #1195
@akariv still relevant?

[2017-11-12 20:19] pwalsh commented on #1189
@DianaMPG what was the status of this?

[2017-11-12 20:19] pwalsh commented on #1260
@DianaMPG has any work been done on this?

[2017-11-13 11:41] pierorex opened #1327 "OS-Viewer HTTPS error when deployed on OBEU server"
I'm receiving this error from os-viewer
![os-viewer-https-error](https://user-images.githubusercontent.com/9373636/32723899-75b48052-c86f-11e7-930d-dfa0cd012a20.png)

It says there's a resource being loaded by HTTP internally, which blocks the HTTPS loading of the site.

Original error message:

[2017-11-13 12:35] pwalsh commented on #1327
@pierorex looks like a config issue on the OBEU server. Check all your env vars for anything that points to an http:// base.

https://github.com/openspending/os-viewer/blob/master/app/config/index.js

[2017-11-15 12:08] vitorbaptista commented on #1325
@hantongliu I'm not sure about the `cors-anywhere.herokuapp.com`, but vising the OpenSpending page directly is working, https://next.openspending.org/user/check?next=http:%2F%2Fapps.openbudgets.eu%2Fviewer%2Faragon-2007-income__3209b.

I'm closing this issue, as it appears to have been an intermittent problem. Please reopen it if you're still seeing this problem.

[2017-11-15 12:08] #1325 closed

[2017-11-15 12:18] brew commented on #1301
Fixed by openspending/os-api@65615dff6914134182b64561e1a96c7d810c2b5a and openspending/os-api@4f3b5d5281d13a3e3ad62011c96d72c168bc5e29

[2017-11-15 12:18] #1301 closed

[2017-11-15 13:32] vitorbaptista commented on #1319
@pwalsh I'm not sure. It seems like it should be added somewhere around https://github.com/openspending/babbage.fiscal-data-package/blob/09c41506a8b7d70448fc6c6bb5f3efb41ee65630/babbage_fiscal/loader.py#L126, but I don't know enough about the FDP loading process to be able to estimate this without diving deeper. @akariv?

[2017-11-15 13:56] brew commented on #1302
It looks like @vitorbaptista has tackled most of the important libs for this issue.

There are a few others that might need upgrading. This lists the reops that are either < py3.6 or < node 7.x, and I'm not sure if they should be upgraded, perhaps because they are used in other projects, are deprecated, or not used within the OS architecture. @vitorbaptista , please check the list and let me know

[2017-11-15 14:02] #1306 closed

[2017-11-15 14:39] vitorbaptista commented on #1302
* `os-cli` - I'm not sure if this is still used, as it sounds very similar to `gobble`
* `os-api-cache`, `os-auth-client`, `os-package-registry`, `os-fdp-adapters`, `os-conductor`, `cosmopolitan` - They're all internal-only AFAIK, so we should only support what we use
* `babbage.ui` - Although this can be used independently from OpenSpending, I'm happy to support only the NodeJS version we actuall

[2017-11-16 08:07] brew commented on #1302
@vitorbaptista re: gobble, The readme suggests support for 3.3, 3.4, and 3.5, and in the future, 2.7. Currently, the codebase uses `from json import JSONDecodeError` which isn't supported in 3.3 and 3.4 (it was introduced in 3.5). This can be fixed by using `ValueError` instead. However, perhaps we just want to drop support for these versions (3.3, 3.4) that never actually worked in the first plac

[2017-11-16 09:37] pwalsh commented on #1302
As discussed at standup: just go for latest pythons.

[2017-11-16 11:56] michaeljokf opened #1328 "Negative Numbers in OS"
I still do not completely understand what OS does with negative numbers. I have always assumed they are just summed up when the aggregation happens on the higher level.
It is the case for Germany (and probably other countries) that expenditures are not necessarily just negative or just positive but can include both cases (similarly for revenues). Is this considered?

And why does the Treemap not s

[2017-11-17 08:28] vitorbaptista commented on #1239
@brook I have only set up the status.openspending.org. I started looking into how to send NGINX's logs to the DataDog, but it's a quite involved process that I didn't finish. From my research, the flow was from NGINX to Papertrail, then on Papertrail we would create saved search queries, that would send stats (like number of rows) to DataDog.

My priority would be:
1. Make sure all webserver logs

[2017-11-17 16:46] brew commented on #1239
We already have a logspout container running in our stack, which aggregates logs from other containers on the same node, if they write to stdout/stderr, and pushes them to Papertrail.

We need to get our nginx frontend container to write logs to stdout/stderr. This is achieved in this commit: openspending/os-nginx-frontend@04f2df781a53dc375e5c4ec652c4274d7ff23cff by changing nginx.conf in a way th

[2017-11-21 10:18] brew commented on #1239
A short guide for adding Docker hosted nginx log visualisation to DataDog: https://hackmd.io/s/B1XZILlxf

[2017-11-21 17:22] brew commented on #1239
Sentry already enabled for:
- openspending/os-conductor

Sentry added to:
- openspending/os-api
- openspending/os-explorer
- openspending/os-packager

[2017-11-22 11:02] brew opened #1329 "Accessing /admin (no trailing slash) isn't handled by app"
os-admin doesn't correctly handle template rendering when accessing `/admin`. Page renders correctly when accessed with `/admin/`.

<img width="503" alt="screen shot 2017-11-22 at 11 01 12" src="https://user-images.githubusercontent.com/3993/33124346-836316a8-cf74-11e7-83a2-77520f53c277.png">

Related to #1308

[2017-11-24 15:05] brew commented on #1302
The major libs have been upgraded, and various fixes for travis/coveralls added, where appropriate.

I think enough has been done here to consider this close.

wdyt @vitorbaptista @pwalsh

[2017-11-29 06:40] akariv commented on #1182
@pwalsh yes, still relevant.

[2017-11-29 06:58] akariv commented on #910
Just checked - os viewer only uses the URL as a config for the geo visualization.

[2017-11-29 06:59] akariv commented on #910
@pwalsh we can close this.

[2017-11-29 07:00] #910 closed

[2017-11-29 07:09] akariv commented on #1125
We never got to implementing this.
The original purpose was to gracefully degrade the looks of the page for smaller screens (with reduced functionality, as well).
I guess this should take no more than a day's worth of tinkering with the site's CSS.

[2017-11-29 07:09] akariv commented on #998
No, we can close this.

[2017-11-29 07:09] #998 closed

[2017-11-29 07:29] akariv commented on #1215
This issue was a placeholder for all the unknowns regarding the transition.
We can close this I think.

[2017-11-29 07:29] #1215 closed

[2017-11-29 09:31] akariv commented on #1290
Latest version builds with this configuration:
[code]

[2017-11-29 09:31] #1290 closed

[2017-11-29 11:23] akariv commented on #1038
@pwalsh os-conductor uses a strange management system based on node an gulp while being a pure python project.

This issue is to fix that and adapt this project to the OKI standard.
I guess this should take no longer than a day.

[2017-11-29 11:34] akariv commented on #1297
@pwalsh @vitorbaptista I reviewed #1320 - while the Dockerfiles were indeed removed, a lot of other stuff was removed as well - including everything related to the development environment.

If we want to allow people to run this environment locally, we will need to update the docker-compose files, based on the current deployment, so that it's back up again.

[2017-11-29 11:52] pwalsh commented on #1297
@akariv how do we know exactly what can be removed, and what can't? Reassigning to @brew

[2017-11-29 11:52] pwalsh commented on #1038
ok. leaving on backlog

[2017-11-29 11:55] akariv commented on #1324
Once the data is in OS, we can add redirects to OS-Viewer for each of these urls.
Before that, we can add redirects to the legacy server.
It shouldn't take more that a few hours work.

[2017-11-29 11:57] akariv commented on #1297
I marked the important stuff in the PR.

On Wed, 29 Nov 2017 at 13:52 Paul Walsh <notifications@github.com> wrote:

[2017-11-29 12:22] pwalsh commented on #987
@akariv can you write a spec.

[2017-11-29 13:05] #1157 closed

[2017-11-29 13:05] #1293 closed

[2017-11-29 18:37] vitorbaptista commented on #1302
Agreed. Closing the issue, but (as usual) feel free to reopen.

[2017-11-29 18:37] #1302 closed

[2017-11-29 22:24] akariv commented on #1186
Based on our conversations with the OCP folks, I propose we follow their lead and decide that a _unique identifier_ for a fact is simply the list of values of the fields comprising the dataset's primary key.
For valid datasets, this should be enough to locate (at most) one record in the dataset.
This method is also quite resilient to modifications in the data itself - implicitly supporting new or

[2017-11-30 08:02] pwalsh commented on #1186
@akariv

While the three fields above are enough for uniqueness within a Fiscal Data Package, I think for unique and persistent IDs on OS we might need more?

How about:

[code]

And then a simpler URL like:

[code]

WDYT?

[2017-11-30 21:29] akariv commented on #1186
@pwalsh the main problem I see with this approach is that you would need to save these hashes along with the data, which is something that is avoided when not hashing.
Another thing we lose is readability in urls.
Finally hashing tends to be very brittle and would need exact coordination on the hashing algorithm, whitespace, character encoding, data types etc. etc.

[2017-12-01 12:19] michaeljokf opened #1330 "Duplicates Validation Packager"
I am attaching a screenshot. How does OS deal with intended duplicates? What you have right now does not allow for ANY duplicates. I do not see how this behavior makes sense. Have you had this for a while? If you have budget data on a lower level (more like spending data) then it will often happen that you have the same bookings with the same amount...
In my opinion there should only be a "warning

[2017-12-04 10:06] pwalsh commented on #1239
@brew happy with coverage.

Can we get all docs consolidated in a single place somewhere. Ideally docs.openspending.org in terms of what is related to system config, and then, in our private infra doc at OKI for config secrets

[2017-12-04 13:53] brew commented on #1239
- Changed the way clientside apps (os-admin and os-explorer) are configured for Sentry, so they can use DSN values obtained from an env var.

- Added config documentation for apps that use Sentry: http://openspending.readthedocs.io/en/latest/developers/#monitoring

[2017-12-04 16:51] jpmckinney commented on #1186
Readability is not a requirement for identification, e.g. numeric identifiers are very commonly used for identification. You can always use redirects if you really want a readable URL in the end.

A concatenation of values as an identifier seems fine to me. I just want to be sure that the proposed concatenation works for budgets (not just expenditures), e.g. the supplier is typically not known in

[2017-12-05 12:39] brew commented on #1239
Developer details pertinent to the OKI instance of OpenSpending have been added to the [OpenSpending Handbook](https://docs.google.com/a/okfn.org/document/d/1HmZbAeudPC4MBBi8VwWiyzL7cQRgtWP14BFLmQvz-Yc/edit?usp=sharing) (private link)

[2017-12-05 12:40] brew commented on #1240
- OpenSpending status page live at https://status.openspending.org
- User-facing documentation for subscribing to status notifications added to docs: https://docs.openspending.org/en/latest/developers/#status-and-incident-notifications
- Maintainer focussed information about the system we use for status monitoring, and creating ad-hoc incident reports, available in the [OpenSpending Handbook](http

[2017-12-06 09:32] brew opened #1331 "os-api info endpoint should return 404 if slug is undefined, or not found"
Currently the view function doesn't return anything if the package slug is undefined, or not found.

https://github.com/openspending/os-api/blob/201e64a7ca546249cd6813156892f3597e04477b/os_api/info_api.py

https://sentry.io/open-knowledge/openspending-production/issues/408165126/

[code]

[2017-12-12 07:27] #1331 closed

[2017-12-12 09:03] akariv opened #1332 "goodtables upgrade uploads entire file"
OS Packager uses goodtables to validate the source file and extract important features about it (encoding, header names).

Prior to the upgrade to the new goodtables service, client was sending only a small preamble of the file (at most 64KB, rounded to the nearest newline). This way validation completed quickly and users could proceed with mapping.

After the upgrade, that feature is no longer av

[2017-12-12 11:21] akariv commented on #1332
Fixed via https://github.com/openspending/os-packager/commit/e1c601ea57ffc5b3c99297e15488297d805cfbf1

[2017-12-12 11:21] #1332 closed

[2017-12-12 12:15] brew commented on #1321
@vitorbaptista Could you explain this a little more? When you say it should never happen, what should happen instead?

[2017-12-14 16:06] #1282 closed

[2017-12-14 17:43] vitorbaptista commented on #1321
@brew Imagine we have 2 bars with values 1000000000 and 1000. The second one is so small that, in the scale, it ends up having height 0. This means that the user can't hover on it, click on it, or anything. Instead, the bars should have a minimum height, so instead of 0 the height would be 1, 5, or whatever looks better.

[2017-12-15 15:08] brew commented on #1321
This isn't easily achievable within C3 (which babbage.ui uses). No mechanism is provided to ensure a minimum height, without changing the underlying data, which would be more misleading (https://github.com/c3js/c3/issues/1935).

Currently, the tooltip displaying the data value is easily available for each bar, so it is possible to see these values.

Logarithmic plots are another possibility, but a

[2017-12-15 21:06] vitorbaptista commented on #1328
@michaeljokf Visualizations like the treemap and pie charts don't work when there are mixed negative and positive values. Please check https://github.com/openspending/openspending/issues/1319#issuecomment-328057649 for an explanation on why.

Right now, these visualizations only correctly for datasets with only positive values. On #1319 we're thinking on how to make them also work for negative-onl

[2017-12-15 21:06] #1328 closed

[2017-12-17 16:31] michaeljokf commented on #1328
thank you Vitor! I appreciate the info and will look at the other tread!

[2017-12-18 14:42] vitorbaptista commented on #1321
@brew What about using CSS? There's a `min-height` property that might solve this.

[2017-12-20 15:21] brew commented on #1321
I looked into using `min-height`, `height` and a few other CSS options, but nothing like that seemed to work.

[2018-01-07 14:42] pwalsh commented on #1239
Closing this, as it was done in December.

[2018-01-07 14:42] #1239 closed

[2018-01-07 14:42] pwalsh commented on #1240
Closing as done in December.

[2018-01-07 14:42] #1240 closed

[2018-01-07 15:06] pwalsh commented on #1298
@vitorbaptista this is still assigned to you. If work needs to be done, can you provide a description of the work, and, reassign to @brew

[2018-01-07 15:06] pwalsh commented on #1187
@vitorbaptista this is till assigned to you. Can you provide a mini spec for the work, and then reassign to @brew

[2018-01-07 15:07] pwalsh commented on #1304
@cbratsas @larjohn I'm happy to discuss this any time. For now, it is on our backlog.

[2018-01-07 15:15] pwalsh opened #1333 "Easily installable OpenSpending"
# Description

We have been aware of many requests, from governments, to make the new OpenSpending more easily installable on their own infrastructure. We need to scope out this work. We can assume the infrastructure has docker (as the only requirement, rather then, say, a specific Python version, or whatever).

# Tasks

- [ ] What needs to be done to install OpenSpending, versioned, with ease, on

[2018-01-07 15:16] pwalsh commented on #1333
@akariv and @vitorbaptista can you please look at this over the coming week, coordinating amongst yourselves. We need input from both of you on this.

@brew please be in sync with them both too.

[2018-01-07 15:16] pwalsh commented on #1326
@brew is this task done now?

[2018-01-08 07:45] pwalsh commented on #1316
According to Lorena, the pipelines for OS now deal with this directly.

[2018-01-08 07:45] #1316 closed

[2018-01-08 07:48] pwalsh commented on #1315
Explanation from Lorena:

![unnamed](https://user-images.githubusercontent.com/791678/34662391-eb97bb12-f458-11e7-801f-cd398a150f43.jpg)

![unnamed 1](https://user-images.githubusercontent.com/791678/34662399-f8d80e94-f458-11e7-9bc4-c23982ad53c7.jpg)

![unnamed 2](https://user-images.githubusercontent.com/791678/34662407-0559a858-f459-11e7-8fc4-2e5df9ad7b46.jpg)

[2018-01-08 07:49] brew commented on #1326
No. I completed some tasks as part of other work, but the bulk of it remains.

[2018-01-08 07:49] pwalsh commented on #1315
@vitorbaptista can you review this, and sync up with @akariv as needed, and then write an assessment of what, if anything, we can do to support this, or, note that this is a use case that simply will require direct usage of the API, rather than the vis layer.

[2018-01-08 07:50] pwalsh commented on #1225
@annafralberts @michaeljokf want to do a blog post now on the okfn blog?

[2018-01-08 07:51] pwalsh commented on #898
wontfix.

[2018-01-08 07:51] #898 closed

[2018-01-08 07:52] pwalsh commented on #897
@akariv ??

[2018-01-08 07:53] pwalsh commented on #870
@akariv how about now? I assume this is now backed in to DPP

[2018-01-08 08:01] pwalsh commented on #1186
@akariv you've got the email, but for public record in case you need to review, here is how Mexico are currently linking across data standards (FDP <> OCDS):

From Lorena:

[2018-01-08 11:09] vitorbaptista commented on #1298
Nothing was done here. To fix this task, you'll need to add a new donut chart visualization. Maybe the same library that does the pie chart is able to do a donut chart, so it would require minimal code. If that's not the case, and we require a new library to do a donut chart, I wouldn't do it.

A donut chart has the same use as a pie chart (showing parts-to-whole). Some implementations differentia

[2018-01-08 11:40] pwalsh commented on #1298
We are using C3 I think, so this should be easy then:

http://c3js.org/samples/chart_donut.html

[2018-01-08 12:13] vitorbaptista commented on #1187
@brook I think the expected behavior of this task is defined in enough details from @akariv and @kravets-levko's conversation above. The exact implementation, including how/when the user will be able to save, is up to you. Let me know if you have any questions.

[2018-01-08 12:32] vitorbaptista commented on #1315
@akariv Have you seen this issue before? Mexico has a single value that is used as part of two different dimensions, so would need a field with two `columnType`. This will require a change across everything that touches `columnType` (visualizations, schema editor, ...), but now is a good timing, as we'll touch these parts soon as part of moving to FDP 1.0. The question is how important/common this

[2018-01-08 13:04] pwalsh commented on #1297
Closing. The original issue refers to a docker file no longer in use. see: https://github.com/openspending/os-packager/blob/master/Dockerfile

[2018-01-08 13:04] #1297 closed

[2018-01-08 13:08] pwalsh commented on #1321
As noted in https://github.com/openspending/openspending/issues/1321#issuecomment-352028681 we have a hard technical limitation with this. Can't fix, closing.

[2018-01-08 13:08] #1321 closed

[2018-01-08 13:13] brew commented on #1200
@brew to follow up with @vitorbaptista.

[2018-01-08 14:37] annafralberts commented on #1225
Yup, can do :) Will compose something next week.

On 8 January 2018 at 08:50, Paul Walsh <notifications@github.com> wrote:

--
Anna Alberts, Project Manager OpenBudgets.eu
Open Knowledge Foundation Germany
www.okfn.de | info@okfn.de | @okfde
anna.alberts@okfn.de <info@okfn.de> | @Anna_Alberts
Office: +49 30 57703666 0

[2018-01-08 15:40] vitorbaptista commented on #1200
Everything from the [first message](#issue-199868889) is done. The remaining issue is that different categories have the same colour (they should have different colours). For example:

![bar chart with all categories with same colour](https://user-images.githubusercontent.com/76945/34678150-2853d848-f48a-11e7-9746-8b8cc084d4c0.png)

https://openspending.org/viewer/boost:boost-moldova-2005-2014?mea

[2018-01-09 15:55] akariv commented on #1285
Fixed via https://github.com/openspending/os-explorer/commit/026f78a9e3202dcd168a6b1b3bfe115d0d2c8b70

[2018-01-09 15:55] #1285 closed

[2018-01-09 15:56] akariv opened #1334 "Verify google analytics in all apps"
- [x] OS Explorer
- [x] OS Viewer
- [x] OS Packager
- [x] OS Admin

[2018-01-09 15:56] akariv commented on #1334
OS-Explorer fixed via https://github.com/openspending/os-explorer/commit/8d8d9e987723d0aa8f3aa1f391f82ce9a0274a18

[2018-01-10 09:57] akariv commented on #1334
OS-Packager fixed via setting correct env var on production.

[2018-01-10 16:58] akariv commented on #1283
Problem was that validation flow was broken, thus this schema error was not caught in phase 3.
Fixed via https://github.com/openspending/os-packager/commit/b8b34994fdf38936952cead3e3503f4ba99accff

[2018-01-10 16:58] #1283 closed

[2018-01-10 17:17] akariv commented on #1323
I'm trying now to reproduce this issue by following both @michaeljokf and @vitorbaptista 's steps but without success.
Can either one of you please try to reproduce and see it the problem persists?

[2018-01-16 09:26] akariv commented on #1334
OS-Admin fixed via https://github.com/openspending/os-admin/commit/98804d7c09d356a0e22be482a3ec473bc5de44c1

[2018-01-16 09:26] #1334 closed

[2018-01-19 09:00] DianaMPG opened #1335 "Transparencia presupusteria portal down - possibly connected to OpenSpending?"
Transparencia presupusteria portal down (as to Friday 19th, 10 am CET)
http://www.transparenciapresupuestaria.gob.mx/es/PTP/datos_presupuestarios_abiertos
There is the assumption that this might be connected to some issues with OpenSpending.

[2018-01-24 13:01] ralfthesing opened #1336 "datapackage.json - Waiting in queue for an available processor"
Hello, I want to save a budget on openspending. But I get the following message since yesterday (the process stops): datapackage.json - Waiting in queue for an available processor.

[2018-01-24 15:12] michaeljokf commented on #1323
I thought that @vitorbaptista had fixed it?! It was working again in December and I used it quite a lot! Will let you know if it stops working at some point...

[2018-01-24 15:20] #1323 closed

[2018-01-24 17:18] akariv commented on #1336
Thanks for reporting, I'll see what's wrong.

[2018-01-25 08:06] pwalsh commented on #1333
@vitorbaptista can you update here with your findings.

[2018-01-25 11:28] cecilaki opened #1337 "Datapackage publication failed"
I am trying to upload a dataset and the publication process failed at the datapackage level.
Is there anything I need to do ?
What are the validation errors ?

<img width="1241" alt="capture d ecran 2018-01-25 a 12 23 31" src="https://user-images.githubusercontent.com/6681719/35386108-182fe044-01cb-11e8-8b94-dd70c964db1a.png">

[2018-01-25 11:33] pwalsh commented on #1337
hey @cecilaki !!

@akariv @vitorbaptista

[2018-01-25 11:40] cecilaki commented on #1337
hey @pwalsh :) yeah, I was super proud of my mapping ^^

[2018-01-25 12:01] akariv commented on #1337
@cecilaki thanks for reporting this - we need to add these validation errors to the error message here (otherwise it is a bit cryptic, I agree)

[2018-01-25 12:04] cecilaki commented on #1337
Indeed. Would be good to also include a message to know if some action is required on the user side as well.

[2018-01-25 16:19] michaeljokf commented on #1330
Having this issue again today and I am not sure this is how OpenSpending should be working. Again it is nice to be warned about duplicates, but why does OS not allow for any duplicate lines to be read into the data? Do I need to add an budget line ID for the data so that the line varies? I guess that is the easiest fix?!

![screenshot 2018-01-25 17 17 26](https://user-images.githubusercontent.com/

[2018-01-25 18:48] akariv commented on #1330
Yes, at the moment each line needs to be uniquely identifiable and referrable.
Even for spending data, having multiple payments for the same account, still usually contain some sort of transaction id (or even timestamp).
If these are not available, then adding a unique line id is the current solution.

In the future, we might add an automatic fix for duplicate lines, summing them together to a sin

[2018-01-26 09:39] michaeljokf commented on #1330
Ok, good to know! Really irritated me for a minute, but I guess it makes sense! Will just add an ID in case this comes up again. Thanks @akariv

[2018-01-31 10:09] cecilaki commented on #1337
Hi @akariv, any ETA for this issue?

[2018-01-31 12:36] brew opened #1338 "Fix broken links to os-styles/assets in os-explorer"
A number of assets fail to load when accessing the os-explorer:

https://openspending.org/assets/fonts/os-icons/os-icons.ttf?njpg2h
https://openspending.org/assets/icons/search.svg
https://openspending.org/assets/fonts/os-icons/os-icons.woff?njpg2h

These come from os-styles, and are included in the os-explorer build by the gulp pipeline.

[2018-01-31 13:01] #1338 closed

[2018-01-31 16:03] brew commented on #1200
This coloured category issue should not be fixed:

https://openspending.org/viewer/boost:boost-moldova-2005-2014?measure=%22adjusted.sum%22&groups%5B%5D=%22administrative_classification_2.admin1%22&series%5B%5D=%22expenditure_type_2.exp_type%22&order=%22adjusted.sum%7Cdesc%22&visualizations%5B%5D=%22BarChart%22&lang=en

<img width="639" alt="screen shot 2018-01-31 at 15 56 12" src="https://user-im

[2018-02-05 15:11] #1298 closed

[2018-02-07 09:50] brew commented on #1264
@vitorbaptista We no longer have npm-shrinkwrap.json files in these apps. Does package-lock.json provide that functionality now? Can we close this issue?

[2018-02-07 13:40] vitorbaptista commented on #1264
@brook yes, `package-lock.json` is the new `npm-shrinkwrap`. If all of our
nodejs apps have it, this can be closed.

[2018-02-07 13:56] #1264 closed

[2018-02-07 14:14] brew opened #1339 "Tidy up inclusion of os-auth-client libs by os-conductor"
Currently, the javascript auth client lib (https://github.com/openspending/os-auth-client) is generated locally, then manually copied to `os-conductor/conductor/blueprints/user/lib/lib.js`, where the python os-conductor flask app makes it available at the `/user/lib` endpoint.

The endpoint is referenced by script tags in the html templates used by the various Open Spending apps (os-packager, os-v

[2018-02-12 15:19] #1335 closed

[2018-02-12 15:24] #1246 closed

[2018-02-12 15:24] #1247 closed

[2018-02-12 15:24] #1249 closed

[2018-02-12 15:24] #1250 closed

[2018-02-12 15:24] #1251 closed

[2018-02-12 15:29] #1327 closed

[2018-02-12 15:33] pwalsh commented on #1333
@vitorbaptista did this https://hackmd.io/MwEwTMYAwgRgtAQwKZWPALMsAOePEwA2fAdiIIE4BGSgVgDMjYg=

cc @brew

[2018-02-12 16:33] #897 closed

[2018-02-13 09:29] #1337 closed

[2018-02-13 09:37] DianaMPG commented on #1339
@brew does this issue relate to OS Viewer enhancement for GIFT III phase

[2018-02-13 09:41] brew commented on #1339
Not specifically. I capture general issues as I encounter them so they don't get lost.

[2018-02-13 15:43] brew opened #1340 "Improve Docker support for easy in production install"
Currently we have some docker related files within https://github.com/openspending/openspending that aren't directly used for deployment of development, but for reference. These are unmaintained and not actively developed.

We also have a docker-cloud stackfile on docker-cloud used to manage the production deployment of the openspending platform.

As part of #1333, we intend to develop a clear, ve

[2018-02-13 15:54] brew opened #1341 "Docker support for development"
This is a placeholder issue.

Once #1340 is complete, extend docker support to include development options. We want to be able to get a developer up and running with the complete OS platform. This might include things like [fake-s3](https://github.com/jubos/fake-s3) support, and options to use local data storage for the database. Also documentation for how to locally develop individual application

[2018-02-14 10:33] vitorbaptista commented on #1200
Fixed

[2018-02-14 10:33] #1200 closed

[2018-02-14 13:30] pwalsh commented on #1333
reassigned to @brew now we go the spec/overview

[2018-02-16 16:21] brew commented on #1311
This needs to be solved as part of #1333. Apps like os-admin create urls with openspending.org domain regardless of the base url env var.

[2018-02-20 09:28] brew commented on #1340
Several OS app require further work to make them amenable to being 'dockerized'. This includes updating each Dockerfile to make better use of caching, and remove use of git to clone apps. A consistent pattern for passing configuration settings from the environment to each Angular app, so service urls can be customised. Better handling of `authClient.services` and snippets loading (both rely on con

[2018-02-22 14:27] #1311 closed

[2018-02-23 09:32] brew opened #1342 "Use of const in unsupporting browsers causes SyntaxError"
os-styles javascript using ES6 features failing in browsers that don't support it (e.g. iOS 9).

Change `const` to `var` and republish.

https://sentry.io/open-knowledge/openspending-production/issues/470973072/

[code]

[2018-02-23 09:46] brew commented on #1342
Fixed by openspending/os-styles@23a2452317744f9d722e101cf0f489dbf52577da.

[2018-02-23 09:46] #1342 closed

[2018-02-26 09:24] Lunerock opened #1343 "Problems with validation"
Hey

as u you can see in the screenshot, I got some problems with validating the data. Can you help or tell me, what I should do different please?

![image](https://user-images.githubusercontent.com/29628321/36662612-34577b92-1adf-11e8-819f-d36c519eec15.png)

[2018-03-13 09:34] brew opened #1345 "openspending/openspending.org repository"
Currently, the platform 'openspending' is synonymous with the website instance 'openspending.org'. We've been doing work to enable easy installation of the platform for development and production (#1340 and #1341), which has resulted in a clearer deployment strategy for the platform and a better distinction between the platform and .org site (#1344).

I'd like to further separate out the concerns

[2018-03-15 08:03] #1341 closed

[2018-03-15 08:12] brew commented on #1340
This issue is nearly finished. We have a strategy for deploying to Docker from successful travis builds, which I'd like to rollout across the major apps of the platform, and refer to specific Docker image tags in the docker-compose.base.yml file in this repository:

- [ ] os-explorer
- [x] os-viewer (https://github.com/openspending/os-viewer/pull/178)
- [ ] os-admin
- [ ] os-packager
- [ ] os-cond

[2018-03-19 17:12] liyakun opened #1346 "Easily configurable webhooks"
The current implementation of [run_hooks](https://github.com/openspending/os-conductor/blob/c58491061647812bfb79ecd465ec766695cd03eb/conductor/blueprints/package/controllers.py#L128) uses hard encoded domain name [obeu](https://github.com/openspending/os-conductor/blob/c58491061647812bfb79ecd465ec766695cd03eb/conductor/blueprints/package/controllers.py#L123), is it possible to make it also trigger

[2018-03-19 18:42] larjohn commented on #1346
Instead of POSTing files, maybe providing an paginated API response with a list of files and their metadata would be enough for interested parties to pick up.

[2018-03-22 10:13] brew opened #1347 "Redis persistence error intermittently breaks os-api"
Redis is used as a key/value cache for API results by os-api (using the [os-api-cache](https://github.com/openspending/os-api-cache/) library).

Periodically, Redis is unable to persist RDB snapshots to disk and os-api is unable to server requests.

We can temporarily fix the issue by restarting the redis container.

By default, Redis will stop working if background saving of snapshots fail. This

[2018-03-22 10:15] akariv commented on #1347
We should go back to using Memcache for the cache, and remove redis from
the critical path here.

On Thu, Mar 22, 2018 at 12:13 PM Brook Elgie <notifications@github.com>
wrote:

[2018-03-26 16:19] #1329 closed

[2018-03-28 08:11] brew commented on #1347
We get this warning when rebooting the Redis server:

`WARNING overcommit_memory is set to 0! Background save may fail under low memory condition. To fix this issue add 'vm.overcommit_memory = 1' to /etc/sysctl.conf and then reboot or run the command 'sysctl vm.overcommit_memory=1' for this to take effect.`

I'll look into having the Dockerfile set this flag.

[2018-03-28 08:26] brew commented on #1347
And more info: https://redis.io/topics/faq#background-saving-fails-with-a-fork-error-under-linux-even-if-i-have-a-lot-of-free-ram

[2018-03-29 06:06] pwalsh commented on #1340
@brew can this now be closed?

[2018-03-29 06:07] pwalsh commented on #1333
@brew have you addressed all the points in the doc that @vitorbaptista did to scope this? I'm particularly thinking of the S3 replacement for on-premises.

[2018-03-29 06:53] brew commented on #1340
Yes. Any further improvements will be clarified when we get a chance to pilot it.

[2018-03-29 06:53] brew commented on #1333
We provide an S3 alternative for development ([fakeS3](https://github.com/jubos/fake-s3/)), as a convenience, along with other backing services, like postgres etc, which we would expect to be specified as external resources for a production deployment.

I don't think we should explicitly provide the S3 alternative for production deployments. We don't use it ourselves, and can't provide informed su

[2018-03-29 07:09] brew commented on #1347
This has been fixed by setting `sysctl vm.overcommit_memory=1` on our Docker host machines and restarting Redis.

[2018-03-29 07:09] #1347 closed

[2018-03-29 07:16] #1340 closed

[2018-03-29 15:16] brew commented on #1333
Looked a little further to see what would be required to support Minio. Basically we'd need to upgrade boto to boto3 in os-conductor, and migrate the boto methods we use to generate urls. I'll add an issue.

[2018-03-29 15:23] brew opened #1348 "Upgrade OS-Conductor boto dependency to boto3"
To support a broader range of S3 compatible object stores, such as [Minio](https://minio.io/), we would need to upgrade our python S3 library, boto2, to boto3. There are defaults that boto 2 uses that are incompatible with Minio. We would need to set config options, `signature_version='s3v4'` and `region_name='us-east-1'` (https://docs.minio.io/docs/how-to-use-aws-sdk-for-python-with-minio-server)

[2018-04-04 10:03] pwalsh commented on #1260
@DianaMPG done?

[2018-04-04 10:04] pwalsh commented on #1225
@annafralberts interest in still doing this?

[2018-04-04 10:06] pwalsh commented on #1333
@brew can this be closed now?

[2018-04-04 10:06] pwalsh commented on #996
@akariv can this be closed now?

cc @brew

[2018-04-04 10:07] #1180 closed

[2018-04-04 10:07] pwalsh commented on #1248
Was moved out of scope.

[2018-04-04 10:07] #1248 closed

[2018-04-04 10:08] pwalsh commented on #1189
Closing.

[2018-04-04 10:08] #1189 closed

[2018-04-04 10:08] pwalsh commented on #1245
@DianaMPG was this done? It is not assigned.

[2018-04-04 10:18] #877 closed

[2018-04-04 10:18] pwalsh commented on #890
wontfix

[2018-04-04 10:18] #890 closed

[2018-04-05 14:07] badmotor commented on #1346
Any updates on this? This would be relevant for extensions beyond OBEU

[2018-04-05 14:14] pwalsh commented on #1346
@liyakun @badmotor `webhook_obeu_url ` could be replaced with an env var and configured. Would you like to do a pull request with this change?

[2018-04-06 11:28] liyakun commented on #1346
@pwalsh thanks, by this way, the os-conductor still could only serve one fdp2rdf right?

[2018-04-06 11:31] liyakun commented on #1346
I am thinking to get the http request host name at https://github.com/openspending/os-conductor/blob/c58491061647812bfb79ecd465ec766695cd03eb/conductor/blueprints/package/blueprint.py#L93, and webhook_obeu_url will be the fdp2rdf on the corresponding host. In this case, it is possible to send post request to multiple fdp2rdf hosts, how do you think?

[2018-04-07 12:29] liyakun commented on #1346
@pwalsh My above description assumes that the rdp2rdf always runs under the same domain as the http request issuer. This may not be always true, so it could be better to just add one more argument to the http request and run_hook get the rdp2rdf endpoint through the provided argument.

I have modified the code to implement the above idea, you could see the modification in https://github.com/openbu

[2018-04-08 14:33] akariv commented on #1346
@liyakun thanks.

Code looks good (aside from one bug in the blueprint).

Please open a pull request so we can continue the code-review there.

[2018-04-08 16:13] liyakun commented on #1346
@akariv Thanks, the bug is fixed, and I have created a pull request.
It is possibly reasonable to remove the "run_hook" option in os-admin, and leave the "fdp2rdf" endpoint configuration to os-packager, which will trigger the hook every time after a new dataset is uploaded.

[2018-04-08 18:25] liyakun commented on #1346
@akariv sorry, I don't mean that every dataset uploaded to openspending should trigger the hook to send data to pipeline(possibly many instances running on the web, like http://apps.openbudgets.eu/linkedpipes/execute/fdp2rdf, http://example/linkedpipes/execute/fdp2rdf etc). I mean that it is possibly reasonable to make the fdp2rdf endpoint configurable in os-packager, if the fdp2rdf  endpoint exis

[2018-04-10 07:20] brew opened #1349 "Travis fails if PR isn't from origin due to failed Docker push"
Several of the apps in Open Spending build a Docker image and attempt to push it to docker hub if tests pass in Travis. Docker hub credentials are stored as encrypted env vars in the .travis.yml file associated with each repo. These [secure env vars aren't available for untrusted builds](https://docs.travis-ci.com/user/environment-variables/#Defining-encrypted-variables-in-.travis.yml), so the Tra

[2018-04-11 10:03] brew commented on #1187
Notes:

- add two directives to os-viewer:
  - `default-params`: allows package owner to set current view as default params
  - `param-controls`: allows any user to clear the params in the view (removes visualisations and other view parameters, and reset the view params to the owner-defined defaults.

- `default-params` directive will call `services/data-package-api.setDefaultParams` passing the c

[2018-04-13 13:40] brew commented on #1187
Feature now live in production.

<img width="1274" alt="screen shot 2018-04-12 at 10 54 09" src="https://user-images.githubusercontent.com/3993/38737907-a562ca68-3f28-11e8-90e5-acf5712d4347.png">

[2018-04-13 13:40] #1187 closed

[2018-04-19 13:28] brew opened #1350 "Package loader no longer obfuscates email or sets 'private' to default"
Since babbage.fiscal-data-package loader removed as the default package loader and replaced with a datapackage-pipeline method [1][2], we've lost a couple of things the previous loader did. Rewriting the 'author' property to obfuscate the email domain name, and provide a `True` default value to a `private` property. This functionality should be reintroduced.

[1] https://github.com/openspending/os

[2018-04-20 15:47] #1350 closed

[2018-04-25 11:31] DianaMPG opened #1351 "Open Spending Alert System"
The Mexico Secretariat of Treasury and Public Credit team prepared the following analysis of the Alert system functionalities in the https://openspending.org/ website, and that are implemented at  https://status.openspending.org/.

The webpage has a Status module which is separated into the Platforms and Components that Open Spending users have. The Platforms section has: the webpage, API v2 and A

[2018-04-26 21:52] liyakun opened #1352 "Field "id" can't cast value "1" for type "string" with format "default""
I tried to upload a csv dataset into openspending platform,  the dataset is similar with [Merzenich](https://openspending.org/viewer/6c38343baba9d47c1b8efedff36836c4:merzenich1?lang=en). Then the following error was thrown.

The above error seems to be related with the configuration at [config.py](https://github.com/frictionlessdata/tableschema-py/blob/master/tableschema/config.py).

[2018-04-28 19:11] akariv commented on #1253
Draft for blogpost is here:
https://docs.google.com/document/d/1_twsLXcKz1FRo8C67aDGyyr2EEqW1eQNDkNlXfT0Yzc/edit#heading=h.l56ps9m7ndg

It's pretty ready to use, I think.

[2018-04-28 19:26] akariv commented on #1186
So @pwalsh from what I understand, Mexico are using a customised concatenation of ids from their budget files to create the unique id. This is inline with my suggestions from above.
I still think that the actual representation should be determined by the implementation and not standardise it. That is, the spec should explain how unique ids could be combined to create a unique row id, but the exact

[2018-04-30 09:54] pwalsh commented on #1253
Looks good to me.

@DianaMPG ?

[2018-04-30 09:56] pwalsh commented on #1313
Closing this now, and team will start a new process for comments on RC1 after announcement.

[2018-04-30 09:56] #1313 closed

[2018-04-30 11:11] brew opened #1353 "Pin Flask dependency in python apps"
Flask was recently updated to major version 1.0.0, with some breaking changes. We need to ensure we've pinned the `flask` dependency (and extensions) to appropriate versions to prevent inadvertent breakages for new installs and tests.

Eg. for os-conductor's requirements.txt:

[code]

App | Committed | Pushed to Docker Hub | docker-compose updated
--- | ------------| ------------------------- | --

[2018-04-30 15:03] #1353 closed

[2018-04-30 15:17] brew commented on #1351
There are four main tasks here:

1. Look into providing an addition endpoint for datapackage-pipelines dashboard that will return the success status of the last pipeline run as an HTTP status code. This can then be used by our CachetHQ status page setup to provide basic pipeline status reporting.

2. Use the existing status page system to provide notification for large changes that may affect the

[2018-05-01 08:35] brew commented on #1352
Fixed by https://github.com/openspending/os-conductor/pull/33.

[2018-05-01 08:35] #1352 closed

[2018-05-02 16:33] jbothma opened #1354 "Upload status seems broken"
[code]

When uploading a dataset using dpp the last step, reporting loading progress, seems to be stuck at 0

[code]
In my profile view it says something failed
[code]
https://i.imgur.com/I4cyRJI.png

But it looks like my changes are actually online in the public view

[2018-05-02 16:41] jbothma commented on #1354
Nope, it really seems to be broken - the dataset isn't updated. I'm currently unable to fix a typo in the dataset which means I can't get data for a certain jurisdiction in my visualisations.

[2018-05-03 12:16] liyakun opened #1355 "Multiple fields within one package file"
@akariv I have uploaded one csv file [iri_test](https://openspending.org/viewer/5537104a902b0847bb7b474225eced5a:iri_test?lang=en) on 2nd-May-2018 which contains exactly the same data with the csv file I uploaded [packtest](https://openspending.org/viewer/5537104a902b0847bb7b474225eced5a:packtest?lang=en) before that. However, the generated package files [iri_test_package](https://datastore.opensp

[2018-05-03 12:56] akariv commented on #1355
Hey @liyakun -

What's the different information that you've encountered that's was unexpected?

[2018-05-03 13:33] liyakun commented on #1355
@akariv Thanks for your quick reply. It seems that the package file also keeps information from "example-data__2016.csv", "example-data__2017.csv" and "example-data__2018.csv". I think that they might be the files split from the original file by "year", but I am not sure.

[2018-05-03 17:37] akariv commented on #1355
Yes, these resources are automatically added for source data that spans over more than one fiscal year.

[2018-05-03 17:47] liyakun commented on #1355
Is this feature newly added to the package file? It seems that if there is only one fiscal year, there is also a duplication of it, for example [recenter_2017](https://datastore.openspending.org/5537104a902b0847bb7b474225eced5a/recenter_2017/final/datapackage.json). Is it possible to avoid this? Thanks.

[2018-05-04 09:05] brew opened #1356 "Datapackage Edit is broken for Packager"
Attempting to edit an existing package is broken for recently uploaded packages. If the 'Edit' action is clicked in the admin, but Packager doesn't load the existing package, but instead shows the upload step for new packages. We expect to see the 'Describe Data' step, pre-populated with os-types values from the package being edits. I believe this is due to the datapackage url using 'https' instea

[2018-05-07 10:14] liyakun commented on #1355
@akariv Is there a documentation about how the newest package file works? For example, if there is at least two csv files in each package file, does it mean that there are actually two seperate csv files split from the original uploaded file?

I am asking this because the new package file causes the failure of the pipeline. Thanks.

[2018-05-10 11:01] #1355 closed

[2018-05-10 11:13] liyakun opened #1357 "package status checking never finish for dataset named with "11th_test""
I tried to upload a csv file through the openspending packager, but the upload process was stuck at the package status checking process like shown in the following figure even though the dataset and package file were already available. The file is available at [11th_test](https://openspending.org/viewer/5537104a902b0847bb7b474225eced5a:11th-test?lang=en).

![image](https://user-images.githubuserco

[2018-05-11 11:31] badmotor commented on #1357
This issue seems to happen specifically when there is a "_" (underscore) character in the ID of the data package

[2018-05-11 11:41] akariv commented on #1357
Thanks for reporting!

I will check this issue asap.

On Fri, May 11, 2018 at 2:31 PM badmotor <notifications@github.com> wrote:

[2018-05-20 05:44] akariv opened #1358 "'Save as default' shouldn't appear for non-logged-in users"
<img width="515" alt="screen shot 2018-05-20 at 8 41 30" src="https://user-images.githubusercontent.com/265333/40276110-f341b5ca-5c09-11e8-94f7-5e482f392e07.png">

[2018-05-23 07:25] akariv opened #1359 "Running the pipeline consumes large amounts of memory"
Seems the memory is linear to the number of rows.

Initial findings:
- Memory taken by the `join` processor
- Probably related to the leveldb library.

[2018-05-28 12:58] jbothma opened #1360 "small decimal returned when integers were uploaded"
The 2014 actual expenditure (audited outcome) for Transport department is expected to be  49147098000 :

[estimates-of-national-expenditure-south-africa-2017-18-fraction-test.xlsx](https://github.com/openspending/openspending/files/2045094/estimates-of-national-expenditure-south-africa-2017-18-fraction-test.xlsx)

but the API returns 49147098000.00001:

https://openspending.org/api/3/cubes/b9d2af8

[2018-05-28 13:00] jbothma commented on #1360
This isn't super urgent for me but might might indicate a problem with using floats instead of decimals somewhere.

[2018-05-28 14:25] liyakun opened #1361 "Error: Failed to load package data"
Hi, I was trying to upload a csv file which is about 64.4Mb, and it contains 413839 rows including the header.

It took about an hour to load data, and then an error was thrown as follows:

![image](https://user-images.githubusercontent.com/7370334/40618951-78e72a90-6293-11e8-9110-8cd6fce432b1.png)

But it seems that the package file was already available at [package.json](https://datastore.opensp

[2018-05-28 14:54] pwalsh commented on #1253
https://blog.okfn.org/2018/05/28/introducing-version-1-of-the-fiscal-data-package-specification/

[2018-05-28 14:54] #1253 closed

[2018-05-30 09:47] ChriKu84 opened #1362 "Error: datapackage.json - Failed"
Hi, trying to upload an csv file i get the following error. A few months ago it worked with the same file.

![unbenannt](https://user-images.githubusercontent.com/39762008/40712704-9fa64e6a-63fe-11e8-89b6-5309be52822f.png)

Could you take a look?

Thanks.

[2018-05-31 06:38] akariv commented on #1256
I'm not sure this is a good idea - this change might affect the API names and might break things for users in ways we can't foresee.
I think FDPv1 should be applied to all new datasets only.

[2018-05-31 07:02] pwalsh commented on #1256
@akariv that is fine, I just want to then be sure that there is no unexpected breakage, that we know about any possible limitations on old datasets in terms of functionality and so on.

cc @sandervdwaal

[2018-06-01 05:27] akariv commented on #1314
The places that touch the data package, modify it or parse it are:
- os-packager (when creating a datapackage)
- os-packager also uses os-types internally (to create the model and get information about the types)
- os-packager also parses a package in edit mode
- os-conductor (and dpp-fiscal) read a package and then create a new one
- os-viewer reads the package to show stuff correctly to the user

[2018-06-01 18:37] akariv commented on #996
@pwalsh
Previous work regarding this took the approach of doing the normalization in the api server itself, while loading the data. Some work was done there (mainly for generating the babbage model) but it was not completed.

Now I think that the best approach would be to consolidate the pipelines server that we already and the api loader so that it's basically the same entity - the pipelines serv

[2018-06-01 18:37] #996 closed

[2018-06-01 18:37] #1186 closed

[2018-06-01 18:37] #1324 closed

[2018-06-11 08:44] DianaMPG commented on #1244
Tania and I decided that it would be more helpful to translate the intro to OpenSpending to Spanish since the Spanish speaking partners are becoming more. Oscar translated it.

https://docs.google.com/document/d/1_S8Jqux4CTTRDH_4TcG5hTZ0xOSn9C4TYrBYs8uu8Ks/edit

[2018-06-11 09:15] DianaMPG commented on #1245
@pwalsh

[2018-06-11 09:27] DianaMPG commented on #1245
@jobarratt
As a first step, Lieke had worked on an update of the OpenSpending documentation
https://docs.google.com/document/d/1eUP3hEwOD4N7Vc1JEl7uQ5la2FCi67wnBi2ggsf82fg/edit#

In a next step, Adam and I were supposed to work on an online tutorial but we couldn´t find a time slot, so this is still open.

[2018-06-11 12:33] jobarratt commented on #1244
OK so this is no longer a deliverable for GIFT III that needs to be close. I have removed the labels, but keeping the issue as i think it is still important to do.

[2018-06-17 15:55] florent-andre commented on #1336
Same here for this datapackage :
https://openspending.org/package/status?datapackage=https://s3.amazonaws.com:443/datastore.openspending.org/74ad33ef9a3354fe679b79fe4accff12/budget-assemblee-nationale-france/datapackage.json

Thanks.

[2018-06-17 15:59] florent-andre opened #1363 "visualizations don't work"
Actually this type of visualizations says "no data to display", but data come back from request :
- pie chart
- donnut chart
- bar chart
- line chart

For example :
https://openspending.org/viewer/74ad33ef9a3354fe679b79fe4accff12:budget_mairie18?measure=%22Mandate_Titre_apres_regul.sum%22&visualizations%5B%5D=%22LineChart%22&lang=en

[2018-06-17 16:01] florent-andre opened #1364 "Redash (DataMine) unavailable on K8S (default backend - 404)"
When I click on "Analyse this data set in the Data Mine", this message appear :
"default backend - 404".

Example :
https://rd.openspending.org/queries/new?queryText=SELECT%20*%20FROM%20fdp__74ad33ef9a3354fe__budget_mairie18__154e9c63%20LIMIT%2010&focusedTable=fdp__74ad33ef9a3354fe__budget_mairie18__154e9c63&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyaWQiOiI3NGFkMzNlZjlhMzM1NGZlNjc5Yjc5ZmU0Y

[2018-06-17 16:22] florent-andre commented on #1336
ok, this was due to the same issue as here (underscore) : https://github.com/openspending/openspending/issues/1357

[2018-06-17 16:26] florent-andre opened #1365 "Sharing visualisation don't include 'filter' options in query string"
Before the "tiny url" function, the url provided was up to date with the current selection.
The tiny url stuff just save the first, by default visualisation (no keeping choice of filters).

[2018-06-27 11:34] brew opened #1366 "Partial package stored in Elasticsearch"
os-explorer search was [reported as broken](https://gitter.im/openspending/chat?at=5b30a71d960fcd4eb920d3ff). This was due to a partially complete package in Elasticsearch which was missing the `package` property, required by the result parsing code.

A fix was written to check each package and filter out results without a `package` property (https://github.com/openspending/os-explorer/commit/f439

[2018-06-29 10:02] brew commented on #1351
@jobarratt Possible actions for your review from the above:

1. Add datapackage-pipeline status as a component of the availability status page (status.openspending.org)

2. Add support contact details to head of status page.

3. Pro-actively use the status page to provide notifications for large changes that may affect platform availability or stability.

[2018-06-29 10:06] brew commented on #1364
Thanks for the report @florent-andre. We'll be taking a look at this, and using this ticket to track the issue.

[2018-06-29 10:08] brew commented on #1364
Redash, used by OpenSpending as the 'Data Mine' component, has been unavailable since the kubernetes migration. It should be available at https://rd.openspending.org.

`default backend - 404` usually means there are no ingress rules in place for the domain. Either because the app isn't set up at all, or it is misconfigured.

[2018-06-29 11:04] brew opened #1367 "Upload progress not updating correctly in os-packager"
Upload progress isn't updating in the browser correctly. It also fails to correctly show when the upload process is complete. This leads to confusion as to whether an upload is working/failed/slow/complete. Often, the package has successfully completed uploading, and can be accessed from the search or user admin package lists, but there is no indication that upload finished in the packager.

It is

[2018-06-29 11:06] brew commented on #1357
Closed as a duplicate of #1367.

[2018-06-29 11:06] #1357 closed

[2018-06-29 11:06] brew commented on #1336
Closed as a duplicate of #1367.

[2018-06-29 11:06] #1336 closed

[2018-06-29 11:06] brew commented on #1354
Closed as a duplicate of #1367.

[2018-06-29 11:06] #1354 closed

[2018-06-29 11:10] brew commented on #1213
@pwalsh In light of https://github.com/okfn/devops/issues/104, is this still relevant?

[2018-06-29 11:41] brew opened #1368 "Move Users data from ElasticSearch to Postgres"
Currently users are stored in an ElasticSearch index. It would be more robust and better for backup purposes to move this data to a table in the postgresql database associated with the application.

[2018-06-29 11:45] brew opened #1369 "Ensure package index can be recreated from S3 datastore"
We rely on the ElasticSearch packages index for correct functionality of Open Spending. While theoretically this can be recreated from the AWS datastore (which is considered the source of truth for the application), we should ensure this is possible, both in practise, and in a timely manner.

- [ ] A script to validate `packages` index in ElasticSearch against AWS datastore datapackages.
- [ ] A s

[2018-06-29 12:10] brew opened #1370 "Combine frontend micro-services"
Open Spending frontend applications are separated into a micro-services architecture, with network communication between each service using HTTP APIs. While this theoretically allows decoupling of services and potentialyl rapid development iteration, in practise, this has led to losing functional and visual cohesion across the application, and repetition of common services.

By combining them into

[2018-06-29 12:26] brew opened #1371 "Combine backend micro-services"
Open Spending backend services are separate python Flask applications, communicating via network APIs.

Currently, these app are tightly bound in functionality, and arguably little benefit to keeping them separate. These apps can be brought together and served as separate Flask Blueprints.

Application candidates for this:

- os-conductor (user management, datastore management,  various 'misc' fun

[2018-06-29 12:55] michaeljokf opened #1372 "Packager: Upload progress not shown"
Hello,

the upload progress is not shown in step 4 of the packager. See screenshot. In the inspect-mode it looks like data is still being uploaded. After Brook mentioned it, I checked the admin page and saw that the file actually uploaded. File also attached.
This is really bad for the users, because it does not give any feedback on successful upload and does not show the progress. Maybe you guys

[2018-06-29 13:01] brew commented on #1372
Thanks for the report and details. Very useful and we'll definitely be looking at this soon. Closing this as a duplicate of #1367.

[2018-06-29 13:01] #1372 closed

[2018-07-01 21:20] GeraldGrootRoessink opened #1373 "cannot start working on openspending"
Hi,
I’m trying to start working om Openspending following the instructions. Would appreciate some help getting there. I'm using window 10 (home) and  the old docker toolbox. As such that works as expected.

On 192.168.99.100  I’m getting these responses:
	Port 9200:  ES : some json
	Port 4567: Fake3: some xml
	Port 6379: Redis: some error-text probably because request this looks like a security at

[2018-07-02 06:11] brew commented on #1373
The os-api error happens while Elastic Search is starting up. os-api will keep restarting until ES is available, where it should then start up normally. This shouldn't take very long though, so if os-api keeps crashing, then something else may be wrong.

[2018-07-04 05:04] GeraldGrootRoessink commented on #1373
Good to know. Indeed in the end there is an ES connection.  But still, even after redoing the installation, results are the same.  Localhost refuses connection.

[2018-07-04 07:04] brew commented on #1373
Perhaps you're running another web server on port 80 on your local machine? It's probably not a good idea to run this on port 80 anyway, so  I've committed a change to serve the application on port `8080`, instead of `80`. Pull the most recent version of this repo, and try again, this time browsing `localhost:8080`.

If you still encounter problems, please show me the command you run, the contents

[2018-07-04 12:23] liyakun opened #1374 "502 Error to get countries in os-packager"
Hi, page https://cosmopolitan.openspending.org/v1/countries/?format=json is not accessible.
"Error 502 Bad gateway" was returned.

[2018-07-04 14:05] pwalsh commented on #1374
works now for me, from here. infrastructure provider issue?

[2018-07-04 14:43] brew commented on #1374
I believe so. It works now, but we're continuing to keep an eye on it. I'll close this issue, but feel free to open again if it remains a problem.

[2018-07-04 14:43] #1374 closed

[2018-07-04 17:54] GeraldGrootRoessink commented on #1373
@brew: Appreciate the help.
No luck sofar. Chrome calls this ERR_CONNECTION_REFUSED.  It's a timeout I suppose. There's no response.
## Pulled images:
$ docker image ls
REPOSITORY                     TAG                 IMAGE ID            CREATED             SIZE
openspending_frontend          latest              fb58ccd08c31        13 hours ago        19.1MB
ull_frontend                   latest

[2018-07-05 08:45] brew commented on #1373
That all looks correct. I'm not sure what else to suggest. Perhaps it's worth upgrading the Windows Docker toolkit, and use the more recent Windows Docker installer instead? https://docs.docker.com/docker-for-windows/install/

[2018-07-06 15:59] brew commented on #1314
To expand on what Adam says above, some notes...

The main change we are concerned with as the FDP spec moves from v0.3 to [v1](https://github.com/frictionlessdata/specs/blob/master/specs/fiscal-data-package.md), is where fiscal modeling concepts are defined. It has moved from a dedicated top-level `models` property, to a `columnType` property on each field in the resource schema. Additionally, so

[2018-07-08 15:05] GeraldGrootRoessink opened #1375 "Make datapackage email address optional and configurable"
Just uploaded a serious dutch dataset on education on open spending.  Very pleased with the possibilities.  There's a crucial privacy issue  though.  The emailaddress I used to login on the platform is publicly visible.  That is not what I want. Questions or remarks are welcome naturally but not in my private email box. I want to change this tot my employer's.

[2018-07-08 17:25] GeraldGrootRoessink opened #1376 "suggestion: uri 's to identify things"
The following dataset is about schools in the Netherlands

https://openspending.org/viewer/ed6eb7eb49eb2620da97599cfeae0456:balansen-onderwijs-nl-v0-4-9?measure=%22balanswaarde.sum%22&groups%5B%5D=%22bevoegd_gezag.bevoegd_gezag%22&order=%22balanswaarde.sum%7Cdesc%22&visualizations%5B%5D=%22Treemap%22&lang=en

Each school is identified with a resolvable uri. It is an hyperlink and it allows us to n

[2018-07-09 08:53] brew commented on #1375
Thanks for the report, and I totally understand your concern.

At the moment, datapackages are published to the datastore with the email address of the Google account used to log into Open Spending, and this isn't configurable. Ideally, the email address would be both optional, and configurable as metadata for the datapackage during its creation with OS-Packager. We will look into solution for thi

[2018-07-12 08:23] brew commented on #1356
Related, `/packager/proxy` returns a 403 for `?url=https://datastore.openspending.org...` urls. For local testing, the edit page loads, but with various issues, including multiple data description boxes for each field type. This is assumed to be because data description boxes are being loaded for each resource in the datapackage.json, and since the api loader was changed to use datapackage-pipelin

[2018-07-16 10:19] brew commented on #1356
Some fixes have been deployed to get edit working in the general case, but issues still exist for editing packages with hyphens or underscores in the package id.

[2018-07-19 11:08] brew commented on #1314
Dear reviewer,

There are two main changes to bring Open Spending up to FDPv1 spec:

1) Changing the resource schema property `osType` to `columnType`
2) Updating fiscal model field types to reflect FDPv1 [budget taxonomies](https://github.com/frictionlessdata/specs/blob/464ea60e17fbd41ea73f9501b63e4bb6977a2b93/specs/fiscal-data-package--budgets.md)

Here are the PRs for the four repositories that

[2018-07-19 13:51] brew commented on #1314
@akariv Can you review the changes detailed in the above comment?

[2018-07-19 18:54] akariv commented on #1314
@brew sure, on it.

[2018-07-20 13:52] brew commented on #1356
Better support for hyphens and underscores added by https://github.com/openspending/datapackage-pipelines-fiscal/commit/5f7607a4f5ad4cefab4e437a77419b4d09b90450

[2018-07-23 11:06] akariv commented on #1314
Done @brew, great work!

[2018-07-23 11:43] brew commented on #1314
Thanks!

[2018-07-23 13:04] brew commented on #1314
This is done and deployed.

[2018-07-23 13:04] #1314 closed

[2018-07-25 09:57] brew opened #1377 "Malformed URL for raw datapackage download"
Links to some uploaded packages are malformed, resulting in dead links and inability to download datapackages and raw csv files.

These links are created from the results of an os-api request to `/api/3/info/667df60aa07c34260eae9b55b2778712:presupuesto_mexico/package`, which uses `os-package-registry` to query ElasticSearch. Links are created from the `__origin_url` property.

![0](https://user-im

[2018-07-25 13:40] liyakun opened #1378 "Error while validating the csv file"
Hi, I was uploading a csv file in http://openbudget.kdvz-frechen.de/packager/, but during calling the goodtables.io api, my browser was trying to access "http://openbudget.kdvz-frechen.de/packager/proxy?url=undefined" in the provide-data step. Do you have ideas about this? thanks.

[2018-07-25 13:58] liyakun commented on #1378
Hi, the same issue also happens in openspending platform, please have a look at it asap, thanks a lot.
![image](https://user-images.githubusercontent.com/7370334/43205344-745575fa-9023-11e8-8f39-f0a42b06eeeb.png)

[2018-07-30 11:22] liyakun commented on #1378
Hi, the steps to reproduce the issues is as follows:
1. Go to https://openspending.org/packager/provide-data
2. Click "Upload a file" button and upload a csv file, there are sometimes the following error were thrown by the web browser

![image](https://user-images.githubusercontent.com/7370334/43394629-aa558ca4-93fb-11e8-8cf9-f7e76876621c.png)

[2018-07-31 06:47] brew commented on #1377
This was only half resolved. It seems another layer of caching is involved with whether the pipeline will run the necessary steps to invalidate the Redis cache. datapackage-pipelines uses a processor cache, which may be interfering  with the correct running of `update_model_in_registry` processor.

[2018-07-31 13:49] brew opened #1379 "Search without diacritics"
Currently, diacritics are significant when searching Open Spending for datasets using os-explorer. So, 'Mexico' will return different results than 'México'. We should be more forgiving of user input without accents and other diacritics and allow a liberal search terms. Relevant ElasticSearch docs: https://www.elastic.co/guide/en/elasticsearch/guide/1.x/asciifolding-token-filter.html

[2018-08-01 09:00] brew commented on #1378
@liyakun Thanks for the report. This is an issue with the goodtables service (https://github.com/frictionlessdata/goodtables.io/issues/317), which we think should now be resolve. Please let us know if you continue to have problems with this.

[2018-08-01 09:00] #1378 closed

[2018-08-01 09:41] liyakun opened #1380 "Concatenate Assertion Error"
Hi, I got the [concatenate assertion error](https://openspending.org/package/status?datapackage=https://s3.amazonaws.com:443/datastore.openspending.org/5537104a902b0847bb7b474225eced5a/test/datapackage.json) while uploading the same csv file as in https://openspending.org/viewer/5537104a902b0847bb7b474225eced5a:merzenich2013slim2?lang=en .

[2018-08-01 12:35] brew commented on #1377
Additional issue preventing proper clearance of all cached responses for a particular context key...

os-api-cache manages a set of keys for each dataset id (a context set), representing all api endpoint calls for that id. On a request, os-api attempts to get the cached value from os-api-cache for the direct endpoint key (note, **not** via the context set). If the key isn’t there, the response is

[2018-08-01 13:27] liyakun commented on #1380
Hi, the following is a screen shot of the issue:

![image](https://user-images.githubusercontent.com/7370334/43524345-5494f1f6-959f-11e8-8c41-1e60526b31c5.png)

[2018-08-02 06:25] brew commented on #1377
Pipelines re-run, and affected dataset links are fixed!

[2018-08-02 06:25] #1377 closed

[2018-08-02 14:40] brew commented on #1358
Fixed by https://github.com/openspending/os-viewer/commit/be6b5b6886859da3214b9832af87240d99d54eae

[2018-08-02 14:40] #1358 closed

[2018-08-03 08:38] brew commented on #1380
@liyakun We made some changes to bring the datapackages produced by os-packager up to FDP v1 specification[1][2]. This resulted in two main changes for fiscal.source-spec.yaml definitions:

1) `osType` property is now `columnType`
2) `:code:full` and `:code:partial` properties are now just `:code`

Because you're using a custom packager frontend, which pre-defines columnTypes (https://github.com/o

[2018-08-03 14:06] #1367 closed

[2018-08-03 14:09] brew commented on #1367
This is the text from the commit that fixes this issue:

[2018-08-03 14:10] brew commented on #1361
This is very likely the same issue as #1367, which should now by fixed.

[2018-08-03 14:10] #1361 closed

[2018-08-03 15:08] liyakun commented on #1380
@brew thanks a lot, after updating to new package format, the issue is solved.

[2018-08-03 15:08] #1380 closed

[2018-08-06 08:59] #1356 closed

[2018-08-06 11:12] #1038 closed

[2018-08-13 14:25] sandervdwaal commented on #1256
Discussed with @brew - we are closing this to prevent unintended side effects.
Editing a fiscal data package will upgrade to v1.0 when saved.
Open question about versioning of data packages will be addressed elsewhere.

[2018-08-13 14:25] #1256 closed

[2018-08-14 11:50] brew opened #1381 "Improve automated data harvesting in os-data-importers"
Government/Institution users need to be able to define a list of resources and processing steps to output a datapackage to OpenSpending, without having to manually create or edit using os-packager. We have a prototype datapackage-pipeline suite running for Mexico ([os-data-importers](https://github.com/openspending/os-data-importers)). This helps keep OpenSpending data up to date. os-data-importer

[2018-08-17 09:43] brew opened #1382 "Separate source-specs from application code in os-data-importers"
Currently, we have a prototype datapackage-pipeline suite running for Mexico ([os-data-importers](https://github.com/openspending/os-data-importers)). Changes to a country’s source-spec require a redeployment of the entire datapackage-pipelines application, in the event of which, all pipelines are re-run. This can be improved by separating the source-spec configuration from the application code, t

[2018-08-17 11:40] brew opened #1383 "Improve pipeline status reporting and dashboard"
[datapackage-pipelines](https://github.com/frictionlessdata/datapackage-pipelines) provides a web dashboard to show each pipeline's status. A couple of fixes and additions can be made to improve the automatic data harvesting experience for OpenSpending (#1381), and for datapackage-pipelines in general.

Although the main endpoint works, a few of the other endpoints defined for the [server](https:/

[2018-08-17 12:52] brew opened #1384 "Documentation for automatic data harvesting"
As part of #1381. Once work is complete on improving the data harvesting and pipeline status dashboard, we should improve documentation for users of the automatic data harvesting pipelines. Currently, [os-data-importers](https://github.com/openspending/os-data-importers) provides a very basic description of functionality, and no guidance for its use, either self-hosted, or how to contact the OpenS

[2018-08-22 10:03] sandervdwaal opened #1385 "Support requests by Croatian government"
Here are the activities identified by Croatia as the ones for which they would need our technical support:

- [x] - To delete existing data in OPFD, as they were meant for pilot purpose.
- [x] - To translate left part of menu into Croatian an potentially to change some things
- [x] - To change header of report for uploading – this is probably most difficult part as pipeline has to be modified
- [x

[2018-08-25 13:53] loleg opened #1386 "Viewer crashes with state undefined"
Tested with Chrome & Firefox on Linux. The interface "blinks" then the loader is stuck forever. [Package link](https://openspending.org/viewer/9250c77568f743a0308555f13c47735d:makeopendata-budget-ch-stadt-zurich). Console log:
[code]

[2018-08-31 09:18] sandervdwaal opened #1387 "Link to OpenSpending Community site not working"
When going to the Packager and starting the process to upload a budget file, the page shows a button 'OpenSpending Community' in the bottom right corner. Nothing happens when I click it.

I expect it to take me to http://community.openspending.org in a new window.

[2018-08-31 09:19] sandervdwaal commented on #1386
Thanks for reporting @loleg - I get the same result. We'll look into this.

[2018-08-31 09:46] brew commented on #1385
@sandervdwaal

I don't understand the request. Can you expand, and create a separate issue if necessary.

I believe OS supports some level of translation, as Mexico uses it. Where it says 'left part of menu', which page are we talking about? The viewer?

I don't know what this refers to.

Again, I don't understand what's being requested here. Support to create new datasets on OS?

This looks like

[2018-09-02 05:48] akariv commented on #1385
There are a few datasets under the main openspending account that were added at some point (iirc through os-data-importers). We can delete or unpublish them.

Only the viewer supports translations atm, and it can be added by adding a translations json file (there are already ones for Spanish, German etc.)

I'm guessing this means making some modifications to the pipeline (title, sources), and re-r

[2018-09-03 14:11] brew opened #1388 "Remove pilot Croatia datasets"
Identify and remove old datasets created as part of a pilot with Croatia. These should be removed from both Openspending.org and os-data-importers.

[2018-09-03 14:15] brew opened #1389 "os-viewer translation for Croatia"
Translations for os-viewer use [node-polyglot](http://airbnb.io/polyglot.js/). Translation files are in the [os-viewer/translations directory](https://github.com/openspending/os-viewer/tree/8f8d705383aa982e1a8d318774fc8aef515da95e/translations). Copy the `en.json` file, renaming it with the [two-letter country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) for the language, i.e. `hr.json`

[2018-09-04 07:56] brew commented on #1385
@sandervdwaal I've added some detail about os-viewer translations to the ticket: https://github.com/openspending/openspending/issues/1389

[2018-09-04 08:14] cchhss123 opened #1390 "“An error occurred while transferring the file” - help"
I encountered a problem.

I had setup OpenSpending platform in my machine. (setup OpenSpending platform by Docker containers via Docker Compose)

When I try to upload a file in “packager/provide-data” page (Provide a CSV file containing fiscal data).
This message was showing as “2017 general budget_Capital Account.csv - Failed
An error occurred while transferring the file.”

Someone can help guide

[2018-09-07 07:13] sandervdwaal opened #1391 "Updated Links to BOOST"
The BOOST Website has different URLs.

Old format: `http://wbi.worldbank.org/boost/****`

New format: `http://boost.worldbank.org/****`

Old links continue to work with the new format.

[2018-09-07 07:14] sandervdwaal commented on #1391
This is now fixed in https://github.com/openspending/os-data-importers/pull/53

[2018-09-07 08:53] brew commented on #1391
Do you want this redeployed?

[2018-09-14 09:25] jobarratt opened #1392 "Upload new data for 2016, 2017 and 2018"
Croatia will send a new budget file for 2016, 2017 and 2018 for OKI to load into the platform

[2018-09-14 09:28] jobarratt commented on #1392
Comment from Croatia. @brew are you able answer this? If not please an you discuss with @sandervdwaal  throughout the week as he will not be availible in sprint planning. Data will be provided 'in the next two weeks' and we should action immediately. The deadline is the 28th, though this is obviously dependent on them getting the data to us.

"as to About replacing existing data with new dataset f

[2018-09-14 09:29] jobarratt commented on #1388
To be actioned once https://waffle.io/openspending/openspending/cards/5b9b7e700ac3d7001af619ff have been completed.

[2018-09-14 09:31] jobarratt commented on #1385
@sandervdwaal do you have an update on the second bullet point?

On the regular process for uploading, can we tick this off? I assume the process is that they email us the data as and when it is ready?

[2018-09-14 09:52] brew commented on #1392
Resources are replaced as a whole. If the resource is replaced, all lines will be updated.

[2018-09-14 11:31] brew commented on #1388
There are two datasets related to Croatia:

https://openspending.org/viewer/6018ab87076187018fc29c94a68a3cd2:croatia-budget-plan?lang=en - this is created by the [os-data-importers spec](https://github.com/openspending/os-data-importers/blob/2ebdf73b7ce50743893a95d8265fc30b216dff40/europe/croatia/fiscal.source-spec.yaml)

https://openspending.org/viewer/667df60aa07c34260eae9b55b2778712:croatia-bud

[2018-10-01 14:04] brew commented on #1389
Instructions for translations provided to Croatia. Awaiting feedback.

[2018-10-04 08:31] jbothma opened #1393 "suggestion: Babbage API endpoint URL in UI"
### User Story:

As a data owner I would like to find the Babbage API endpoint for a given dataset after uploading the data so that I can add it as a resource in my CKAN budget data portal.

### Suggestion:

Perhaps it can be an additional item beside the dataset in Admin:

![openspending-admin](https://user-images.githubusercontent.com/235801/46462056-a757d680-c7c0-11e8-98d0-ff8cc727f992.png)

[2018-10-04 08:36] jbothma opened #1394 "suggestion: Babbage API endpoints map"
### User story

As a developer I'd like a root babbage API endpoint which links to the model, aggregate, facts, members URLs and so on.

I'd additionally like to programmatically find a link to the dataset in Viewer so that I can generate links to specific views (e.g. a summary of expenditure by programme for a given department in a given financial year)

### Suggestion

We did something like this

[2018-10-04 10:20] jbothma commented on #1393
It could also be well-placed on the Viewer interface, perhaps at the bottom by the CSV links so that all users (not just owners) can access it easily without resorting to looking it up in the ajax requests made by the browser.

[2018-10-04 10:42] jbothma opened #1395 "suggestion: "done" button when adding vizs to viewer"
When adding visualisations in Viewer, it's sometimes confusing that I need to click the cross to hide the viz addition modal dialog. I forget that I can add multiple. People might expect the dialog to hide itself after adding a viz.

I think a little "Done" button at the bottom right where it tends to be would be handy to make that part of the flow really clear.

![openspending-viewer-add-chart](h

[2018-10-04 10:44] jbothma commented on #1363
Not sure if it's the same issue, but it's not clear why the bar chart has nothing to show here but the other options do https://openspending.org/viewer/b9d2af843f3a7ca223eea07fb608e62a:estimates-of-provincial-expenditure-south-africa-2018-19-shifted-econ-classes?measure=%22value.sum%22&groups%5B%5D=%22programme_number.programme_number%22&series%5B%5D=%22economic_classification_2.economic_classific